<app-header />
<section class="container-banner-page">
    <div class="overlay-container"></div>
    <div class="container-center-items">
        <div class="wrapper-items">
            <h1>
                NUESTRO DIRECTOR
            </h1>
            <!--
             <p>
                Nuestra Visión es ser la institución líder de educación superior técnica en el Perú con alcance a nivel nacional.
            </p>
           -->
        </div>
    </div>
</section>

<section class="container-little-title">
    <div class="container-center flex items-end gap-1">
        <span>
            <a [routerLink]="['']">
                <img src="assets/house-logo.svg" alt="house logo">
            </a>
            <i>
                <img src="assets/arrow-to-right.png" alt="arrow to right">
            </i>
        </span>
        <span class="flex items-center">
            <span class="little-title">DIRECTOR</span>
        </span>
    </div>
</section>

<div id="director" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-8">
        <div class="flex justify-center">
            <div>
                <h2 class="director-titulo">PALABRAS DE LA DIRECTORA</h2>
            </div>
        </div>
        <div class="bachiller-wrapper">
            <div class="director-imagen">
                <img src="/assets/directora.webp" alt="">
            </div>
            <div class="director-info-container">
                <p>"Es un honor para mí darles la bienvenida a Tecnocom, una institución comprometida con la excelencia
                    educativa y la innovación tecnológica. En nombre de todo nuestro equipo docente y administrativo,
                    quiero expresar nuestra más sincera alegría por su interés en formar parte de nuestra comunidad
                    académica.
                </p>
                <P>Tecnocom se distingue por su enfoque en la formación integral, combinando conocimientos teóricos con
                    experiencias prácticas, para preparar a nuestros estudiantes para los desafíos del mundo laboral
                    moderno. Nuestro objetivo es proporcionarles las herramientas necesarias para desarrollar sus
                    habilidades, potenciar sus talentos y alcanzar sus metas profesionales.
                </P>
                <P>Les invito a explorar todo lo que Tecnocom tiene para ofrecer y a unirse a nosotros en esta
                    emocionante travesía educativa. Estamos aquí para ayudarles a alcanzar sus sueños y convertir sus
                    aspiraciones en realidades".</P>

                <h2 class="nom-directora">Dasy Nina Granados</h2>

            </div>
        </div>
    </div>
</div>

<app-footer />