<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <img
                  class="icon-carr-banner"
                  src="https://isam.edu.pe/img/icon_contabilidad.png"
                  alt=""
                />
                <h1>GESTIÓN ADMINISTRATIVA</h1>
                <div class="tex-modalidad sistemas">
                  <h2>
                    Elaborar procedimientos administrativos de la organización,
                    en función con los objetivos establecidos.
                  </h2>
                </div>
                <!--<div class="descargar-brochure sistemas">
                  <a
                    download=""
                    href="assets/documents/malla-curricular-contabilidad.pdf"
                    target="_blank"
                    >Ver malla curricular</a
                  >
                </div>-->
              </div>
              <!--<div class="box-conveniosUnivers distancia logo-u-banner">
                <h2>Convalida tu carrera:</h2>
                <div class="cont-unis">
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_u_wiener.png"
                      alt="universidad 1"
                    />
                  </div>
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_sjb.png"
                      alt="universidad 2"
                    />
                  </div>
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_ucv.png"
                      alt="universidad 3"
                    />
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="beneficios-home-internas sistemas">
    <div class="container">
      <div class="row">
        <div class="img-benefi col-sm-4">
          <div class="main-height beneficios-home col-h-1 hide-xs">
            <div>
              <img
                src="https://isam.edu.pe/img/carrera_contabilidad.png"
                alt=""
                class="img-responsive im_semi_personaje"
              />
            </div>
          </div>
        </div>
        <div class="txt-benefi col-sm-8">
          <div class="main-height beneficios-home col-h-2">
            <div class="que-es-wrapper">
              <h2 class="que-es-titulo">¿QUÉ ES?</h2>
              <p class="texto-largo-content">
                Es una carrera enfocafa en la formación de profesionales
                capacitados para planificar, organizar, dirigir y controlar las
                actividades administrativas de una organización. Este campo
                abarca la administración de recursos humanos, financieros y
                materiales, con el objetivo de optimizar la eficiencia y
                efectividad de los procesos empresariales.
              </p>
           <div class="cajas-wrapper">
            <div class="caja-moda hide-xs">
              <div class="main-f modalidad">
                <div >
                  <img
                    src="/assets/calendario-icono.svg"
                    class="icono-img"
                    alt="Icon Modalidad"
                  />
                </div>
              </div>
              <h2>INICIO</h2>
              <P>Agosto</P>
            </div>
            <div class="caja-moda hide-xs">
              <div class="main-f modalidad">
                <div>
                  <img
                    src="https://isam.edu.pe/img/icon_grado.png"
                    alt="Icon Modalidad"
                  />
                </div>
              </div>
              <h2>MODALIDAD:</h2>
              <P>VIRTUAL</P>
            </div>
            <div class="caja-moda hide-xs">
              <div class="main-f modalidad">
                <div>
                  <img
                    src="https://isam.edu.pe/img/icon_credito.png"
                    alt="Icon Modalidad"
                  />
                </div>
              </div>
              <h2>DURACIÓN:</h2>
              <P>3 años</P>
            </div>
            <div class="caja-moda hide-xs">
              <div class="main-f modalidad">
                <div>
                  <img
                    src="/assets/talleres-icono.svg"
                    class="icono-img"
                    alt="Icon Modalidad"
                  />
                </div>
              </div>
              <h2>TALLERES:</h2>
              <P>Y cursos adicionales gratuitos</P>
            </div>
           </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="competencia">
    <img
      src="/assets/alumna-img.png"
      class="absolute-img"
      alt="imagen alumna"
    />
    <div class="container">
      <!-- <div class="row">
        <div class="col-12">
          <h2 class="text-competencias-e">PERFIL DEL EGRESADO</h2>
        </div>
      </div>-->
      <div class="row">
        <!-- <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_1.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Comunicación <br />
              Efectiva
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_2.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Espíritu <br />
              Emprendedor
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_3.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Gestor <br />
              Eficaz
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_4.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Dominio de <br />
              Herramientas <br />
              Informáticas
            </h2>
          </div>
        </div>-->
        <div class="backblu-perfil col-sm-7">
          <h2 class="txt-p-estudios">¿POR QUÉ ESTUDIAR?</h2>
          <div class="row mb-[20px]">
            <p>
              Porque ofrece una formación integral en habilidades y
              conocimientos esenciales para el funcionamiento eficiente de
              cualquier organización. Esta carrera prepara a los estudiantes
              para roles clave en la administración de recursos humanos,
              financieros y materiales, mejorando sus capacidades para
              planificar, organizar y controlar actividades empresariales.
            </p>
          </div>
          <h2 class="txt-p-estudios">PERFIL DEL EGRESADO</h2>
          <div class="row">
            <p>
              El Profesional Técnico en GESTIÓN DE ADMINISTRACIÓN capaz de
              elaborar, definir, disponer, gestionar, realizar y supervisar
              tareas administrativas, de soporte y apoyo a la institución, según
              los procedimientos, políticas y normativas. En cuanto a sus
              competencias para la empleabilidad presenta una comunicación
              efectiva e interactuar con otras personas en contextos sociales y
              laborales diversos. También tiene facilidad para el trabajo
              colaborativo, toma decisiones con responsabilidad y ejerce su
              actividad profesional con sentido ético.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="plan-estudios">
    <div class="container back-blue">
      <div class="row align-items-center ancho-100 relative cont-malla">
        <div class="col-sm-6">
          <h2 class="txt-p-estudios">DESCUBRE NUESTRA MALLA CURRICULAR</h2>
        </div>
        <div class="col-sm-6 text-center text-md-right">
          <a
            download=""
            href="assets/documents/malla-curricular-administrativa.pdf"
            target="_blank"
            class="descargar-brochure dise-curr"
          >
            Malla Curricular pdf
          </a>
        </div>
      </div>
      <div class="row ancho-100 hide-xs relative">
        <div class="acordeon">
          <div class="bloque activo">
            <h2 class="h2">
              MÓDULO 1 : CERTIFICADO EN Programación y Administración
              Documentaria
              <img src="/assets/flecha-abajo.svg" alt="icono" />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">PRIMER CICLO:</div>
                <p>Técnica Administrativa.</p>
                <p>Administraión General.</p>
                <p>Ergonomía de la Oficina.</p>
                <p>Técnicas de expresión oral y escrita.</p>
                <p>Comprensión y producción de textos.</p>
                <p>Informática e internet.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">SEGUNDO CICLO</div>
                <p>Planificacion y organizacion Empresarial.</p>
                <p>Administracion y manejo de Equipos.</p>
                <p>Proceso Documentario.</p>
                <p>Recursos Humanos.</p>
                <p>Comportamiento Organizacional.</p>
                <p>Aplicaciones Funcionales.</p>
              </div>
            </div>
          </div>
          <div class="bloque">
            <h2 class="h2">
              MÓDULO 2 : CERTIFICADO EN Organización Administrativa
              <img src="/assets/flecha-abajo.svg" alt="icono" />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">TERCER CICLO</div>
                <p>Comunicación Administrativa.</p>
                <p>Archivo Digital.</p>
                <p>Informática Documental.</p>
                <p>Organización del Tiempo.</p>
                <p>Gestión Administrativa.</p>
                <p>Trabajo en equipo y comunicación efectiva.</p>
                <p>Desarrollo Personal.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">CUARTO CICLO</div>
                <p>Marketing Asistencial.</p>
                <p>Administración de Operaciones.</p>
                <p>Logística Empresarial.</p>
                <p>Servicio y Atención al Cliente.</p>
                <p>Gestión Operativa de Compras.</p>
                <p>Toma de decisiones y resolucion de conflictos.</p>
                <p>Liderazgo y marketing personal.</p>
              </div>
            </div>
          </div>
          <div class="bloque">
            <h2 class="h2">
              MÓDULO 3 : Gestión Protocolar y Financiera
              <img
                src="/assets/flecha-abajo.svg"
                class="icono-flecha"
                alt="icono"
              />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">QUINTO CICLO</div>
                <p>Ética Social.</p>
                <p>Organización de Eventos Empresariales.</p>
                <p>Gestión de Control Empresarial.</p>
                <p>Relaciones Públicas .</p>
                <p>Ética y relaciones interpersonales.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">SEXTO CICLO</div>
                <p>Gestión de documentos empresariales.</p>
                <p>Gestión de Dirección Empresarial.</p>
                <p>Sistemas de Información Gerencial.</p>
                <p>Recursos Informáticos de Gestión.</p>
                <p>Investigación Aplicada.</p>
                <p>Ética profesional</p>
                <p>Ingles para la comunicación oral y escrita.</p>
                <p>Ingles comercial Básico.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mallacurricular" class="section tabs2">
    <div class="container">
      <b class="ct-subtitle ct-subtitle--blue mb30">DISEÑO CURRICULAR</b>
      <div class="flex-curri">
        <div class="diseño-flex">
          <h2>DISEÑO CURRICULAR</h2>
          <a
            download=""
            href="assets/documents/diseño-curricular-administrativa.pdf"
            class="descargar-brochure dise-curr"
            >DESCARGAR PDF
          </a>
        </div>
        <p class="parraf-diseño">
          Nuestro diseño curricular asegura que la educación impartida sea
          coherente, relevante y efectiva para alcanzar las metas educativas
          propuestas, Responsabilidad y ejerce su actividad profesional con
          sentido ético.           
        </p>
      </div>
      <hr />
    </div>
  </section>

  <section id="campolaboral" class="section tabs2">
    <div class="container">
      <b class="ct-subtitle ct-subtitle--blue mb30"
        >PODRÁS DESEMPEÑARTE EN LAS SIGUIENTES ÁREAS</b
      >
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <div class="ct-richText">
            <ul>
              <li>Área de abastecimiento .</li>
              <li>Área de recursos humanos.</li>
              <li>Área de contabilidad .</li>
              <li>Área de contabilidad .</li>
              <li>Área de Secretaría general .</li>
              <li>Área de planeamiento y presupuesto.</li>
              <li>Área de asistencia de Gerencia .</li>
              <li>Área de tesorería.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tec-otorga">
    <div class="container relative">
      <img
        src="https://isam.edu.pe/img/rayas_vertical.png"
        class="img-ray-ver"
        alt="imagen decoracion"
      />
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-otorga">OTORGAMOS:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row hide-xs show-lg">
            <div class="col-2-otrg">
              <a target="_blank" href="http://telesup.trabajando.pe/">
                <div class="main-f otorga">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/bolsa_trabajo.png"
                      alt=""
                      class="img-responsive"
                    />
                  </div>
                </div>
                <p>Empleabilidad:<br />Bolsa de Trabajo</p>
              </a>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_1.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>
                Título a nombre de la Nación:
                <strong>Profesional Técnico</strong>
              </p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_2.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>3 certificaciones</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_3.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>Grado de bachiller técnico</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_4.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>Inglés Americano en los 6 ciclos</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_5.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>
                Convalidación directa con universidades con escala preferencial
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="en-que-podrasTrabajar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>
            CUÁL ES EL TRABAJO DE TECNICO ARQUITECTURA DE PLATAFORMAS Y
            SERVICIOS DE T.I
          </h2>
        </div>
      </div>
      <div class="row hide-xs">
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_comercial.png"
                  alt="Icono otorgamos 1"
                />
              </div>
            </div>
            <p>
              Apoyar la administración y operación diaria de una organización.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_administrativa.png"
                  alt="Icono otorgamos 2"
                />
              </div>
            </div>
            <p>
              Gestionar documentación, incluyendo el archivo y la organización
              de documentos, la preparación de informes y la actualización de
              bases de datos.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_contabilidad.png"
                  alt="Icono otorgamos 3"
                />
              </div>
            </div>
            <p>Coordinar actividades administrativas y logísticas.</p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_logistica.png"
                  alt="Icono otorgamos 4"
                />
              </div>
            </div>
            <p>
              Supervisar la adquisición y el inventario de suministros de
              oficina, garantizando que los recursos necesarios estén
              disponibles y se utilicen de manera eficiente.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-center hide-xs">
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_contabilidad.png"
                  alt="Icono otorgamos 3"
                />
              </div>
            </div>
            <p>
              Manejar tareas de contabilidad básica, como la facturación, el
              procesamiento de pagos y la conciliación de cuentas. Además, apoya
              en la elaboración y seguimiento de presupuestos, contribuyendo al
              control financiero de la organización.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-[40px]">
    <app-formulario-contacto />
  </section>
</div>

<app-footer />
