<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>¿ERES POSTULANTE EXTRANJERO?</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Información</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Convalidación o Revalidación</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Dirigido a:</p>
          <p>Postulantes procedentes de otros países.</p>
        </div>
      </div>
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/requisitos.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Requisitos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Boletas de notas o su equivalente
            </li>
          </ul>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Documentos que acredite haber concluido su educación básica regular 
            </li>
          </ul>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />2 Fotos
            </li>
          </ul>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Pago
            </li>
          </ul>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Partida de nacimiento o su equivalente 
            </li>
          </ul>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Documento de identidad
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content-flex">
        <img height="28" width="28" src="/assets/costes.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Costos:</p>
          <p>100 nuevos soles</p>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper"></div>
    <!--third-->
    <div class="all-tab-wrapper"></div>
  </div>
</div>

<app-footer />
