<app-header/>

<div class="mi-contenedor">
    <div class="contenido-wrapper">
        <div class="principios-wrapper">
            <img src="/assets/principios-foto.jpg" alt="">
            <div class="principios-texto">
                <h3>PRINCIPIOS Y VALORES</h3>
                <p>Los principios y valores institucionales son lineamientos de carácter ético axiológico, que
                    atraviesan la decisión y actuación de cada uno de los actores y de la comunidad educativa de la Escula de Educación
                    Superior Tecnológica Privada Comenius- "TECNOCOM"
                </p>
            </div>
        </div>
        
    </div>
</div>

<app-footer/>
