h3{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

p{
    font-size: 16px;
    line-height: 1.5;
}
img{
    width: 400px;
    height: 370px;
}

.mi-contenedor{
    width: 70%;
    margin: auto;
}

.contenido-wrapper{
    padding-top: 180px;
    padding-bottom: 30px;
}

/*PRINCIPIOS . INICIO*/
.principios-wrapper{
    display: flex;
    align-items: center;
}

.principios-wrapper img,.principios-wrapper div{
    flex-grow: 1;
}


.principios-texto {
    background-color: #365886;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-block: 25px;
    padding-inline: 15px;
    width: 500px;
    margin-left: -50px;
    height: fit-content;
}
/*PRINCIPIOS . FIN*/
/*CARRUSEL - INICIO*/
.carousel{
    padding-block: 30px;
}
.info-principio h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
/*CARRUSEL - FIN*/
/*PRINCIPIOS CARD INICIO*/

.principio-card{
    padding-inline: 10px;
}
.info-principio {
    background-color: #b3bdca;
    border-radius: 10px;
    padding: 10px;
    height: 420px;
}
.info-principio p {
    text-align: justify;
}
/*PRINCIPIOS  CARD FIN*/
/*VALORES- INICIO*/
.valores-wrapper {
    display: flex;
    padding-block: 30px;
    flex-direction: column;
    align-items: center;
}

.valores-wrapper h2 {
    font-size: 40px;
    font-weight: 600;
}
.valores-wrapper img{
    width: 60%;
    height: 600px;
    margin: auto;
}
/*VALORES- FIN*/


@media only screen and (max-width: 1600px) {
    .mi-contenedor{
        width: 80%;
        margin: auto;
    }
}