<app-header/>


<div class="mi-contenedor">
    <div class="contenido-wrapper">
        <div class="vision-wrapper">
            <img src="/assets/vision-foto.webp" alt="">
            <div class="vision-texto">
                <h3>VISiÓN</h3>
                <p>Al 2030 seremos una institución con calidad y prestigio institucional licenciada y acreditada con ofertas académicas comprometidas
                    con la formación de prodecionales técnicos, investigadores, innovadores, emprendedores y líderes en los campos de la ciencia y tecnología brindando una alta especialización,
                    en nuestra modalidad de estudio a distancia y promoviendo el empredimiento, la innovación, la productividad y la competitividad.
                </p>
            </div>
        </div>
        <div class="mision-wrapper">
            <div class="mision-texto">
                <h3>MISIÓN</h3>
                <p>Somos una institución de Educación Superior Tecnológica que forma integralmente profesionales técnicos competentes de manera holística con base humanista científica,
                    tencológica  y ética integral, fomentando la investigación aplicada y la innovación, como respuesta a los requerimientos del sector productivo,
                    las demandas laborales y el desarrollo sotenible del país.
                </p>
            </div>
            <img src="/assets/mision-foto.webp" alt="">
        </div>
    </div>
</div>

<app-footer/>
