<app-header />

<section class="container-banner-page">
  <div class="overlay-container"></div>
  <div class="container-center-items">
    <div class="wrapper-items">
      <h1>
        PROCESO DE <br />
        ADMISION
      </h1>
    </div>
  </div>
</section>

<section class="container-little-title">
  <div class="container-center flex items-end gap-1">
    <span>
      <a [routerLink]="['']">
        <img src="/src/assets/house-logo.svg" alt="house logo" />
      </a>
      <i>
        <img src="/src/assets/arrow-to-right.png" alt="arrow to right" />
      </i>
    </span>
    <span>
      <span class="little-title">PROCESO DE ADMISION:</span>
    </span>
  </div>
</section>

<div class="content">
  <div class="container">
    <section class="section block">
      <div class="columns">
        <div class="column">
          <div class="card">
            <h2>La EESTP “COMENIUS”, ofrece los programas de estudios de:</h2>
            <ul class="lista lista-carrers">
              <li>Arquitectura de plataformas y servicios de TI</li>
              <li>
                Gestión comercial de productos y servicios bancarios y financieros
              </li>
              <li>Enfermería Técnica</li>
              <li>Farmacia Técnica</li>
              <li>Asistente Administrativo de Gerencia</li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h2>
              El proceso de admisión Comprende las siguientes modalidades de
              acceso:
            </h2>
            <ul class="lista">
              <li>
                A.  Ordinario. - Se realiza dos (2) vez al año a través de una
                evaluación considerando condiciones de calidad para cubrir el
                número de vacantes de acuerdo al orden de mérito.
              </li>
              <li>
                B.  Por Exoneración. - Contempla la admisión a deportistas
                calificados a estudiantes talentosos y a aquellos que están
                cumpliendo servicio militar voluntario de conformidad con la
                normativa vigente.
              </li>
              <li>
                C.  Por ingreso extraordinario. - Este proceso de admisión se
                implementa para becas y programas conforme a la normatividad.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<app-footer />
