
.container-banner-page {
    height: 490px;
    background: url("/assets/banner-admision.jpg");
    background-position: center bottom;
    background-size: cover;
    position: relative;
}

.overlay-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .18) 15%, #1f1f1f 100%);
    position: absolute;
    top: 0;
}

.container-center-items {
    width: 70%;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.wrapper-items {
    max-width: 520px;
}

.wrapper-items h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    line-height: 45px;
    margin-right: 20px;
}

.wrapper-items p {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    line-height: 26px;
    margin-top: 11px;
}

.container-little-title {
    padding: 20px 0;
    border-bottom: solid rgba(74, 74, 74, .1) 1px;
    width: 100%;
    margin: 0 auto;
}

.container-center {
    width: 90%;
    max-width: 1164px;
    margin: 0 auto;
    position: relative;
}

.container-little-title span {
    font-size: 12px;
    font-weight: bold666;
    color: #000;
    text-transform: uppercase;
}

.container-little-title span:first-child {
    display: flex;
    align-items: center;
}


.little-title {
    font-weight: 700;
}

.container-little-title a {
    font-size: 12px;
    font-weight: 400;
    color: #4A4A4A;
}


/*ADMIISON - INICIO*/
.container {
    width: 100%;
}

.section {
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 35px;
    padding-bottom: 35px;
}
.columns {
    display:  grid;
    grid-template-columns: 50% 50%; /*Antes 50% 50%*/
    gap: 2rem;
}

.block{
    width: 80%;
    margin:  auto;
}
.block p {
    text-align: justify;
}

.block p , .block h2 {
    color: #fff;
}

.card {
    height: 100%;
    padding: 20px;
    background-color:#002C44 ;
    z-index: -100;
}

/*ADMIISON - FIN*/
/*LISTA -INICIO*/
.lista li{
    color: #fff;
    font-size: 15px;
    margin-bottom: 25px;
}
.lista-carrers li{
    list-style:circle;
}
/*LISTA -FIN*/



/*MEDIA QUERY*/
@media only screen and (max-width: 1200px) {
    .wrapper-items h1 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase;
        line-height: 45px;
        margin-right: 20px;
    }
}


@media only screen and (max-width: 1020px){

    .columns {
        display:  flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

}
