<app-header/>

<section class="container-banner-page">
    <div class="overlay-container"></div>
    <div class="container-center-items">
        <div class="wrapper-items">
            <h1>PROCESO DE  <br> ADMISION</h1>

        </div>
    </div>
</section>

<section class="container-little-title">
    <div class="container-center flex items-end gap-1">
        <span>
            <a  [routerLink]="['']">
                <img src="../../../assets/house-logo.svg" alt="house logo">
            </a>
            <i>
                <img src="../../../assets/arrow-to-right.png" alt="arrow to right">
            </i>
        </span>
        <span>
            <span class="little-title">PROCESO DE ADMISION:</span>
        </span>
    </div>
</section>


<app-footer/>
