<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>CONSTANCIA Y CERTIFICACIÓN</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Emición de constancias</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Emición de certificación</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>CONSTANCIA DE ESTUDIO</p>
          <p>
            Es el documento que acredita la calificación que obtuvo el
            estudiante en las unidades didácticas del programa de estudios,
            desarrolladas hasta el momento de su solicitud.
          </p>
          <p>Los requisitos para obtener la misma son:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida a la
              Institución.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Dos fotografías tamaño
              pasaporte, en los casos que lo amerite.
            </li>
            <li><img src="/assets/check-2.svg" alt="" />Recibo de pago</li>
          </ul>
          <p>
            Este trámite puede ser solicitado por el estudiante/egresado o por
            el apoderado registrado en nuestro sistema académico.
          </p>
          <p>
            Esta constancia es firmada por el director general /Ejecutivo,
            también puede ser firmada por la Secretaría General o Secretaría
            Académica y otorgada de acuerdo al plazo establecido en el TUPA de
            la Institución.
          </p>

          <p class="bold-text">CONSTANCIA DE EGRESO</p>
          <p>
            Es el documento que acredita que el estudiante haya concluido de
            manera satisfactoria todas las unidades didácticas y experiencias
            formativas en situación real de trabajo vinculado a un programa de
            estudios, deberá consignar como mínimo la información de los
            formatos dispuesto por el MINEDU.
          </p>
          <p>Los requisitos para solicitar son:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida al
              director general.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Pago de derecho de trámite
              certificado de acuerdo al TUPA.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Adjuntar copia del DNI
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Adjuntar una fotografía
              tamaño pasaporte fondo blanco.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />No tener deudas pendientes
              con La Institución al momento de iniciar el trámite.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Constancias de notas de
              unidades didácticas matriculadas y aprobadas.
            </li>
          </ul>
          <p class="bold-text">FLUJOGRAMA PROCEDIMIENTO</p>
          <img src="/assets/certificacion-flujo.png" alt="" />
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Es el proceso mediante el cual la institución emite un documento
            oficial que certifica la conclusión de estudios de manera parcial o
            total. Los certificados otorgados a los estudiantes son los
            siguientes
          </p>
          <p class="bold-text">CERTIFCADO DE ESTUDIOS</p>
          <p>
            Es el documento que acredita la calificación que obtuvo el
            estudiante en las unidades didácticas del programa de estudios,
            desarrolladas hasta el momento de su solicitud
          </p>
          <p>
            El Certificado de Estudio se emite conforme al modelo único nacional
            establecido por el MINEDU
          </p>
          <p>
            Los certificados de estudios oficiales deben cumplir los requisitos
            siguientes:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Ser expedidos con los
              nombres y apellidos del titular, debidamente comprobados con su
              D.N.I.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />No presentar enmendaduras
              o borrones
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Debe contener sello, firma
              y postfirma del director general y el secretario académico de la
              Institución.
            </li>
          </ul>
          <p>Los requisitos para solicitar el certificado de estudio son:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida al
              director general.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Dos (2) fotos a color,
              tamaño pasaporte, fondo blanco (de preferencia caballeros con
              terno y damas con sastre).
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Pago de derecho de trámite
              de certificado de estudio.
            </li>
          </ul>
          <p class="bold-text">FLUJOGRAMA PROCEDIMIENTO</p>
          <img src="/assets/certificacion-flujo-2.png" alt="" />
          <p class="bold-text">CERTIFICADO MODULAR</p>
          <p>
            Es el documento que acredita el logro de la competencia(s) de un
            módulo formativo, luego de aprobar la totalidad de unidades
            didácticas y experiencias formativas correspondientes, de acuerdo al
            programa de estudios. El certificado modular se emite conforme al
            modelo único nacional.
          </p>
          <p>
            Para otorgar el certificado modular se deberá tener en cuenta lo
            siguiente:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />El certificado modular es
              el documento que acredita el logro de la competencia
              correspondiente a un módulo formativo, luego de aprobar la
              totalidad de unidades didácticas y experiencias formativas del
              módulo de acuerdo al plan de estudios del programa de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El certificado modular
              deberá consignar como mínimo la información de los formatos
              dispuestos por el MINEDU
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La certificación modular
              es progresiva de manera tal que a la conclusión de determinado
              módulo formativo de los estudios, los estudiantes pueden obtener
              un certificado de los aprendizajes logrados y de este modo
              facilitar su incorporación al mercado laboral.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La expedición del
              certificado modular no debe exceder los treinta (30) días hábiles
              luego de haber cumplido con los requisitos correspondientes
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El módulo formativo es el
              componente mínimo que puede certificarse y permite la
              incorporación progresiva del estudiante al mercado laboral
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El certificado modular se
              elabora en La Institución, se deberá consignar como mínimo la
              información de los formatos dispuesto por el MINEDU, dicha
              certificación se otorga mediante Resolución Directoral
              Institucional emitida por la Dirección General de la Institución.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Cada certificado modular
              será identificado con el siguiente código autogenerado
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los certificados modulares
              serán registrados en el libro de registros de certificados
              modulares de la Institución, y la relación será remitida
              anualmente a la Dirección Regional para la supervisión y control
              del proceso de certificación en la Institución.
            </li>
            <p class="pl-10">
              Para lograr la certificación de un módulo formativo, el estudiante
              debe cumplir con el siguiente requisito:
            </p>
            <p class="pl-12">
              • Haber aprobado todas las competencias
              específicas-técnicas,competencias para la empleabilidad y las
              prácticas pre profesionales o experiencias formativas de los
              módulos formativos respectivos, en las que se matriculó y con la
              nota mínima de trece (13).
            </p>
            <p class="pl-12">
              • La expedición del certificado de un módulo formativo es
              automática, previo cumplimiento del trámite administrativo y
              requisitos establecidos en el inciso anterior.
            </p>
          </ul>

          <p>Los requisitos para solicitar el certificado modular son:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida al
              director.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Dos (2) fotos a color,
              tamaño pasaporte, fondo blanco, (de preferencia caballeros con
              terno y damas con sastre).
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Constancia académica de
              haber aprobado todas las competencias específicas- técnicas,
              competencias para la empleabilidad y prácticas preprofesionales o
              experiencias formativas en situaciones reales de trabajo del
              módulo formativo correspondiente.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Pago de derecho de trámite
              de certificación, el cual no debe ser en ningún caso mayor al
              costo de un certificado de estudio.
            </li>
          </ul>
          <p>
            El certificado modular se otorgará a los estudiantes del sistema
            educativo modular. Los certificados modulares emitidos serán
            registrados en La Institución.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
