@if (size == "Small" || size == "XSmall") {

<div class="footer-phone">
    <div class="container-phone-footer">
        <a href="" class="logo-footer">
            <img src="/src/assets/logo-comenius.png" alt="logo-intituto-footer">
        </a>
        <div class="box_footer">
            <a href="https://minedu.gob.pe" target="_blank">
                <img src="/src/assets/minedulogo.jfif" alt="logo minedu">
            </a>
            <a href="https://www.perueduca.pe/#/home" target="_blank">
                <img src="/src/assets/logo-perueduca.png" alt="logo perueduca">
            </a>
            <a href="https://www.gob.pe/pronabec" target="_blank">
                <img src="/src/assets/logo-beca18.png" alt="logo beca 18">
            </a>
        </div>
        <div class="nav-phone-footer">
            <ul class="nav-menu-footer">
                <!-- <li>
                            <a href="">Mapa de Sitio</a>
                        </li>-->
                <!--  <li class="menu-item-footer">
                    <a href="">Políticas de privacidad</a>
                </li>-->
                <!--<li class="menu-item-footer">
                    <a href="">Preguntas frecuentes</a>
                </li>-->
                <li class="menu-item-footer">
                    <a [routerLink]="['/transparencia']">Transparencia Institucional</a>
                </li>
                <!-- <li class="menu-item-footer">
                    <a href="">Protocolo Covid-19</a>
                </li>-->
                <li class="menu-item-footer">
                    <a [routerLink]="['/contactenos']">Contáctanos</a>
                </li>
                <li class="menu-item-footer">
                    <a href="https://www.laureate.net/ethics-and-compliance/" target="_blank">Código de ética</a>
                </li>
                <!--<li>
                            <a href="">Portal de PDP y derechos de arco</a>
                        </li>-->
            </ul>
        </div>
        <div class="social-nav-phone-footer">
            <ul>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=61558487376373" target="_blank">
                        <img src="/src/assets/facebook-logo.svg" alt="logo facebook" >
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" >
                        <img src="/src/assets/LOGO-IG.svg" alt="logo instagram">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@TECNOLOGICOCOMENIUS" target="_blank">
                        <img src="/src/assets/LOGO-YOUTUBE.svg" alt="logo youtube">
                    </a>
                </li>
            </ul>
        </div>
        <div class="copy-phone-footer">
            COMENIUS TODOS LOS DERECHOS RESERVADOS - 2024
        </div>
    </div>
</div>

}@else {
<footer class=" footer-wrapper">
    <div class="footer-container">
        <div class="columns">
            <div class="w-[25%] column">
                <div class="box-networks">
                    <div>
                        <img src="/src/assets/logo-comenius.png" alt="logo_cibertec">
                    </div>
                    <ul class="nav-social">
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=61558487376373" target="_blank">
                                <img src="/src/assets/facebook-logo.svg" alt="logo facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <img src="/src/assets/LOGO-IG.svg" alt="logo instagram">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/@TECNOLOGICOCOMENIUS" target="_blank">
                                <img src="/src/assets/LOGO-YOUTUBE.svg" alt="logo youtube">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-[25%] column">
                <div class="nav-footer">
                    <ul>
                        <!-- <li>
                            <a href="">Mapa de Sitio</a>
                        </li>-->
                        <!--  <li class="menu-item-footer">
                    <a href="">Políticas de privacidad</a>
                </li>-->
                        <li>
                            <a [routerLink]="['/transparencia']">Transparencia Institucional</a>
                        </li>
                        <!-- <li class="menu-item-footer">
                             <a href="">Protocolo Covid-19</a>
                            </li>-->
                        <li>
                            <a [routerLink]="['/contactenos']">Contactanos</a>
                        </li>
                        <li>
                            <a href="https://www.laureate.net/ethics-and-compliance/" target="_blank">Codigo de
                                Ética</a>
                        </li>
                        <!--<li>
                            <a href="">Portal de PDP y derechos de arco</a>
                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="w-[50%] column">
                <div class="box_connection">
                    <div class="box_conn_img">
                        <a href="https://minedu.gob.pe" target="_blank">
                            <img src="/src/assets/minedulogo.jfif" alt="logo minedu">
                        </a>
                        <a href="https://www.perueduca.pe/#/home" target="_blank">
                            <img src="/src/assets/logo-perueduca.png" alt="logo perueduca">
                        </a>
                        <a href="https://www.gob.pe/pronabec" target="_blank">
                            <img src="/src/assets/logo-beca18.png" alt="logo beca 18">
                        </a>
                    </div>
                    <div class="box_legacy">
                        <p>COMENIUS - 2024 <br>
                            CALLE MANUEL FUENTES 420 SAN ISIDRO
                        </p>
                        <p>TODOS LOS DERECHOS RESERVADOS - 2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


}