@if (size == "Small" || size == "XSmall") {

<div class="footer-phone">
    <div class="container-phone-footer">
        <a href="" class="logo-footer">
            <img src="../../../assets/logo-cibertec.svg" alt="logo-intituto-footer">
        </a>
        <div class="box_footer">
            <a href="" class="link-footer">
                <img src="../../../assets/logo_laureate.png" alt="">
            </a>
            <a href="" class="link-footer">
                <img src="../../../assets/logo_laureate.png" alt=""></a>
            <a href="" class="link-footer">
                <img src="../../../assets/logo_laureate.png" alt=""></a>
        </div>
        <div class="nav-phone-footer">
            <ul class="nav-menu-footer">
                <!-- <li>
                            <a href="">Mapa de Sitio</a>
                        </li>-->
                <!--  <li class="menu-item-footer">
                    <a href="">Políticas de privacidad</a>
                </li>-->
                <!--<li class="menu-item-footer">
                    <a href="">Preguntas frecuentes</a>
                </li>-->
                <li class="menu-item-footer">
                    <a [routerLink]="['/transparencia']">Transparencia Institucional</a>
                </li>
                <!-- <li class="menu-item-footer">
                    <a href="">Protocolo Covid-19</a>
                </li>-->
                <li class="menu-item-footer">
                    <a [routerLink]="['/contactenos']">Contáctanos</a>
                </li>
                <li class="menu-item-footer">
                    <a href="https://www.laureate.net/ethics-and-compliance/" target="_blank">Código de ética</a>
                </li>
                <!--<li>
                            <a href="">Portal de PDP y derechos de arco</a>
                        </li>-->
            </ul>
        </div>
        <div class="social-nav-phone-footer">
            <ul>
                <li>
                    <a href="">
                        <img src="../../../assets/facebook-logo.svg" alt="logo_facebook">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../../assets/facebook-logo.svg" alt="logo_facebook">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../../assets/facebook-logo.svg" alt="logo_facebook">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../../assets/facebook-logo.svg" alt="logo_facebook">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../../assets/facebook-logo.svg" alt="logo_facebook">
                    </a>
                </li>
            </ul>
        </div>
        <div class="copy-phone-footer">
            INSTITUTO DE EDUCACION SUPERIOR PRIVADO CIBERTEC S.A.C. TODOS LOS DERECHOS RESERVADOS
        </div>
    </div>
</div>

}@else {
<footer class=" footer-wrapper">
    <div class="footer-container">
        <div class="columns">
            <div class="w-[25%] column">
                <div class="box-networks">
                    <div>
                        <img src="../../../assets/logo-cibertec.svg" alt="logo_cibertec">
                    </div>
                    <ul class="nav-social">
                        <li>
                            <a href="">
                                <img src="../../../assets/facebook-logo.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../../assets/facebook-logo.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../../assets/facebook-logo.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../../assets/facebook-logo.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../../assets/facebook-logo.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-[25%] column">
                <div class="nav-footer">
                    <ul>
                        <!-- <li>
                            <a href="">Mapa de Sitio</a>
                        </li>-->
                        <!--  <li class="menu-item-footer">
                    <a href="">Políticas de privacidad</a>
                </li>-->
                        <li>
                            <a [routerLink]="['/transparencia']">Transparencia Institucional</a>
                        </li>
                        <!-- <li class="menu-item-footer">
                             <a href="">Protocolo Covid-19</a>
                            </li>-->
                        <li>
                            <a [routerLink]="['/contactenos']">Contactanos</a>
                        </li>
                        <li>
                            <a href="https://www.laureate.net/ethics-and-compliance/" target="_blank">Codigo de
                                Ética</a>
                        </li>
                        <!--<li>
                            <a href="">Portal de PDP y derechos de arco</a>
                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="w-[50%] column">
                <div class="box_connection">
                    <div class="box_conn_img">
                        <a href="">
                            <img src="../../../assets/logo_laureate.png" alt="">
                        </a>
                        <a href="">
                            <img src="../../../assets/logo_laureate.png" alt="">
                        </a>
                        <a href="">
                            <img src="../../../assets/logo_laureate.png" alt="">
                        </a>
                    </div>
                    <div class="box_legacy">
                        <p>INSTITUTO DE EDUCACION SUPERIOR PRIVADO CIBERTEC S.A.C. - 2023 <br>
                            JR. URUGUAY 514 LIMA
                        </p>
                        <p>TODOS LOS DERECHOS RESERVADOS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


}