<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>REQUISITOS Y COSTOS</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--<div class="container-title">
  <h2>INFORMACIÓN BÁSICA</h2>
</div>-->

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Ordinario</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Extraordinario</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">3</div>
      <div class="title-lista">Exonerado</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">4</div>
      <div class="title-lista">Por trayectoria</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">5</div>
      <div class="title-lista">Programas de preparación</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Dirigido a:</p>
          <p>
            Está dirigida a los postulantes que culminaron estudios en la educación básica en instituciones educativas del país o su equivalente en el extranjero
          </p>

          <p class="bold-text">Requisitos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" /> Certificado de estudio en original.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento Nacional de Identidad
            </li>
            <li><img src="/assets/check-2.svg" alt="" />Haber aprobado el examen de admisión.</li>
            <li><img src="/assets/check-2.svg" alt="" />Pagar los derechos correspondientes - Matrícula ordinaria S/. 130.00</li>
            <li><img src="/assets/check-2.svg" alt="" />Los alumnos que ocupan los primeros puestos son becados y se hacen acreedor a una matrícula completa y los alumnos del segundo puesto se hacen acreedor de ½ beca que corresponde a ½ matrícula ordinaria de acuerdo al plazo establecido según la Directiva.</li>
            <li><img src="/assets/check-2.svg" alt="" />Para ser considerado alumno del IESTP, es requisito indispensable que el ingresante formalice su matrícula en la oficina de Caja del Instituto, antes del inicio del semestre.</li>
            <li><img src="/assets/check-2.svg" alt="" />A solicitud del ingresante o estudiante, según corresponda puede reservar la matrícula antes de iniciar el semestre o período académico.</li>
          </ul>

          <p class="bold-text">Costos:</p>
          <p class="text-grande">Matrícula Ordinario : S/. 130.00</p>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Dirigido a:</p>
          <p>
            Está dirigida a postulantes de becas y programas con la finalidad de posibilitar el acceso a la formación inicial docente.
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento Nacional de Identidad
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estudio en original.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Pagar los derechos correspondientes
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Llenado de la ficha de matrícula.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para ser considerado alumno del IESTP, es requisito indispensable que el ingresante formalice su matrícula en la oficina de Caja del Instituto, antes del inicio del semestre.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />A solicitud del ingresante o estudiante, según corresponda puede reservar la matrícula antes de iniciar el semestre o período académico.
            </li>
          </ul>

          <p class="bold-text">Costos:</p>
          <p class="text-grande">
           S/. 100 derecho exoneración extraordinario
          </p>
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Dirigido a:</p>
          <p>
            Está dirigida a deportistas calificados, estudiantes talentosos y quienes cumplan servicio militar voluntario.
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento Nacional de Identidad
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estudio en original.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Pagar los derechos correspondientes
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Llenado de la ficha de matrícula.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para ser considerado alumno del IESTP, es requisito indispensable que el ingresante formalice su matrícula en la oficina de Caja del Instituto, antes del inicio del semestre.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />A solicitud del ingresante o estudiante, según corresponda puede reservar la matrícula antes de iniciar el semestre o período académico.
            </li>
          </ul>
          <p class="bold-text">Costos:</p>
          <p class="text-grande">S/. 100 derecho exoneración ingreso directo</p>
        </div>
      </div>
    </div>
    <!--fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Dirigido a:</p>
          <p>
            Se evalúa la experiencia laboral y el desempeño en docencia del postulante, en cualquier nivel y contexto formativo con mínimo de 3 años consecutivos o no..
          </p>

          <p class="bold-text">Requisitos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento Nacional de Identidad
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estudio en original.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Haber aprobado la evaluación.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Pagar los derechos correspondientes
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Llenado de la ficha de matrícula.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los alumnos que ocupan los primeros puestos son becados y se hacen acreedor a una matrícula completa y los alumnos del segundo puesto se hacen acreedor de ½ beca que corresponde a ½ matrícula ordinaria de acuerdo al plazo establecido según la Directiva.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para ser considerado alumno del IESTP, es requisito indispensable que el ingresante formalice su matrícula en la oficina de Caja del Instituto, antes del inicio del semestre.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />A solicitud del ingresante o estudiante, según corresponda puede reservar la matrícula antes de iniciar el semestre o período académico
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de desempeño laboral o constancia de trabajo
            </li>
          </ul>

          <p class="bold-text">Costos:</p>
          <p class="text-grande">
           S/.200 por la evaluación experiencia, laboral y desempeño 
          </p>
        </div>
      </div>
    </div>
    <!--fifth-->
    <div class="all-tab-wrapper">   
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Dirigido a:</p>
          <p>
            Para las carreras pedagógicas, mediante la aprobación de un programa de inducción que habilite en los postulantes las competencias requeridas para lograr su ingreso al Instituto de Educación Superior Pedagógico.
          </p>

          <p class="bold-text">Requisitos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento Nacional de Identidad
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estudio en original.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Pagar los derechos correspondientes
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Llenado de la ficha de matrícula.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para ser considerado alumno del IESTP, es requisito indispensable que el ingresante formalice su matrícula en la oficina de Caja del Instituto, antes del inicio del semestre.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />A solicitud del ingresante o estudiante, según corresponda puede reservar la matrícula antes de iniciar el semestre o período académico
            </li>
          </ul>

          <p class="bold-text">Costos:</p>
          <p class="text-grande">
            Es de S/.100.00 por tu programa de preparación 
          </p>
          <p class="text-grande"> 
            S/.50.00 por derecho de ingreso directo 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
