<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>LICENCIA DE ABANDONO</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Definición</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Flujograma</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">3</div>
      <div class="title-lista">Donde Realizar</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Definición:</p>
          <p>
            La Escuela de Educación Superior Tecnológica Privada Comenius –
            “TECNOCOM”, presenta el reglamento de experiencias formativas en
            situaciones reales de trabajo, que se debe aplicar a los estudiantes
            que ejecutan el nuevo plan de estudio, así como también al plan de
            estudio 2010 prácticas pre-profesionales en los programas de
            estudios que oferta el Instituto, a fin de que los estudiantes
            puedan obtener el Certificado Modular, y la titulación respectiva.
          </p>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <p class="bold-text">
            Solicitud de Realizar Prácticas Pre-Profesionales y/o EFSR
          </p>
          <img src="/assets/experiencias-flujograma.png" alt="" />
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <p>
            Se conciben como un conjunto de actividades que tienen como
            propósito que los estudiantes de los IES consoliden, integren y/o
            amplíen conocimiento, habilidades y actitudes en situaciones reales
            de trabajo, a fin de complementar las competencias específicas y de
            empleabilidad vinculadas con un programa de estudios.
          </p>
          <p>
            Las experiencias formativas en situaciones reales de trabajo buscan
            que el estudiante consolide sus conocimientos, habilidades y
            actitudes, involucrándose en la dinámica laboral.
          </p>
          <p>
            Las experiencias formativas en situaciones reales de trabajo, se
            pueden realizar:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />En el IES Mediante el
              desarrollo de proyectos productivos de bienes y servicios, el cual
              debe estar vinculado al desarrollo de capacidades de un plan de
              estudios determinado.
              <br />
              El proyecto desarrolla un conjunto de actividades
              interrelacionadas que ofrecen al mercado un producto o servicio en
              el lapso de un tiempo definido.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Mediante el desarrollo de
              actividades conexas a los procesos institucionales, las cuales
              deben estar vinculadas al desarrollo de capacidades de un plan de
              estudios determinado.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El desempeño del
              estudiante será evaluado a través de criterios establecidos por la
              institución educativa y estará a cargo del responsable técnico del
              proyecto o la actividad, asimismo deberá contar con un docente de
              la especialidad responsable de acompañar dicho proceso.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />En Centros Laborales
              (empresas, organizaciones u otras instituciones del sector
              productivo)
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />En empresas,
              organizaciones u otras instituciones, formalmente constituidas
              cuyas actividades productivas de bienes o servicios estén
              vinculadas con las capacidades a lograr por el estudiante en un
              programa de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para ello, los IES deben
              general vínculos, a través de convenios, acuerdos u otros con
              empresas, organizaciones o instituciones del sector productivo
              local y/o regional.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El desempeño del
              estudiante será evaluado a través de criterios establecidos por la
              institución educativa y estar a cargo un representante de la
              empresa, organización o institución. Así mismo deberá contar con
              una docente de la especialidad responsable de acompañar dicho
              proceso.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El valor de un crédito en
              las experiencias formativas en situaciones reales de trabajo
              equivale a horas prácticas.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El IES emite una
              constancia u otro documento que acredite de manera específica el
              desarrollo y resultados de las experiencias formativas.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <p>
            El estudiante incurre en abandono de estudios en los siguientes
            casos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Cuando deja de asistir
              injustificadamente durante (20) días hábiles consecutivos y no
              solicita licencia de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Cuando estando con
              licencia no se reincorpora al término de la misma (dentro de los 2
              años).
            </li>
          </ul>
          <p>
            En ambos casos pierde su condición de estudiante de la Institución.
            Para ser aceptados nuevamente en La Institución deberán postular y
            aprobar el proceso de admisión.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
