@if (size == "Small" || size == "XSmall") {
<div class="header-phone scrolled">
  <div class="container-header-phone">
    <a class="logo-header-phone" (click)="backToHome()">
      <img
        class="img-header"
        src="assets/logo-comenius-blanco-pequeño.svg"
        alt="logo-instituto"
      />
    </a>
    <div class="iconos-header-phone">
      <div class="nav-header-phone" (click)="toggleMenuPhone()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>

<div class="phone">
  <div class="container-nav-movil">
    <div class="nav-level-1">
      <!-- <div class="block-1">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>-->
      <div class="block-2">
        <ul>
          <li class="li_acordion">
            <a [routerLink]="['/']" class="btn-header-phone">INICIO</a>
          </li>
          <li class="li_acordion">
            <a [routerLink]="['/']" class="btn-header-phone">NOSOTROS</a>
          </li>
          <li class="li_acordion">
            <a [routerLink]="['/']" class="btn-header-phone">A DISTANCIA</a>
          </li>
          <li class="li_acordion">
            <a [routerLink]="['/carreras']" class="btn-header-phone"
              >CARRERAS</a
            >
          </li>
          <li class="li_acordion">
            <a
              [routerLink]="['/menu', 'administrativa']"
              class="btn-header-phone"
              >GESTION ADMINISTRATIVA</a
            >
          </li>
          <li class="li_acordion">
            <a [routerLink]="['/menu', 'academica']" class="btn-header-phone"
              >GESTION ACADEMICA</a
            >
          </li>
        </ul>
      </div>
      <div class="block-3">
        <a
          href="https://api.whatsapp.com/send/?phone=51966949545"
          target="_blank"
          class="btn-phone-suscribe"
          >INSCRÍBETE</a
        >
      </div>
      <div class="block-4">
        <div class="list-phone">
          <div class="list-menu-phone">
            <ul class="nav-menu-phone">
              <li class="item-menu-nav-phone">
                <a [routerLink]="['/contactenos']">Servicios al estudiante</a>
              </li>
              <li class="item-menu-nav-phone">
                <a href="">Para empresas</a>
              </li>
              <li class="item-menu-nav-phone">
                <a href="">Egresados</a>
              </li>
              <li class="item-menu-nav-phone">
                <a [routerLink]="['/contactenos']">Contactanos</a>
              </li>
              <li class="item-menu-nav-phone">
                <a [routerLink]="['/transparencia']">Transparencia</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="block-5">
        <ul>
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=61558487376373"
              target="_blank"
            >
              <img
                src="assets/logo-face-with-bg.png"
                alt="imagen logo facebook"
              />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <img src="assets/logo-ig-with-bg.png" alt="logo instagram" />
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/@TECNOLOGICOCOMENIUS"
              target="_blank"
            >
              <img src="assets/logo-yt-with-bg.png" alt="logo youtube" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

}@else {
<header class="max-w-[100%] header-wrapper">
  <div class="my-container">
    <nav class="nav-header-wrapper nav-top">
      <div class="flex justify-between items-center">
        <div>
          <ul class="flex gap-[.7rem] pl-0">
            <li>
              <a href="#estudiante">Servicios al Estudiante</a>
            </li>
            <li class="item-menu-nav-phone">
              <a [routerLink]="['/egresados']">Egresados</a>
            </li>
            <li>
              <a [routerLink]="['/contactenos']">Contactanos</a>
            </li>
            <li>
              <a [routerLink]="['/transparencia']">Transparencia</a>
            </li>
            <li>
              <a >Biblioteca</a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="flex gap-[.5rem] pl-[5px]">
           
            <li>
              <a
              [routerLink]="['/mesa-partes-virtual']"
                target="_blank"
                >Mesa de Partes Virtual</a
              >
            </li>
            |
            <li>
              <a
                href="#"
                target="_blank"
                >EVA</a
              >
            </li>
            |
            <li>
              <a
              [routerLink]="['/directorio-institucional']"
                
                >Directorio Institucional</a
              >
            </li>
            |
            <li>
              <a
              [routerLink]="['/libro-reclamaciones']"
                >Libro de Reclamaciones</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="h-[100px]">
    <div class="flex items-center max-w-[1090px] submenu-wrapper">
      <a
        [routerLink]="['']"
        class="flex justify-start w-[20%] item-header-flex"
      >
        <img
          src="assets/logo-comenius-blanco.svg"
          width="100%"
          alt="logo-instituto"
          class="logo-instituo"
        />
      </a>
      <!-- <div class="flex items-center menu-header-2 item-header-flex">
        <a href="#">Inicio</a>
        <a href="#">Sobre Nosotros</a>
        <a href="#">A distancia</a>
      </div>-->
      <div class="max-w-[800px] h-[100%] item-header-flex">
        <ul class="flex gap-[20px]  h-[100%] mb-0">
          <div class="flex items-center text-center "><a href="#" class="text-white">Inicio</a></div>
                        <div class="flex items-center text-center btn-menu-hover ">
                          Nosotros
                          <span class="material-symbols-outlined">expand_more</span>
                          <div class="wrapper-hover-menu"></div>
                          <ul class="wrapper-hover-menu-submenu pl-0">
                            @for (link of linksNosotros; track $index) {
                            <a [routerLink]="link.href" class="item-submenu">
                              <div class="submenu-header">
                                <img src="{{ link.img }}" alt="" />
                                <p>{{ link.title }}</p>
                              </div>
                              <ul></ul>
                            </a>
                            }
                          </ul>
                        </div>

          <div class="flex items-center text-center btn-menu-hover ">
            Gestion Administrativa
            <span class="material-symbols-outlined">expand_more</span>
            <div class="wrapper-hover-menu"></div>
            <ul class="wrapper-hover-menu-submenu pl-0">
              @for (link of linksAdministrativa; track $index) {
              <a [routerLink]="link.href" class="item-submenu">
                <div class="submenu-header">
                  <img src="{{ link.img }}" alt="" />
                  <p>{{ link.title }}</p>
                </div>
                <ul></ul>
              </a>
              }
            </ul>
          </div>

          <div class="flex items-center text-center btn-menu-hover  academica-wrapper">
            Gestion Academica
            <span class="material-symbols-outlined">expand_more</span>
            <div class="wrapper-hover-menu"></div>
            <ul id="academica-wrapper" class="wrapper-hover-menu-submenu pl-0">
              @for (link of linksAcademica; track $index) {
                 @if(link.title
              =='ADMISION'){

              <a
                id="admision-menu"
                [routerLink]="link.href"
                class="item-submenu"
              >
                <div class="submenu-header">
                  <img src="{{ link.img }}" alt="" />
                  <p>{{ link.title }}</p>
                </div>
              </a>
              <ul class="admision-submenu-wrapper">
                <div class="row-section pt-md-3 pb-md-2">
                  <div class="column2 three-columns">
                    <a
                      class="text-center"
                      [routerLink]="['/terminaste-el-colegio']"
                    >
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/hat-2.svg"
                        alt="imagen submenu"
                      />
                      <p>¿Estás por terminar o ya terminaste el colegio?</p>
                    </a>
                  </div>
                  <div class="column2 three-columns">
                    <a class="text-center" [routerLink]="['/trasladate']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/building.svg"
                        alt="imagen submenu"
                      />
                      <p>¿Quieres trasladarte de Instituto?</p>
                    </a>
                  </div>
                  <div class="column2 three-columns">
                    <a class="text-center" [routerLink]="['/extranjero']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/foreang-student.svg"
                        alt="imagen submenu"
                      />
                      <p>¿Eres postulantes extranjero?</p>
                    </a>
                  </div>
                </div>
                <div class="row-section pt-md-3 pb-md-2">
                  <div class="column2 four-columns">
                    <a
                      class="text-center"
                      [routerLink]="['/informacion-basica']"
                    >
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/basic-info.svg"
                        alt="imagen submenu"
                      />
                      <p>INFORMACIÓN BASICA</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a
                      class="text-center"
                      [routerLink]="['/modalidad-ingreso']"
                    >
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/admision.svg"
                        alt="imagen submenu"
                      />
                      <p>MODALIDAD DE INGRESO</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/requisitos']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/cost.svg"
                        alt="imagen submenu"
                      />
                      <p>REQUISITOS Y COSTOS</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/resultados']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/admision.svg"
                        alt="imagen submenu"
                      />
                      <p>RESULTADOS DE EXÁMEN</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/preguntas']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/questions.svg"
                        alt="imagen submenu"
                      />
                      <p>PREGUNTAS FRECUENTES DE ADMSIÓN</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/admision-cronograma']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/cronograma.svg"
                        alt="imagen submenu"
                      />
                      <p>CRONOGRAMA</p>
                    </a>
                  </div>
                </div>
              </ul>

              } @if(link.title == 'MATRÍCULA'){
              <a
                id="matricula-menu"
                [routerLink]="link.href"
                class="item-submenu"
              >
                <div class="submenu-header">
                  <img src="{{ link.img }}" alt="" />
                  <p>{{ link.title }}</p>
                </div>
              </a>
              <ul class="matricula-submenu-wrapper">
                <div class="row-section pt-md-3 pb-md-2">
                  <div class="column2 three-columns">
                    <a
                      class="text-center"
                      [routerLink]="['/informacion-matricula']"
                    >
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/basic-info.svg"
                        alt="imagen submenu"
                      />
                      <p>Información Básica</p>
                    </a>
                  </div>
                  <div class="column2 three-columns">
                    <a class="text-center" [routerLink]="['/costos-matricula']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/cost.svg"
                        alt="imagen submenu"
                      />
                      <p>Requisitos y Costos</p>
                    </a>
                  </div>
                  <div class="column2 three-columns">
                    <a
                      class="text-center"
                      [routerLink]="['/organigrama-matricula']"
                    >
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/admision.svg"
                        alt="imagen submenu"
                      />
                      <p>Cronograma</p>
                    </a>
                  </div>
                </div>
              </ul>

              } @if(link.title == 'TRAMITES'){
              <a
                id="tramites-menu"
                [routerLink]="link.href"
                class="item-submenu"
              >
                <div class="submenu-header">
                  <img src="{{ link.img }}" alt="" />
                  <p>{{ link.title }}</p>
                </div>
              </a>
              <ul class="tramites-submenu-wrapper">
                <div class="row-section pt-md-3 pb-md-2">
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/evaluacion']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/admision.svg"
                        alt="imagen submenu"
                      />
                      <p>EVALUACIÓN</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/certificacion']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/certificado.svg"
                        alt="imagen submenu"
                      />
                      <p>CONSTANCIA Y CERTIFICACION</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/periodo']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/hat-2.svg"
                        alt="imagen submenu"
                      />
                      <p>PROMOCION DE PERIODO ACADEMICO</p>
                    </a>
                  </div>
                  <div class="column2 five-columns">
                    <a class="text-center" [routerLink]="['/retificacion']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/basic-info.svg"
                        alt="imagen submenu"
                      />
                      <p>RETIFICACION DE NOMBRE Y APELLIDO</p>
                    </a>
                  </div>
                </div>
                <div class="row-section pt-md-3 pb-md-2">
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/bachiller']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/bachiller.svg"
                        alt="imagen submenu"
                      />
                      <p>BACHILLER</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/titulacion']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/admision.svg"
                        alt="imagen submenu"
                      />
                      <p>TITULACION</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/convalidacion']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/convalidacion.svg"
                        alt="imagen submenu"
                      />
                      <p>CONVALIDACIÓN</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/abandono']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/licencia.svg"
                        alt="imagen submenu"
                      />
                      <p>LICENCIA DE ABANDONO</p>
                    </a>
                  </div>
                  <div class="column2 four-columns">
                    <a class="text-center" [routerLink]="['/experiencias']">
                      <img
                        class="m-auto"
                        width="40"
                        height="40"
                        src="/assets/formativa.svg"
                        alt="imagen submenu"
                      />
                      <p>EXPERIENCIAS FORMATIVAS</p>
                    </a>
                  </div>
                </div>
              </ul>

              } @else { @if (link.title == 'ADMISION' || link.title ==
              'MATRÍCULA' || link.title == 'TRAMITE') {} @else {
              <a [routerLink]="link.href" class="item-submenu">
                <div class="submenu-header">
                  <img src="{{ link.img }}" alt="" />
                  <p>{{ link.title }}</p>
                </div>
                <ul></ul> </a
              >} } }
            </ul>
          </div>
          <div class="flex items-center hover:cursor-pointer">
            <a
              [routerLink]="['/inscribete']"
              
              class="joinus-button"
            >
              INSCRÍBETE
            </a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</header>
}
