
<app-header/>

<div class="main-content">
<section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>RESULTADOS EXAMEN </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container-title">
    <h2>VER RESULTADOS</h2>
</div>

<div class="container">
  <div class="tabs">
    <h3 class="active content-title" >
        <div class="numero">1</div>
        <div class="title-lista">Resultados</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
        <div class="tab-content-flex mb-4">
            <img height="28" width="28" src="/assets/student.svg" alt="">
            <div class="ml-3">
                <p class="bold-text">Resultados:</p>
                <p>Proximamente.</p>
            </div>
        </div>
      </div>
      <!--second-->
      <div class="all-tab-wrapper">
        
      </div>
      <!--third-->
      <div class="all-tab-wrapper">
      
      </div>
  </div>
</div>

<app-footer/>