<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>MODALIDAD DE INGRESO</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container-title">
  <h2>TRASLADO</h2>
</div>

<div class="container">
  <div class="tabs">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Ordinario</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Egresados de colegios públicos</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">3</div>
      <div class="title-lista">Deportistas</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">4</div>
      <div class="title-lista">Beneficiarios del PIR</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />El proceso de admisión se
              realiza por ingreso ordinario o ingreso por exoneración.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El ingreso por exoneración
              será para los postulantes.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Los primeros puestos egresados de Colegios Públicos en los 
              dos últimos años dentro de la provincia. Las vacantes 
              concedidas son de dos por programa de estudio del total de 
              la meta de atención. Además de los documentos exigidos 
              para admisión, estos presentarán una constancia en original 
              que acredite haber obtenido el puesto mencionado. Si 
              dentro de los primeros puestos hubiera un estudiante que 
              haya ocupado el primer puesto y el segundo en el caso de 
              dos estudiantes con igual puesto, tendrá prioridad quien 
              haya egresado recientemente.
            </li>
           
          </ul>
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" /> Deportistas calificados, acreditados por el Instituto 
              Peruano del Deporte que hayan representado a nivel 
              Provincial o Región. Para lo cual deben adjuntar el 
              currículo deportivo.
            </li>
           
          </ul>
        </div>
      </div>
    </div>
    <!--Fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Los beneficiarios del PIR, los que están cumpliendo 
              servicio militar, personas adultas mayores, al personal 
              con discapacidad de las fuerzas armadas y PNP, deben 
              acreditar con documentos sustentatorios ser 
              beneficiarios de dichas leyes.
            </li>
           
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
