<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>MODALIDAD DE INGRESO</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Ordinario</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Exonerado</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">3</div>
      <div class="title-lista">Extraordinario</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">4</div>
      <div class="title-lista">Trayectoria</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">5</div>
      <div class="title-lista">Programa de Preparación</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Se realiza periódicamente a través de una evaluación considerando
            condiciones de calidad para cubrir el número de vacantes de acuerdo
            al orden al mérito.
          </p>
          <p>
            Se determinará mediante la aplicación por única vez en cada
            convocatoria de una prueba de aptitud, conocimiento y cultura
            general, en base a los principios de meritocracia, transparencia y
            equidad, la misma que se aplicará en fecha y hora establecida en el
            prospecto de admisión.
          </p>
          <p>
            Para la modalidad de admisión ordinaria, el postulante debe llenar
            la ficha de inscripción para la admisión ordinaria establecida por
            el IES.
          </p>
          <p>
            Durante el proceso de admisión el IES garantiza lo dispuesto en la
            Ley N° 29973, Ley General de la Persona con Discapacidad, la Ley N°
            28592, Ley que crea el Plan Integral de Reparaciones, La Ley N°
            30490, Ley de la Persona Adulta Mayor, la Ley N°29643, Ley que
            otorga protección al personal con discapacidad de las Fuerzas
            Armadas y Policía Nacional del Perú, en cuanto sea aplicable, y
            otras normas según corresponda.
          </p>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Contempla la admisión a deportistas calificados, artistas
            calificados, estudiantes talentosos y a aquellos que están
            cumpliendo servicio militar, de conformidad con la normativa
            vigente. La exoneración es un mecanismo que concede al estudiante
            comprendido en esta modalidad, el ingreso directo, sin rendir el
            examen de admisión, más no al pago de los derechos de inscripción
            como postulante, los cuales se efectuarán de acuerdo a las
            Disposiciones Promocionales para la admisión y otorgamiento de
            beneficios a los ingresantes por modalidad de exoneración
            establecidos en el Artículo 21 del presente reglamento.
          </p>
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Este proceso de admisión se autoriza por el MINEDU y se implementa
            para becas y programas, conforme a la normativa de la materia.
          </p>
          <p>
            Para la modalidad de admisión extraordinaria, complementariamente, a
            los requisitos establecidos para la modalidad de admisión ordinaria,
            el postulante debe cumplir con los requisitos establecidos por el
            Programa Nacional de Becas y Crédito Educativo– PRONABEC en el marco
            de sus convocatorias anuales.
          </p>
        </div>
      </div>
    </div>
    <!--Fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Mediante este proceso, se lleva a cabo una evaluación exhaustiva de
            la experiencia laboral acumulada y el desempeño en actividades de
            docencia del postulante. Esta evaluación abarca todos los niveles
            educativos, desde la educación básica hasta la superior, así como
            diversos contextos formativos, ya sea en instituciones formales,
            programas de educación no formal o capacitaciones empresariales.
          </p>
          <p>
            Se considera esencial que el postulante haya acumulado al menos tres
            años de experiencia docente, los cuales pueden haber sido de manera
            continua o intermitente, permitiendo así una mayor flexibilidad en
            la valoración de su trayectoria profesional. Además, se valoran
            tanto las habilidades pedagógicas demostradas en el aula como la
            capacidad del postulante para adaptarse a diferentes entornos y
            metodologías educativas, asegurando así una evaluación completa y
            detallada de su aptitud y compromiso con la enseñanza.
          </p>
        </div>
      </div>
    </div>
    <!--Fifth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Este proceso de evaluación tiene como objetivo principal valorar
            tanto la experiencia laboral acumulada como el desempeño en
            actividades de docencia del postulante, considerando todos los
            niveles educativos y diversos contextos formativos. La evaluación es
            especialmente pertinente para aquellos interesados en seguir
            carreras pedagógicas. Para ello, se requiere que el postulante haya
            acumulado un mínimo de tres años de experiencia docente, los cuales
            pueden haber sido adquiridos de manera consecutiva o no.
          </p>
          <p>
            Adicionalmente, se contempla la aprobación de un programa de
            inducción diseñado para habilitar en los postulantes las
            competencias necesarias para desempeñarse efectivamente en el campo
            de la educación. Este programa de inducción tiene como finalidad
            proporcionar una formación integral que refuerce tanto las
            habilidades pedagógicas como las capacidades para gestionar
            diferentes entornos educativos, utilizando metodologías innovadoras
            y adaptativas.
          </p>
          <p>
            Solo aquellos postulantes que aprueben satisfactoriamente este
            programa de inducción serán considerados aptos para lograr su
            ingreso al Instituto TECNOCOM. Este instituto se compromete a
            ofrecer una educación de calidad, orientada a formar profesionales
            de la educación que contribuyan significativamente al desarrollo del
            sistema educativo en general. La combinación de experiencia laboral,
            desempeño docente y formación a través del programa de inducción
            garantiza que los futuros educadores estén plenamente preparados
            para afrontar los retos del mundo educativo actual.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
