<app-header />

<section id="psicologia">
    <div class="container">
        <div class="banner-wrapper">
            <h2>PSICOLOGÍA </h2>
            <p>El Servicio de Bienestar Estudiantil de Psicología en Tecnocom promueve la salud mental de nuestros
                estudiantes. Ofrecemos asesoramiento psicológico, talleres de manejo del estrés y programas de
                desarrollo personal, creando un entorno de apoyo e inclusivo para que cada estudiante alcance su máximo
                potencial.</p>
        </div>
    </div>
</section>

<section id="recomendaciones">
    <div class="container">
        <h2>
            RECOMENDACIONES PARA LA SALUD MENTAL SEGÚN LA ONU
        </h2>
        <div class="recomendaciones-wrapper">
            <div class="card-img">
                <img src="/assets/psicologia-1.webp">
            </div>
            <div class="card-img">
                <img src="/assets/psicologia-2.webp">
            </div>
        </div>
    </div>
</section>

<section id="protocolo">
    <div class="container">
        <h2>
            PROTOCOLOS
        </h2>
        <div class="protocolo-wrapper">
            <img src="/assets/protocolo-def.webp" alt="">
            <img src="/assets/protocolo-def.webp" alt="">
            <img src="/assets/protocolo-def.webp" alt="">
        </div>
    </div>
</section>


<app-footer />