<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>¿ESTÁS POR TERMINAR O YA TERMINASTE EL COLEGIO?</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Información</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Dirigido a:</p>
          <p>Postulantes que se encuentren cursando 5to de secundaria.</p>
        </div>
      </div>
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/requisitos.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Requisitos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento
              Nacional de Identidad
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estudio en
              original.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los estudiantes de
              Educación Básica pueden participar en el proceso de admisión de un
              IES. Para matricularse se requiere que acrediten haber concluido
              los estudios de la etapa de Educación Básica en cualquiera de sus
              modalidades.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Presentación de la carta
              compromiso (Sólo en caso de que el postulante no presente los
              documentos requeridos al momento de la inscripción).
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Si el postulante es mayor
              de edad, firmará la carta como señal de compromiso.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />En caso de que el
              postulante provenga de un colegio del extranjero, la documentación
              debe estar traducida oficialmente al español y visada por el
              Ministerio de Educación.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los estudiantes de
              Educación Básica pueden participar en el proceso de admisión de un
              IES.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Recibo de pago de
              inscripción.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Ficha de Inscripción del
              postulante.
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content-flex">
        <img height="28" width="28" src="/assets/costes.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Costos:</p>
          <p>Examen de admisión valor de 50 soles</p>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <h4>Second Title</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe magnam
        eveniet quisquam earum esse amet, totam consequuntur eos sapiente nihil
        quos excepturi. Odit!
      </p>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <h4>Third Title</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe magnam
        eveniet quisquam earum esse amet, totam consequuntur eos sapiente nihil
        quos excepturi. Odit!
      </p>
    </div>
  </div>
</div>

<app-footer />
