<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>INFORMACIÓN BÁSICA</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--<div class="container-title">
    <h2>POSTULANTE EXTRANJERO</h2>
</div>-->

<div class="container">
  <div class="tabs">
    <h3 class="active content-title">
      <div class="title-lista">Información</div>
    </h3>
    <h3 class="content-title">
      <div class="title-lista">Procedimiento de Matrícula</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            La matrícula es un acto formal y voluntario que acredita la
            condición de estudiante en el Programa de Contabilidad y Producción
            Agropecuaria del Instituto de Educación Superior Tecnológico Público
            de Huallaga por un determinado período, e implica el compromiso de
            acatar y cumplir con la Ley de Institutos y Escuelas de Educación
            Superior y su Reglamento, así como por el presente reglamento
            institucional.
          </p>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
        <div class="tab-content-flex mb-4">
            <div class="ml-3">
                <img
                src="/assets/mapa-procedimiento-matricula.png"
                alt="mapa procedimiento imagen"
              />
            </div>
        </div>
    </div>
  </div>
</div>

<app-footer />
