<form action="https://formsubmit.co/comenius.tecnologico@gmail.com" method="POST" autocomplete="off">

    <h2>CONTÁCTANOS</h2>

    <div class="form-txt">
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
    </div>

    <div class="input-group">
         <input type="text" name="nombre" placeholder="Escribe tu nombre">

         <input type="text" name="apellido" placeholder="Escribe tu apellido">
    
        <input type="tel" name="telefono" placeholder="Celular">

        <input type="email" name="correo" placeholder="Correo">

        <select name="Carrera de interés">
            <option value="ARQUITECTURA DE PLATAFORMAS Y SERVICIOS DE TI" >ARQUITECTURA DE PLATAFORMAS Y SERVICIOS DE TI</option>
            <option value="GESTION ADMINISTRATIVA" selected>GESTION ADMINISTRATIVA</option>
            <option value="ADMINISTRACION BANCARIA Y FINANCIERA">ADMINISTRACION BANCARIA Y FINANCIERA</option>
            <option value="MARKETING">MARKETING</option>
            <option value="CONTABILIDAD">CONTABILIDAD</option>
            <option value="ADMINISTRACION DE OPERACIONES TURISTICAS">ADMINISTRACION DE OPERACIONES TURISTICAS</option>
          </select>
        

        <input type="submit" class="btn" value="Enviar">
    </div>

</form>
