<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <img
                  class="icon-carr-banner"
                  src="https://isam.edu.pe/img/icon_marketing.png"
                  alt=""
                />
                <h1>ADMINISTRACIÓN BANCARIA Y FINANCIERA</h1>
                <div class="tex-modalidad sistemas">
                  <h2>
                    Cumple con el protocolo de la Institución Financiera (IFI)
                    para la recepción de caja, de dinero y de documentos
                    necesarios para desarrollar sus labores diarias.
                  </h2>
                </div>
                <!--<div class="descargar-brochure sistemas">
                  <a
                    download=""
                    href="assets/documents/malla-curricular-contabilidad.pdf"
                    target="_blank"
                    >Ver malla curricular</a
                  >
                </div>-->
              </div>
              <!--<div class="box-conveniosUnivers distancia logo-u-banner">
                <h2>Convalida tu carrera:</h2>
                <div class="cont-unis">
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_u_wiener.png"
                      alt="universidad 1"
                    />
                  </div>
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_sjb.png"
                      alt="universidad 2"
                    />
                  </div>
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_ucv.png"
                      alt="universidad 3"
                    />
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="beneficios-home-internas sistemas">
    <div class="container">
      <div class="row">
        <div class="img-benefi col-sm-4">
          <div class="main-height beneficios-home col-h-1 hide-xs">
            <div>
              <img
                src="https://isam.edu.pe/img/carrera_contabilidad.png"
                alt=""
                class="img-responsive im_semi_personaje"
              />
            </div>
          </div>
        </div>
        <div class="txt-benefi col-sm-8">
          <div class="main-height beneficios-home col-h-2">
            <div class="que-es-wrapper">
              <h2 class="que-es-titulo">¿QUÉ ES?</h2>
              <p class="texto-largo-content">
                Está especializada en la gestión de instituciones bancarias y
                entidades financieras. Este campo abarca la supervisión de
                operaciones diarias, la administración de productos y servicios
                bancarios, y la optimización de los recursos financieros de una
                organización. Involucra el análisis y la interpretación de
                estados financieros, la planificación y gestión de inversiones,
                y la evaluación y mitigación de riesgos financieros.
              </p>
              <div class="cajas-wrapper">
                <div class="caja-moda hide-xs">
                  <div class="main-f modalidad">
                    <div>
                      <img
                        src="/assets/calendario-icono.svg"
                        class="icono-img"
                        alt="Icon Modalidad"
                      />
                    </div>
                  </div>
                  <h2>INICIO</h2>
                  <P>Agosto</P>
                </div>
                <div class="caja-moda hide-xs">
                  <div class="main-f modalidad">
                    <div>
                      <img
                        src="https://isam.edu.pe/img/icon_grado.png"
                        alt="Icon Modalidad"
                      />
                    </div>
                  </div>
                  <h2>MODALIDAD:</h2>
                  <P>VIRTUAL</P>
                </div>
                <div class="caja-moda hide-xs">
                  <div class="main-f modalidad">
                    <div>
                      <img
                        src="https://isam.edu.pe/img/icon_credito.png"
                        alt="Icon Modalidad"
                      />
                    </div>
                  </div>
                  <h2>DURACIÓN:</h2>
                  <P>3 años</P>
                </div>
                <div class="caja-moda hide-xs">
                  <div class="main-f modalidad">
                    <div>
                      <img
                        src="/assets/talleres-icono.svg"
                        class="icono-img"
                        alt="Icon Modalidad"
                      />
                    </div>
                  </div>
                  <h2>TALLERES:</h2>
                  <P>Y cursos adicionales gratuitos</P>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="competencia">
    <img
      src="/assets/alumna-img.png"
      class="absolute-img"
      alt="imagen alumna"
    />
    <div class="container">
      <!-- <div class="row">
        <div class="col-12">
          <h2 class="text-competencias-e">PERFIL DEL EGRESADO</h2>
        </div>
      </div>-->
      <div class="row">
        <!-- <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_1.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Comunicación <br />
              Efectiva
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_2.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Espíritu <br />
              Emprendedor
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_3.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Gestor <br />
              Eficaz
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_4.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Dominio de <br />
              Herramientas <br />
              Informáticas
            </h2>
          </div>
        </div>-->
        <div class="backblu-perfil col-sm-7">
          <h2 class="txt-p-estudios">¿POR QUÉ ESTUDIAR?</h2>
          <div class="row mb-[20px]">
            <p>
              Proporciona una formación integral que abarca desde la
              contabilidad y el análisis financiero hasta la gestión de
              inversiones y la tecnología bancaria, lo que permite a los
              graduados desempeñarse en diversas funciones y adaptarse a
              múltiples roles dentro de una organización
            </p>
          </div>
          <h2 class="txt-p-estudios">PERFIL DEL EGRESADO</h2>
          <div class="row">
            <p>
              El Profesional Técnico en ADMINISTRACIÓN DE NEGOCIOS BANCARIOS Y
              FINANCIEROS tiene competencias profesionales capaz desempeñarse en
              bancos o empresas del rubro financiero Y también están capacitados
              para ejercer cargos administrativos en todo tipo de
              organizaciones. Asimismo, pueden gestionar los diversos recursos
              de una empresa, ya sean financieros, humanos o logísticos porque
              poseen conocimientos sobre gestión de cartera de créditos y
              recuperaciones, tienen una formación orientada a la atención al
              cliente y al logro de resultados, conocen las operaciones
              financieras en caja, manejan eficientemente las tecnologías de la
              información y comunicación con capacidad de resolver problemas y
              tomar decisiones que permitan el óptimo funcionamiento de los
              procesos y la consecución de metas para el éxito de la empresa.
              Pueden elaborar investigaciones de mercados de negocios y
              capacidad para elaborar evaluaciones de créditos de consumo e
              hipotecarios para vivienda, así como créditos para la micro,
              pequeña y mediana empresa. Así mismo definen y analizan la
              estructura de los sistemas de información de una organización para
              explotar las ventajas competitivas. En cuanto a sus competencias
              para la empleabilidad presenta una comunicación efectiva e
              interactuar con otras personas en contextos sociales y laborales
              diversos. también tiene facilidad para el trabajo colaborativo,
              toma decisiones con responsabilidad y ejerce su actividad
              profesional con sentido ético.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="plan-estudios">
    <div class="container back-blue">
      <div class="row align-items-center ancho-100 relative cont-malla">
        <div class="col-sm-6">
          <h2 class="txt-p-estudios">DESCUBRE NUESTRA MALLA CURRICULAR</h2>
        </div>
        <div class="col-sm-6 text-center text-md-right">
          <a
            download=""
            href="assets/documents/malla-curricular-financiera.pdf"
            target="_blank"
            class="descargar-brochure dise-curr"
          >
            Malla Curricular pdf
          </a>
        </div>
      </div>
      <div class="row ancho-100 hide-xs relative">
        <div class="acordeon">
          <div class="bloque activo">
            <h2 class="h2">
              MÓDULO 1 : GESTOR DE CAJA Y ASISTENCIA DE LAS OPERACIONES DE LOS SERVICIOS BANCARIOS
              <img src="/assets/flecha-abajo.svg" alt="icono" />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">PRIMER CICLO:</div>
                <p>Introduccion al Sistema Financiero.</p>
                <p>Economía.</p>
                <p>Administración.</p>
                <p>Técnicas de expresión oral y escrita.</p>
                <p>Comprensión y producción de textos.</p>
                <p>Informatica e internet.</p>
                <p>Ofimática.</p>
                
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">SEGUNDO CICLO</div>
                <p>Contabilidad I.</p>
                <p>Gestor de Caja.</p>
                <p>Productos y Servicios Financieros.</p>
                <p>Legislación Comercial y Tributaria.</p>
                <p>Matemática Financiera y Aplicaciones en Excel.</p>
                <p>Ofimática.</p>
                <p>
                  Aplicaciones funcionales.
                </p>
              </div>
            </div>
          </div>
          <div class="bloque">
            <h2 class="h2">
              MÓDULO 2 : ANALISTA DE CRÉDITOS Y FINANZAS
              <img src="/assets/flecha-abajo.svg" alt="icono" />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">TERCER CICLO</div>
                <p>Contabilidad Bancaria.</p>
                <p>Operaciones Bancarias y Financieras.</p>
                <p>Administracion y Organización Bancaria Financiera.</p>
                <p>Contabilidad II.</p>
                <p>Legislación Bancaria y Financiera.</p>
                <p>Trabajo en equipo y comunicación efectiva.</p>
                <p>Desarrollo Personal.</p>
                
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">CUARTO CICLO</div>
                <p>Análisis de los Indicadores Financieros.</p>
                <p>Evaluación de los Créditos.</p>
                <p>Costos y presupuestos.</p>
                <p>Marketing Bancario.</p>
                <p>Atención al Cliente.</p>
                <p>Toma de decisiones y resolución de conflictos.</p>
                <p>Liderazgo y marketing personal.</p>
              </div>
            </div>
          </div>
          <div class="bloque">
            <h2 class="h2">
              MÓDULO 3 :GESTOR DE CRÉDITOS Y OPERACIONES BANCARIAS Y FINANCIERAS
              <img
                src="/assets/flecha-abajo.svg"
                class="icono-flecha"
                alt="icono"
              />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">QUINTO CICLO</div>
                <p>
                  Negocios Internacionales.
                </p>
                <p>Gestión del Talento Humano.</p>
                <p>Investigación.</p>
                <p>Auditoría Financiera.</p>
                <p>Gestión de Mercado de Capitales.</p>
                <p>Ética y relaciones interpersonales.</p>
                
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">SEXTO CICLO</div>
                <p>Formulación y Evaluación de Proyectos de Inversión.</p>
                <p>Supervisión Y Regulación Bancaria.</p>
                <p>Gestión Micro Financiera Productiava.</p>
                <p>Investigación Aplicada.</p>
                <p>Gestión de Agencia Bancarias y Financieras.</p>
                <p>Ética Profesional.</p>
                <p>Ingles para la comunicación oral y escrita.</p>
                <p>Ingles Comercial Básico.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mallacurricular" class="section tabs2">
    <div class="container">
      <b class="ct-subtitle ct-subtitle--blue mb30">DISEÑO CURRICULAR</b>
      <div class="flex-curri">
        <div class="diseño-flex">
          <h2>DISEÑO CURRICULAR</h2>
          <a
            download=""
            href="assets/documents/diseño-curricular-financiera.pdf"
            class="descargar-brochure dise-curr"
            >DESCARGAR PDF
          </a>
        </div>
        <p class="parraf-diseño">
          Nuestro diseño curricular asegura que la educación impartida sea
          coherente, relevante y efectiva para alcanzar las metas educativas
          propuestas, Responsabilidad y ejerce su actividad profesional con
          sentido ético.           
        </p>
      </div>
      <hr />
    </div>
  </section>

  <section id="campolaboral" class="section tabs2">
    <div class="container">
      <b class="ct-subtitle ct-subtitle--blue mb30"
        >PODRÁS DESEMPEÑARTE EN LAS SIGUIENTES ÁREAS</b
      >
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <div class="ct-richText">
            <ul>
              <li>Instituciones financieras .</li>
              <li>Compañías aseguradoras y afianzadoras .</li>
              <li>Secretaría de finanzas .</li>
              <li>Secretaría de economía .</li>
              <li>Secretaría de hacienda y crédito público .</li>
            </ul>
          </div>
        </div>
        <div class="column is-6 is-offset-1">
          <div class="ct-richText">
            <ul>
              <li>Bolsa de valores Afores y fondos de inversión .</li>
              <li>Consultoría independiente .</li>
              <li>
                También podrás desempeñarse en diferentes industrias en el área
                de finanzas, principalmente en empresas del sector financiero
                como cajas, cooperativas y bancos, tanto carácter público,
                privado o mixto, aportando en procesos de: Procesos de proyectos
                o empresas de pagos digitales Análisis, organización y servicios
                financieros de manera integral Atención al cliente en entidades
                financieras Soporte de proceso administrativos financieros.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tec-otorga">
    <div class="container relative">
      <img
        src="https://isam.edu.pe/img/rayas_vertical.png"
        class="img-ray-ver"
        alt="imagen decoracion"
      />
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-otorga">OTORGAMOS:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row hide-xs show-lg">
            <div class="col-2-otrg">
              <a target="_blank" href="http://telesup.trabajando.pe/">
                <div class="main-f otorga">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/bolsa_trabajo.png"
                      alt=""
                      class="img-responsive"
                    />
                  </div>
                </div>
                <p>Empleabilidad:<br />Bolsa de Trabajo</p>
              </a>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_1.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>
                Título a nombre de la Nación:
                <strong>Profesional Técnico</strong>
              </p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_2.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>3 certificaciones</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_3.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>Grado de bachiller técnico</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_4.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>Inglés Americano en los 6 ciclos</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_5.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>
                Convalidación directa con universidades con escala preferencial
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="en-que-podrasTrabajar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>CUÁL ES LA LABOR DEL TÉCNICO</h2>
        </div>
      </div>
      <div class="row hide-xs">
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_comercial.png"
                  alt="Icono otorgamos 1"
                />
              </div>
            </div>
            <p>
              Apertura y cierre de cuentas bancarias, procesamiento de
              transacciones como depósitos y pagos.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_administrativa.png"
                  alt="Icono otorgamos 2"
                />
              </div>
            </div>
            <p>
              Administración de préstamos mediante la evaluación de solicitudes
              y el seguimiento de la cartera crediticia.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_contabilidad.png"
                  alt="Icono otorgamos 3"
                />
              </div>
            </div>
            <p>
              Proporciona asesoramiento sobre productos y servicios financieros
              y resolviendo consultas de manera efectiva.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_logistica.png"
                  alt="Icono otorgamos 4"
                />
              </div>
            </div>
            <p>
              Colabora en el cumplimiento de normativas legales y regulatorias,
              asegurando que todas las operaciones bancarias cumplan con los
              estándares establecidos y la prevención de riesgos como el lavado
              de dinero.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-[40px]">
    <app-formulario-contacto />
  </section>
</div>

<app-footer />
