<app-header/>

<section class="mi-contenedor">
    <div class="contenido-wrapper">
        <h2 class="titulo-pagina">TRABAJO COLABORATIVO CON MICROSOFT 365</h2>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slide">
                <div class="card-career">
                    <img src="/assets/noticias/foto-1-noticia-1.webp" alt="">
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="card-career">
                    <img src="/assets/noticias/foto-2-noticia-1.webp" alt="">
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="card-career">
                    <img src="/assets/noticias/foto-3-noticia-1.webp" alt="">
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="card-career">
                    <img src="/assets/noticias/foto-4-noticia-1.webp" alt="">
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="card-career">
                    <img src="/assets/noticias/foto-5-noticia-1.webp" alt="">
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
   
</section>
<app-footer/>
