<app-header />

<div class="bloque">

</div>


<div id="carousel" class=" max-w-[100%] ">
    <section class="carousel-home ">
        <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner  ">

                <div class="carousel-item active ">
                    <img class="w-full " src="/assets/fondo-1.webp" alt="banner_1" width="100%" height="auto">
                    <div class="btn-info">
                        <h1></h1>
                        <p></p>
                    </div>
                </div>

                <div class="carousel-item  ">
                    <img class="w-full  " src="/assets/fondo-2.webp" alt="banner_2" width="100%" height="auto">
                    <div class="btn-info">
                        <h1></h1>
                        <p></p>
                    </div>
                </div>

                <div class="carousel-item  ">
                    <img class="w-full  " src="/assets/fondo-3.webp" alt="banner_2" width="100%" height="auto">
                    <div class="btn-info">
                        <h1></h1>
                        <p></p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev carrusel-btn-left" type="button"
                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next carrusel-btn-right" type="button"
                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</div>


<div id="porque" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <div class="porque-wrapper">
            <div class="porque-defi">
                <h2>¿Por qué Tecnocom?</h2>
                <p>En Tecnocom, brindamos un servicio de calidad, de fácil acceso a todo nuestro país, manteniendo un
                    enfoque inclusivo para poder derribar las brechas sociales, tecnológicas, económicas y territoriales
                    que impiden a la población peruana acceder a una carrera técnico profesional.</p>
                <p>Ofrecemos esta oportunidad por el compromiso que tenemos de servir a nuestra sociedad y contribuir al
                    desarrollo de nuestro país.</p>
            </div>
            <div class="cards-porque-container">
                <div class="card-porque">
                    <img src="/assets/nueve.svg" alt="">
                    <p><span>Servicio educativo de</span> <br>calidad comprobado</p>
                </div>
                <div class="card-porque">
                    <img src="/assets/manos-saludo.svg" alt="">
                    <p><span>Horarios</span><br>flexibles</p>
                </div>
                <div class="card-porque">
                    <img src="/assets/tec.svg" alt="">
                    <p>Puedes conectarte desde cualquier <br><span>parte del pais</span></p>
                </div>
                <div class="card-porque">
                    <img src="/assets/graduado.svg" alt="">
                    <p>Obtén el grado bachiller</p>
                </div>
                <div class="card-porque">
                    <img src="/assets/cost.svg" alt="">
                    <p>Costos Accesibles</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="elige-modalidad" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <div class="elige-wrapper">
            <div class="elige-modalidad">
                <img src="/assets/alumnos.png" alt="">
                <div class="elige-modaliad-info">
                    <p>Estudia 100% virtual con el mejor ecosistema digital.</p>
                    <a href="">Póstula Aquí</a>
                </div>
            </div>
            <div class="elige-info-container">
                <h2>ESTUDIA 100% VIRTUAL</h2>
                <p>Disfruta de poder llevar tu carrera totalmente a distancia</p>
            </div>
        </div>
    </div>
</div>



<div id="careers" class=" max-w-[100%] main-home-container ">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <section class="flex flex-col">
            <div class="flex justify-center">
                <div>
                    <h1 class="title-career">TECNOLOGICO COMENIUS</h1>
                    <h2 class="title-career-little mt-[75px] mb-[65px]">SEIS CARRERAS EN:</h2>
                </div>
            </div>
            <div class="cont-cards-career">
                @for (career of careers; track $index) {
                <div class="card-career"
                    style="background-image: url({{career.img}}); background-size: cover; background-position: center center;">
                    <div class="info-career">
                        <h2 class="info-title-career"><a [routerLink]="['carreras/' + career.page]">{{career.title}}</a>
                        </h2>
                        <a class="info-explore-career" [routerLink]="['carreras/' + career.page]"><span>MÁS
                                INFORMACIÓN</span></a>
                    </div>
                </div>
                }
            </div>
            <div class="flex justify-center mt-[20px]">
                <div>
                    <a [routerLink]="['/carreras']" class="btn-see-all-careers ">VER TODAS LAS CARRERAS</a>
                </div>
            </div>
        </section>
    </div>
</div>


<div id="grado-bachiller" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto ">
        <div class="bachiller-wrapper">
            <div class="bachiller-imagen">
                <img src="/assets/alumno-bachiller.png" alt="">
            </div>
            <div class="bachiller-info-container">
                <h2>¡ESTUDIA CON NOSOTROS Y GRADUATE CON GRADO DE BACHILLER!</h2>
                <p>Nuestro programa educativo está diseñado para ofrecerte una formación integral de calidad y puedas
                    ingresar rápidamente al mundo laboral, además con el grado de Bachiller podrás continuar con tus
                    estudios a nivel posgrado y darle un plus a tu formación profesional.</p>
                <a href="">Más información</a>
            </div>
        </div>
    </div>
</div>


<div id="director" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-8">
        <div class="flex justify-center">
            <div>
                <h2 class="director-titulo">PALABRAS DE LA DIRECTORA</h2>
            </div>
        </div>
        <div class="bachiller-wrapper">
            <div class="director-imagen">
                <img src="/assets/directora.webp" alt="">
            </div>
            <div class="director-info-container">
                <p>"Es un honor para mí darles la bienvenida a Tecnocom, una institución comprometida con la excelencia
                    educativa y la innovación tecnológica. En nombre de todo nuestro equipo docente y administrativo,
                    quiero expresar nuestra más sincera alegría por su interés en formar parte de nuestra comunidad
                    académica.
                </p>
                <P>Tecnocom se distingue por su enfoque en la formación integral, combinando conocimientos teóricos con
                    experiencias prácticas, para preparar a nuestros estudiantes para los desafíos del mundo laboral
                    moderno. Nuestro objetivo es proporcionarles las herramientas necesarias para desarrollar sus
                    habilidades, potenciar sus talentos y alcanzar sus metas profesionales.
                </P>
                <P>Les invito a explorar todo lo que Tecnocom tiene para ofrecer y a unirse a nosotros en esta
                    emocionante travesía educativa. Estamos aquí para ayudarles a alcanzar sus sueños y convertir sus
                    aspiraciones en realidades".</P>

                <h2 class="nom-directora">Dasy Nina Granados</h2>

            </div>
        </div>
    </div>
</div>


<section id="informacion" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <div class="solicita-wrapper">
            <div class="titulo-soli-wrapper">
                <h2>Te acompañamos en esta importante decisión <span>sobre tu futuro.</span></h2>
                <img src="/assets/alumnos-2.png" alt="">
            </div>
            <div class="formulario-wrapper">
                <h2>Solicita información</h2>
                <form class="formulario">
                    <div class="inputs-grupo">
                        <div class="input-grupo">
                            <input type="text" placeholder="Nombre*">
                            <input type="text" placeholder="Apellido materno*">
                        </div>
                        <div class="input-grupo">
                            <input type="text" placeholder="Apellido paterno*">
                            <input type="tel" placeholder="Telefono*">
                        </div>
                    </div>
                    <input type="email" placeholder="Email*">
                    <input type="date" placeholder="Fecha de nacimiento">
                    <select>
                        <option value="" selected>Carrera de Interés</option>
                        <option value="">Contabilidad</option>
                    </select>

                    <select>
                        <option value="" selected>Como te gustaría que te contactáramos?</option>
                        <option value="">Whatsapp</option>
                        <option value="">Correo Electronico</option>
                    </select>

                    <div class="datos-wrapper">
                        <input type="checkbox" name="" id="">
                        <p>Otorgo expresamente mi consentimiento para que mis datos personales sean tratados de acuerdo
                            con la política de tratamientos de datos</p>
                    </div>

                    <button>Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>



<div id="estudiante" class="transparencia max-w-[100%] main-home-container ">
    <div class="my-container-carousel mr-auto ml-auto py-[3rem] ">
        <section class="flex flex-col">
            <div class="flex justify-center mb-[70px]">
                <div>
                    <h1 class="title-career">SERVICIO DE BIENESTAR ESTUDIANTIL</h1>
                    <p class="servicios-desc">El Servicio de Bienestar Estudiantil de Tecnocom se dedica a apoyar el
                        bienestar integral de
                        nuestros estudiantes. Nuestro objetivo es crear un ambiente inclusivo y de apoyo, donde cada
                        estudiante se sienta valorado y empoderado para alcanzar su máximo potencial.</p>
                </div>
            </div>
            <div class="carousel-container section-important">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem class="slide">
                        <div class="card-career"
                            style="background-image: url('assets/psico-fondo.webp'); background-size: cover; background-repeat: no-repeat;background-position: center;">
                            <div class="info-career">
                                <h2 class="info-title-career"><a [routerLink]="['/psicologia']"><img
                                            src="assets/pencil.svg"
                                            alt="transparencia icono"><span>Psicología</span></a></h2>
                                <a class="info-explore-career"
                                    [routerLink]="['/psicologia']"><span>PSICOLOGÍA</span></a>
                            </div>

                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="card-career"
                            style="background-image: url('assets/social-fondo.webp'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                            <div class="info-career">
                                <h2 class="info-title-career"><a [routerLink]="['/asistencia-social']"><img
                                            src="assets/hat.svg" alt="plataforma eva icono"><span>Asistencia
                                            Social</span></a></h2>
                                <a class="info-explore-career" href="https://www.office.com" target="_blank"
                                    [routerLink]="['/asistencia-social']"><span>ASISTENCIA SOCIAL</span></a>
                            </div>

                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="card-career"
                            style="background-image: url('assets/gogia-fondo.webp'); background-size: cover; background-repeat: no-repeat;background-position: center;">
                            <div class="info-career">
                                <h2 class="info-title-career"><a [routerLink]="['/psicopedagogia']"><img
                                            src="assets/book.svg"
                                            alt="repositorio icono"><span>Psicopedagogía</span></a></h2>
                                <a class="info-explore-career"
                                    [routerLink]="['/psicopedagogia']"><span>PSICOPEDAGOGÍA</span></a>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </section>
    </div>
</div>


<div id="noticias" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-[3.2rem] ">
        <div class="noticias-wrapper">
            <div class="titulo-noticias">
                <h2>NOTICIAS Y EVENTOS</h2>
            </div>
            <div class="container-noticias">
                <div class="noticia-card">
                    <img src="/assets/foto-1-noticias.jpg" alt="">
                    <p>Egresados encontraron en "Olimpiadas deportivas IC 2024"</p>
                    <a href="">Leer más...</a>
                </div>
                <div class="noticia-card">
                    <img src="/assets/portada-2.webp" alt="">
                    <p>Taller de Marketing Digital</p>
                    <a href="">Leer más...</a>
                </div>
                <div class="noticia-card">
                    <img src="/assets/portada-3.webp" alt="">
                    <p>Taller de Diseño Web</p>
                    <a href="">Leer más...</a>
                </div>
                <div class="noticia-card">
                    <img src="/assets/portada-4.webp" alt="">
                    <p>Taller de Programación con Python</p>
                    <a href="">Leer más...</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="carousel-sedes" class=" max-w-[100%] bg-[#002C44] ">
    <div class="my-container-carousel mr-auto ml-auto pt-[3rem] ">
        <section class="flex flex-col">
            <div class="flex justify-center  ">
                <div>
                    <h1 class="title-reasons text-white">ENCUENTRANOS EN :</h1>
                </div>
            </div>
            <div class="sede-container mb-5">
                <div class="card-career"
                    style="background-image: url(/assets/sede.png); background-size: cover;background-position: center ; background-repeat: no-repeat;">

                </div>
                <div class="card-career"
                    style="background-image: url(/assets/edificiosede.webp); background-size: cover;background-position: center ; background-repeat: no-repeat;">
                    <div class="info-career">
                        <h2 class="info-title-career"><a href="">SAN ISIDRO</a></h2>
                        <a class="info-explore-career" [routerLink]="['/sede', 'SAN ISIDRO']"><span>DESCUBRIR</span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<app-footer />