.my-container {
    width: 70%;
}

.my-container-carousel {
    width: 80%;
}

/*CAROUSEL - INICIO*/
.carrusel-btn-right {
    justify-content: flex-start;
    align-items: self-end;
    right: 30%;
    padding-bottom: 50px;
}

.carrusel-btn-left {
    justify-content: flex-end;
    align-items: self-end;
    left: 30%;
    padding-bottom: 50px;
}

.btn-info a {
    text-decoration: none;
    z-index: 100;
    position: absolute;
    top: 60%;
    left: 10%;
}

.btn-more-info {
    background: #009AA6;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -.1px;
    color: #fff;
    line-height: 25px;
    padding: 10px 60px;
    border-radius: 30px;
    margin-top: 20px;
    display: table;
    transition: all 0.2s ease-in-out;
}

.btn-more-info:hover {
    background: #fff;
    color: #002C44;
}

.carousel-item {
    height: auto;
}

/*CAROUSEL - FIN*/

/*IMPORTANT SECTION - INICIO*/
.transparencia {
    padding-top: -10px;
    background-color: #B22929;
}

.servicios-desc {
    width: 60%;
    margin: auto;
    color: #fff;
    font-size: 15px;
}

.transparencia .title-career {
    color: #fff;
}

.section-important .info-career h2 a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.section-important .info-career h2 a img {
    height: 50px;
}

.section-important .info-career h2 a span {
    font-size: 18px;
    letter-spacing: 2px;
}

/*IMPORTANT SECTION - FIN*/
/*MAIN - CARRERAS -INICIO*/
.title-career {
    color: #002C44;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.125;
    text-transform: uppercase;
    text-align: center;
}

.title-career::after {
    content: '';
    background-color: #69BE28;
    border: solid #69BE28 1px;
    border-radius: 7px;
    display: block;
    height: 14px;
    margin: 30px auto 0;
    width: 40px;
}

.title-career-little {
    color: #002C44;
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.125;
    text-transform: uppercase;
    text-align: center;
}

.cont-cards-career {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.card-career {
    position: relative;
    height: 275.078px;
    border-radius: 10px;
    width: 32%;
    max-height: 245px;
    -webkit-box-shadow: inset 1px -83px 229px -63px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 1px -83px 229px -63px rgba(0, 0, 0, 0.75);
    box-shadow: inset 1px -83px 229px -63px rgba(0, 0, 0, 0.75)
}

.card-career img {
    border-radius: 10px;
}



.info-career {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 25px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(28, 28, 28, 0) 1%, #1f1f1f 100%);
    border-radius: 10px;
}

.info-career a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.info-career h2 {
    line-height: 0.8;
    margin-bottom: 20px;
}

.info-explore-career {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #B22929 !important;
    border-radius: 20px;
    padding-block: 20px;
    padding-inline: 10px;
    width: 100%;
    height: 35px;
    transition: all 0.2s ease-in-out;
}

.info-explore-career:hover {
    background-color: #002C44;
    color: #fff !important;
}

.btn-see-all {
    text-decoration: none;
    align-items: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    font-size: 0.875rem;
    font-weight: 700;
    padding-inline: 50px;
    height: 48px;
    justify-content: center;
    text-align: center;
    max-width: 285px;
    min-width: 150px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.btn-see-all-careers {
    text-decoration: none;
    align-items: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    padding-inline: 50px;
    height: 48px;
    justify-content: center;
    text-align: center;
    max-width: 285px;
    min-width: 150px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.btn-see-all-careers:hover {
    border: 2px solid #002C44;
    background-color: #002C44;
    color: #fff;
}

.btn-see-all:hover {
    background-color: #009AA6;
    color: #fff;
}

#careers {
    background-image: url(/assets/arriba-fondo.png);
    background-position: left bottom;
    background-size: auto;
}

/*MAIN - CARRERAS -FINAL*/
/*CAROUSEL -INICIO*/
.carousel-container {
    width: 80%;
    margin-inline: auto;
}

#carousel-sedes .carousel-container {
    height: 500px;
}

.carousel-container .card-career {
    width: 100%;
    margin-inline: 5px;
    border-radius: 20px;
}

.carousel-container .card-career .info-career {
    border-radius: 20px;
}

.sede-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/*CAROUSEL -FIN*/
/*MAIN- REASOSNS -INICIO*/
.title-reasons {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.125;
    text-transform: uppercase;
    text-align: center;
}

.title-reasons::after {
    content: '';
    background-color: #69BE28;
    border: solid #69BE28 1px;
    border-radius: 7px;
    display: block;
    height: 14px;
    margin: 30px auto 0;
    width: 40px;
}

.cont-reasons {
    display: flex;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.reason-card {
    height: 100%;
    width: 33.3%;

}

.reason-card h3 {
    margin-top: 20px;
    color: #fff;
}

.image-reason {
    display: flex;
    justify-content: center;
}

.image-reason img {
    height: 130px;
}

/*MAIN- REASOSNS -FIN*/

.slide {
    display: flex;
    justify-content: center;
}

.slick-track {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/*NUESTRO DIRECTOR -INICIO*/
#director {
    background-image: url(/assets/fondo-directora.webp);
}

.director-titulo {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-top: 60px;
}

.columns {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    align-items: start;
    gap: 3rem;
    text-align: start;
}

.column {
    text-align: justify;
}

.column img {
    border-radius: 10px;
}

.columns h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.columns p {
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

/*NUESTRO DIRECTOR - FIN*/
/*CAROUSEL SEDES -INICIO*/
#carousel-sedes {
    background-image: url(/assets/abajo-fondo.png);
    background-position: right top;
}

/*CAROUSEL SEDES - FIN*/
/*Por que - INICIO*/
.porque-wrapper {
    display: flex;
    flex-direction: column;
}

.porque-defi h2 {
    font-size: 50px;
    color: #002C44;
    padding-bottom: 20px;
    border-bottom: 1px solid #1f1f1f;
}

.cards-porque-container {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.cards-porque-container div {
    width: 20%;
}

.card-porque {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10px;
    padding-block: 70px;
    background: rgb(0, 154, 166);
    background: linear-gradient(0deg, rgba(0, 154, 166, 1) 0%, rgba(0, 44, 68, 1) 100%);
    border-radius: 10px;
}

.card-porque img {
    width: 80px;
    height: 80px;
    color: #009AA6;
}

.card-porque p {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.card-porque span {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.2px;
}

/*Por que - FIN*/
/*Elige Virtual - INICIO*/
#elige-modalidad {
    background-color: #B22929;
}

.elige-modalidad img {
    width: 100%;
    margin-bottom: 50px;
}

.elige-modaliad-info {
    display: grid;
    margin-top: -40px;
}

.elige-modaliad-info p {
    width: 100%;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
}

.elige-modaliad-info a {
    padding-block: 15px;
    padding-inline: 20px;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

.elige-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.elige-wrapper div {
    width: 50%;
}

.elige-modalidad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elige-info-container h2 {
    font-size: 70px;
    line-height: 1.3;
    color: #fff;
}

.elige-info-container p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

/*Elige Virtual - FIN*/
/*Bachiller - INICIO*/
#grado-bachiller {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-image: url(/assets/otorgamos-banner.webp);
}

.bachiller-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bachiller-wrapper .bachiller-imagen {
    width: 40%;
}

.bachiller-wrapper .bachiller-info-container {
    width: 60%;
}

.bachiller-info-container {
    background-color: #fff;
    padding: 50px !important;
    border-radius: 10px;
}

.bachiller-info-container h2 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 600;
    color: #002C44;
}

.bachiller-info-container p {
    color: #002C44;
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.2;
}

.bachiller-info-container a {
    padding-block: 15px;
    padding-inline: 20px;
    background-color: #B22929;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;

}

.bachiller-info-container a:hover {
    background-color: #000;
}

/*Bachiller - FIN*/
/*Noticias - INICIO*/
.titulo-noticias h2 {
    font-size: 50px;
    color: #002C44;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.container-noticias {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 320px;
}

.noticia-card {
    border-radius: 10px;
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: 1px solid #1f1f1f;
    height: 100%;
}

.noticia-card img {
    border-radius: 10px;
    height: 170px;
}

.noticia-card p {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 15px;
}

.noticia-card a {
    padding-block: 15px;
    padding-inline: 20px;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

/*Noticias - FIN*/
/*Director - INICIO*/
.director-imagen {
    width: 40%;
    display: flex;
    justify-content: center;
}

.director-imagen img {
    width: 90%;
    border-radius: 10PX;
}

.director-info-container p {
    color: #fff;
    text-align: justify;
    font-size: 15px;
}

.director-info-container {
    width: 60%;
    background-color: #c50019;
    padding: 50px !important;
    border-radius: 10px;
}

.nom-directora {
    color: #fff;
    text-align: right;
}

/*Director - FIN*/
.bloque {
    height: 155px;
    width: 100%;
    background-color: #002C44;

}

/*SOLICITA-INICIO*/
.solicita-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.formulario-wrapper h2 {
    text-align: center;
    font-size: 40px;
    color: #002C44;
    font-weight: 600;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario input,
select {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-block: 8px;
    border: 1px solid #1f1f1f;
}

.formulario button {
    background-color: #002C44;
    color: #fff;
    padding-block: 10px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.formulario button:hover {
    background-color: #000;
    color: #fff;
}

.inputs-grupo {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.datos-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: center;
}

.datos-wrapper input {
    width: 20px;
    height: 20px;
}

.titulo-soli-wrapper {
    padding: 20px;
}

.titulo-soli-wrapper h2 {
    font-size: 30px;
}

.titulo-soli-wrapper span {
    color: #B22929;
}

/*SOLICITA-FIN*/
/*MEDIA QUERYS**/

@media only screen and (max-width: 1200px) {
    .my-container {
        width: 90%;
    }


    .my-container-carousel {
        width: 80%;
    }


}


@media only screen and (max-width: 860px) {
    .cards-porque-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-porque-container div {
        width: 100%;
    }

    .card-porque {
        padding-block: 30px;
    }


    .elige-wrapper {
        flex-direction: column;
    }

    .elige-wrapper div {
        width: 100%;
    }

    .elige-modalidad {
        flex-direction: row;
    }

    .elige-info-container h2 {
        font-size: 40px;
        text-align: center;
    }

    .bachiller-wrapper {
        flex-direction: column;
        padding-block: 20px;
    }

    .bachiller-wrapper .bachiller-info-container {
        width: 90%;
        padding-block: 30px !important;
        padding-inline: 17px !important;
    }

    .bachiller-info-container h2 {
        font-size: 30px;
    }

    .bachiller-info-container p {
        font-size: 16px;
    }

    .director-info-container {
        width: 90%;
        padding-block: 25px !important;
        padding-inline: 15px !important;
    }

    .director-imagen img {
        width: 90%;
        margin-bottom: 10px;
    }

    .director-titulo {
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
    }

    .title-career {
        font-size: 40px;
    }

    .servicios-desc {
        width: 90%;
        text-align: center;
    }

    .container-noticias {
        display: flex;
        flex-direction: column;
    }

    .titulo-noticias h2 {
        font-size: 35px;
    }

    .sede-container {
        flex-direction: column-reverse;
    }

    .porque-defi h2 {
        margin-top: 50px;
        font-size: 35px;
        line-height: 1.3;
    }
}




@media only screen and (max-width: 800px) {
    .transparencia {
        padding-top: 50px;
    }

    .cont-cards-career {
        display: grid;
        justify-items: center;
        grid-template-columns: 50% 50%;
    }

    .card-career {
        width: 100%;
    }

    .main-home-container>div {
        max-width: 95%;
    }


    .columns {
        display: flex;
        flex-direction: column;
    }

    .column {
        text-align: justify;
    }

}


@media only screen and (max-width: 700px) {
    .section-important .info-career h2 a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}

@media only screen and (max-width: 550px) {
    .cont-reasons {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    #carousel {
        display: none;
    }


    .reason-card {
        width: auto;
    }

    .reason-card h3 {
        font-size: 15px;
    }

    .image-reason img {
        height: 80px;
    }

    .info-career {
        padding-block: 10px;
        padding-inline: 20px;

    }

    .info-career a {
        font-size: 12px !important;
        font-weight: 500;
        letter-spacing: 0.4px;
    }

    .info-explore-career {
        padding-inline: 0;
        font-size: 11px;
    }

    .title-reasons {
        color: #002C44;
        display: flex;
        flex-direction: column;
        font-size: 33px;
        font-weight: 700;
        line-height: 1.125;
        text-transform: uppercase;
        text-align: center;
    }

    #careers {
        padding-top: 40px;
    }


    .card-career {
        width: 100%;
        height: 220px;
    }

}