<app-header />


<div id="carousel" class=" max-w-[100%] ">
    <section class="carousel-home mt-[54px]">
        <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner  ">

                <div class="carousel-item active ">
                    <img class="w-full " src="/assets/banner-1.webp" alt="banner_1" width="100%" height="auto">
                    <div class="btn-info">
                        <h1></h1>
                        <p></p>
                        <!-- <a class="btn-more-info" href="">MÁS INFORMACION</a>-->
                    </div>
                </div>

                <div class="carousel-item  ">
                    <img class="w-full  " src="/assets/banner-2.webp" alt="banner_2" width="100%" height="auto">
                    <div class="btn-info">
                        <h1></h1>
                        <p></p>
                        <!-- <a class="btn-more-info" href="">MÁS INFORMACION</a>-->

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev carrusel-btn-left" type="button"
                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next carrusel-btn-right" type="button"
                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</div>


<div id="porque" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <div class="porque-wrapper">
            <div class="porque-defi">
                <h2>¿Por qué Tecnocom?</h2>
                <p>En Tecnocom, brindamos un servicio de calidad, de fácil acceso a todo nuestro país, manteniendo un
                    enfoque inclusivo para poder derribar las brechas sociales, tecnológicas, económicas y territoriales
                    que impiden a la población peruana acceder a una carrera técnico profesional.</p>
                <p>Ofrecemos esta oportunidad por el compromiso que tenemos de servir a nuestra sociedad y contribuir al
                    desarrollo de nuestro país.</p>
            </div>
            <div class="cards-porque-container">
                <div class="card-porque">
                    <img src="/assets/nueve.svg" alt="">
                    <p><span>Servicio educativo de</span> <br>calidad comprobado</p>
                </div>
                <div class="card-porque">
                    <img src="/assets/manos-saludo.svg" alt="">
                    <p><span>Horarios</span><br>flexibles</p>
                </div>
                <div class="card-porque">
                    <img src="/assets/tec.svg" alt="">
                    <p>Puedes conectarte desde cualquier <br><span>parte del pais</span></p>
                </div>
                <div class="card-porque">
                    <img src="/assets/graduado.svg" alt="">
                    <p>Obtén el grado bachiller</p>
                </div>
                <div class="card-porque">
                    <img src="/assets/cost.svg" alt="">
                    <p>Costos Accesibles</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="elige-modalidad" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <div class="elige-wrapper">
            <div class="elige-modalidad">
                <img src="/assets/virtual-img.png" alt="">
                <div class="elige-modaliad-info">
                    <p>Estudia 100% virtual con el mejor ecosistema digital.</p>
                    <a href="">Póstula Aquí</a>
                </div>
            </div>
            <div class="elige-info-container">
                <h2>ESTUDIA 100% VIRTUAL</h2>
                <p>Disfruta de poder llevar tu carrera totalmente a distancia</p>
            </div>
        </div>
    </div>
</div>



<div id="careers" class=" max-w-[100%] main-home-container ">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <section class="flex flex-col">
            <div class="flex justify-center">
                <div>
                    <h1 class="title-career">TECNOLOGICO COMENIUS</h1>
                    <h2 class="title-career-little mt-[75px] mb-[65px]">SEIS CARRERAS EN:</h2>
                </div>
            </div>
            <div class="cont-cards-career">
                @for (career of careers; track $index) {
                <div class="card-career"
                    style="background-image: url({{career.img}}); background-size: cover; background-position: center center;">
                    <div class="info-career">
                        <h2 class="info-title-career"><a [routerLink]="['carreras/' + career.page]">{{career.title}}</a>
                        </h2>
                        <a class="info-explore-career" [routerLink]="['carreras/' + career.page]"><span>MÁS
                                INFORMACIÓN</span></a>
                    </div>
                </div>
                }
            </div>
            <div class="flex justify-center mt-[20px]">
                <div>
                    <a [routerLink]="['/carreras']" class="btn-see-all-careers ">VER TODAS LAS CARRERAS</a>
                </div>
            </div>
        </section>
    </div>
</div>


<div id="grado-bachiller" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto ">
        <div class="bachiller-wrapper">
            <div class="bachiller-imagen">
                <img src="/assets/alumno-bachiller.png" alt="">
            </div>
            <div class="bachiller-info-container">
                <h2>¡ESTUDIA CON NOSOTROS Y GRADUATE CON GRADO DE BACHILLER!</h2>
                <p>Nuestro programa educativo está diseñado para ofrecerte una formación integral de calidad y puedas
                    ingresar rápidamente al mundo laboral, además con el grado de Bachiller podrás continuar con tus
                    estudios a nivel posgrado y darle un plus a tu formación profesional.</p>
                <a href="">Más información</a>
            </div>
        </div>
    </div>
</div>


<div id="director" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-8">
        <div class="flex justify-center">
            <div>
                <h2 class="director-titulo">PALABRAS DE LA DIRECTORA</h2>
            </div>
        </div>
        <div class="bachiller-wrapper">
            <div class="director-imagen">
                <img src="/assets/director.png" alt="">
            </div>
            <div class="director-info-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui sit quam nobis a obcaecati explicabo
                    nihil eveniet fugit iure quia placeat nemo, quis asperiores aperiam nulla ratione vel repellat quae.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui sit quam nobis a obcaecati explicabo
                    nihil eveniet fugit iure quia placeat nemo, quis asperiores aperiam nulla ratione vel repellat quae.
                </p>
            </div>
        </div>
    </div>
</div>



<div id="transparencia" class=" max-w-[100%] main-home-container ">
    <div class="my-container-carousel mr-auto ml-auto py-[3rem] ">
        <section class="flex flex-col">
            <div class="flex justify-center mb-[70px]">
                <div>
                    <h1 class="title-career">SERVICIO DE BIENESTAR ESTUDIANTIL</h1>
                    <p class="servicios-desc">El Servicio de Bienestar Estudiantil de Tecnocom se dedica a apoyar el bienestar integral de
                        nuestros estudiantes. Nuestro objetivo es crear un ambiente inclusivo y de apoyo, donde cada
                        estudiante se sienta valorado y empoderado para alcanzar su máximo potencial.</p>
                </div>
            </div>
            <div class="carousel-container section-important">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem class="slide">
                        <div class="card-career"
                            style="background-image: url('assets/transparencia.png'); background-size: cover; background-repeat: no-repeat;background-position: center;">
                            <div class="info-career">
                                <h2 class="info-title-career"><a><img src="assets/pencil.svg"
                                            alt="transparencia icono"><span>Psicología</span></a></h2>
                                <a class="info-explore-career"
                                    [routerLink]="['/transparencia']"><span>PSICOLOGÍA</span></a>
                            </div>

                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="card-career"
                            style="background-image: url('assets/apps-de-microsoft-office.webp'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                            <div class="info-career">
                                <h2 class="info-title-career"><a><img src="assets/hat.svg"
                                            alt="plataforma eva icono"><span>Asistencia Social</span></a></h2>
                                <a class="info-explore-career" href="https://www.office.com"
                                    target="_blank"><span>ASISTENCIA SOCIAL</span></a>
                            </div>

                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="card-career"
                            style="background-image: url('assets/Repositorios-institucionales.webp'); background-size: cover; background-repeat: no-repeat;background-position: center;">
                            <div class="info-career">
                                <h2 class="info-title-career"><a href=""><img src="assets/book.svg"
                                            alt="repositorio icono"><span>Psicopedagogía</span></a></h2>
                                <a class="info-explore-career" href=""><span>PSICOPEDAGOGÍA</span></a>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
            <!--<div class="flex justify-center mt-[20px]">
                <div>
                    <a href="" class="btn-see-all ">VER TODOS</a>
                </div>
            </div>-->
        </section>
    </div>
</div>


<div id="noticias" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <div class="noticias-wrapper">
            <div class="titulo-noticias">
                <h2>NOTICIAS Y EVENTOS</h2>
            </div>
            <div class="container-noticias">
                <div class="noticia-card">
                    <img src="/assets/foto-1-noticias.jpg" alt="">
                    <p>Egresados encontraron en "Olimpiadas deportivas IC 2024"</p>
                    <a href="">Leer más...</a>
                </div>
                <div class="noticia-card">
                    <img src="/assets/foto-1-noticias.jpg" alt="">
                    <p>Egresados encontraron en "Olimpiadas deportivas IC 2024"</p>
                    <a href="">Leer más...</a>
                </div>
                <div class="noticia-card">
                    <img src="/assets/foto-1-noticias.jpg" alt="">
                    <p>Egresados encontraron en "Olimpiadas deportivas IC 2024"</p>
                    <a href="">Leer más...</a>
                </div>
                <div class="noticia-card">
                    <img src="/assets/foto-1-noticias.jpg" alt="">
                    <p>Egresados encontraron en "Olimpiadas deportivas IC 2024"</p>
                    <a href="">Leer más...</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="ubicacion" class="max-w-[100%] main-home-container">
    <div class="my-container mr-auto ml-auto py-[3rem] ">

    </div>
</div>


<!--
    <div id="director" class=" max-w-[100%] bg-[#002C44] ">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <section class="flex flex-col" data-aos="fade-left"
        data-aos-duration="2000">
            <div class="flex justify-center mb-[30px]">
                <div>
                    <h1 class="title-reasons text-white ">NUESTRO DIRECTOR</h1>
                </div>
            </div>
            <div class="cont-reasons">

                <!-- <div class="reason-card">
                    <div class="image-reason">
                        <img src="../../../assets/medal.svg" alt="">
                    </div>
                    <h3 class="text-[20px]">MÁS DE 40 AÑOS DE EXPERIENCIA</h3>
                </div>
                <div class="reason-card">
                    <div class="image-reason">
                        <img src="../../../assets/computer.svg" alt="">
                    </div>
                    <h3 class="text-[20px]">TECNOLOGÍA COMO NÚCLEO DE NUESTRAS CARRERAS</h3>
                </div>
                <div class="reason-card">
                    <div class="image-reason">
                        <img src="../../../assets/school-hat.svg" alt="">
                    </div>
                    <h3 class="text-[20px]">NUESTROS EGRESADOS GANAN 36% MÁS</h3>
                </div>


<div class="columns">
    <div class="column">
        <h2>PALABRAS DE BIENVENIDA DEL DIRECTOR</h2>
        <p>Querida comunidad educativa del Instituto de Educación Superior Tecnológico “COMMENIUS”,
            Con inmensa alegría me dirijo a Ustedes para comunicarle que este año comenzamos a escribir
            nuestra vida institucional con mucha esperanza y convencidos de que La educación superior
            tecnológica forma personas en los campos de la ciencia, la tecnología y las artes, para
            contribuir con su desarrollo individual, social inclusivo y su adecuado desenvolvimiento en
            el entorno laboral nacional y global. Esto contribuye al desarrollo del país y a la
            sostenibilidad de su crecimiento a través del incremento de la productividad y
            competitividad (MINEDU).
        </p><br>

        
    </div>
    <!-- <div class="column flex justify-center">
        <img src="../../../assets/personal-doccente_51396056579_o.jpg" alt="">
    </div>
</div>
</div>
<div class="flex justify-center mt-[20px]">
<div>
    <a [routerLink]="['/director']" class="btn-see-all ">SEGUIR LEYENDO...</a>
</div>
</div>
</section>
</div>
</div>

-->
<div id="carousel-sedes" class=" max-w-[100%] bg-[#002C44] ">
    <div class="my-container-carousel mr-auto ml-auto pt-[3rem] ">
        <section class="flex flex-col">
            <div class="flex justify-center  ">
                <div>
                    <h1 class="title-reasons text-white">ENCUENTRANOS EN :</h1>
                </div>
            </div>
            <div class="sede-container mb-5">
                <div class="card-career"
                    style="background-image: url(/assets/sede.png); background-size: cover;background-position: center ; background-repeat: no-repeat;">

                </div>
                <div class="card-career"
                    style="background-image: url(/assets/edificiosede.webp); background-size: cover;background-position: center ; background-repeat: no-repeat;">
                    <div class="info-career">
                        <h2 class="info-title-career"><a href="">SAN ISIDRO</a></h2>
                        <a class="info-explore-career" [routerLink]="['/sede', 'SAN ISIDRO']"><span>DESCUBRIR</span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--<div class="flex justify-center bg-[#fff]  pb-[20px] ">
        <div>
            <a href="" class="btn-see-all ">VER MÁS</a>
        </div>
    </div>-->
</div>
<app-footer />