<app-header />


    <div id="carousel" class=" max-w-[100%] ">
    <section class="carousel-home mt-[54px]">
        <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner  ">
                
                    <div class="carousel-item active ">
                    <img class="w-full " src="../../../assets/banner-1.png"  alt="banner_1">
                    <div class="btn-info">
                        <h1></h1>
                        <p></p>
                        <a class="btn-more-info" href="">MÁS INFORMACION</a>
                    </div>
                </div>
                
             <div class="carousel-item  ">
                    <img class="w-full  " src="../../../assets/banner-2.png" alt="banner_2">
                                      <div class="btn-info">
                        <h1></h1>
                        <p></p>
                        <a class="btn-more-info" href="">MÁS INFORMACION</a>
                    </div>
                    </div>
            </div>
            <button class="carousel-control-prev carrusel-btn-left" type="button"
                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next carrusel-btn-right" type="button"
                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</div>


<div class=" max-w-[100%] main-home-container " >
    <div class="my-container mr-auto ml-auto py-[3rem] " >
        <section class="flex flex-col" data-aos="fade-right"
        data-aos-duration="1500">
            <div class="flex justify-center">
                <div>
                    <h1 class="title-career">COMENIUS</h1>
                    <h2 class="title-career-little mt-[75px] mb-[65px]">CINCO CARRERAS EN:</h2>
                </div>
            </div>
            <div class="cont-cards-career">
                @for (career of careers; track $index) {
                <div class="card-career"
                    style="background-image: url({{career.img}}); background-size: cover; background-position: center center;"
                    >
                    <div class="info-career">
                        <h2 class="info-title-career"><a
                                [routerLink]="['/sobre-la-carrera', career.title]">{{career.title}}</a></h2>
                        <a class="info-explore-career" download=""
                            href="{{career.courses}}"><span>Malla Curricular(.pdf)</span></a>
                    </div>
                </div>
                }
            </div>
            <div class="flex justify-center mt-[20px]">
                <div>
                    <a [routerLink]="['/carreras']" class="btn-see-all-careers ">VER TODAS LAS CARRERAS</a>
                </div>
            </div>
        </section>
    </div>
</div>

<div id="transparencia" class=" max-w-[100%] main-home-container " >
    <div class="my-container-carousel mr-auto ml-auto py-[3rem] " data-aos="fade-left"
    data-aos-duration="2000">
        <section class="flex flex-col">
            <div class="flex justify-center mb-[70px]">
                <div>
                    <h1 class="title-career">SERVICIOS</h1>
                </div>
            </div>
            <div class="carousel-container section-important" >
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem class="slide">
                        <div class="card-career"
                            style="background-image: url('assets/transparencia.png'); background-size: cover; background-repeat: no-repeat;background-position: center;">
                            <div class="info-career">
                                <h2 class="info-title-career"><a><img src="assets/pencil.svg"
                                            alt="transparencia icono"><span>Transparencia</span></a></h2>
                                <a class="info-explore-career"
                                    [routerLink]="['/transparencia']"><span>TRANSPARENCIA</span></a>
                            </div>

                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="card-career"
                            style="background-image: url('assets/apps-de-microsoft-office.webp'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                            <div class="info-career">
                                <h2 class="info-title-career"><a><img src="assets/hat.svg"
                                            alt="plataforma eva icono"><span>Plataforma EVA</span></a></h2>
                                <a class="info-explore-career" href="https://www.office.com"
                                    target="_blank"><span>PLATAFORMA</span></a>
                            </div>

                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="card-career"
                            style="background-image: url('assets/Repositorios-institucionales.webp'); background-size: cover; background-repeat: no-repeat;background-position: center;">
                            <div class="info-career">
                                <h2 class="info-title-career"><a href=""><img src="assets/book.svg"
                                            alt="repositorio icono"><span>Repositorio</span></a></h2>
                                <a class="info-explore-career" href=""><span>REPOSITORIO</span></a>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
            <!--<div class="flex justify-center mt-[20px]">
                <div>
                    <a href="" class="btn-see-all ">VER TODOS</a>
                </div>
            </div>-->
        </section>
    </div>
</div>


<!--
    <div id="director" class=" max-w-[100%] bg-[#002C44] ">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <section class="flex flex-col" data-aos="fade-left"
        data-aos-duration="2000">
            <div class="flex justify-center mb-[30px]">
                <div>
                    <h1 class="title-reasons text-white ">NUESTRO DIRECTOR</h1>
                </div>
            </div>
            <div class="cont-reasons">

                <!-- <div class="reason-card">
                    <div class="image-reason">
                        <img src="../../../assets/medal.svg" alt="">
                    </div>
                    <h3 class="text-[20px]">MÁS DE 40 AÑOS DE EXPERIENCIA</h3>
                </div>
                <div class="reason-card">
                    <div class="image-reason">
                        <img src="../../../assets/computer.svg" alt="">
                    </div>
                    <h3 class="text-[20px]">TECNOLOGÍA COMO NÚCLEO DE NUESTRAS CARRERAS</h3>
                </div>
                <div class="reason-card">
                    <div class="image-reason">
                        <img src="../../../assets/school-hat.svg" alt="">
                    </div>
                    <h3 class="text-[20px]">NUESTROS EGRESADOS GANAN 36% MÁS</h3>
                </div>


<div class="columns">
    <div class="column">
        <h2>PALABRAS DE BIENVENIDA DEL DIRECTOR</h2>
        <p>Querida comunidad educativa del Instituto de Educación Superior Tecnológico “COMMENIUS”,
            Con inmensa alegría me dirijo a Ustedes para comunicarle que este año comenzamos a escribir
            nuestra vida institucional con mucha esperanza y convencidos de que La educación superior
            tecnológica forma personas en los campos de la ciencia, la tecnología y las artes, para
            contribuir con su desarrollo individual, social inclusivo y su adecuado desenvolvimiento en
            el entorno laboral nacional y global. Esto contribuye al desarrollo del país y a la
            sostenibilidad de su crecimiento a través del incremento de la productividad y
            competitividad (MINEDU).
        </p><br>

        
    </div>
    <!-- <div class="column flex justify-center">
        <img src="../../../assets/personal-doccente_51396056579_o.jpg" alt="">
    </div>
</div>
</div>
<div class="flex justify-center mt-[20px]">
<div>
    <a [routerLink]="['/director']" class="btn-see-all ">SEGUIR LEYENDO...</a>
</div>
</div>
</section>
</div>
</div>

-->
<div id="carousel-sedes" class=" max-w-[100%] bg-[#002C44] ">
    <div class="my-container-carousel mr-auto ml-auto pt-[3rem] ">
        <section class="flex flex-col" data-aos="fade-right"
        data-aos-duration="2000">
            <div class="flex justify-center mb-[40px]">
                <div>
                    <h1 class="title-reasons text-white">ENCUENTRANOS EN :</h1>
                </div>
            </div>
            <div class="carousel-container mb-[-120px]">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    @for (sede of sedes; track $index) {
                    <div ngxSlickItem class="slide">
                        <div class="card-career"
                            style="background-image: url({{sede.img}}); background-size: cover;background-position: center ; background-repeat: no-repeat;">
                            <div class="info-career">
                                <h2 class="info-title-career"><a href="">{{sede.location}}</a></h2>
                                <a class="info-explore-career"
                                    [routerLink]="['/sede', sede.location]"><span>DESCUBRIR</span></a>
                            </div>

                        </div>
                    </div>
                    }
                </ngx-slick-carousel>
            </div>
        </section>
    </div>
    <div class="flex justify-center bg-[#fff] pt-[160px] pb-[20px] ">
        <!-- <div>
            <a href="" class="btn-see-all ">VER MÁS</a>
        </div>-->
    </div>
</div>
<app-footer />