<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <img
                  class="icon-carr-banner"
                  src="https://isam.edu.pe/img/icon_contabilidad.png"
                  alt=""
                />
                <h1>ADMINISTRACIÓN DE OPERACIONES TURISTICAS</h1>
                <div class="tex-modalidad sistemas">
                  <h2>
                    Controlar el proceso de ventas del producto turístico,
                    aplicando técnicas establecidas de acuerdo con la identidad
                    del negocio y perfil del público objetivo.
                  </h2>
                </div>
                <!--<div class="descargar-brochure sistemas">
                  <a
                    download=""
                    href="assets/documents/malla-curricular-contabilidad.pdf"
                    target="_blank"
                    >Ver malla curricular</a
                  >
                </div>-->
              </div>
              <!--<div class="box-conveniosUnivers distancia logo-u-banner">
                <h2>Convalida tu carrera:</h2>
                <div class="cont-unis">
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_u_wiener.png"
                      alt="universidad 1"
                    />
                  </div>
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_sjb.png"
                      alt="universidad 2"
                    />
                  </div>
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_ucv.png"
                      alt="universidad 3"
                    />
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="beneficios-home-internas sistemas">
    <div class="container">
      <div class="row">
        <div class="img-benefi col-sm-4">
          <div class="main-height beneficios-home col-h-1 hide-xs">
            <div>
              <img
                src="https://isam.edu.pe/img/carrera_contabilidad.png"
                alt=""
                class="img-responsive im_semi_personaje"
              />
            </div>
          </div>
        </div>
        <div class="txt-benefi col-sm-8">
          <div class="main-height beneficios-home col-h-2">
            <div>
              <h2>¿QUÉ ES?</h2>
              <p class="texto-largo-content">
                Está carrera se enfoca en la formación de profesionales capaces
                de gestionar y dirigir las actividades y servicios relacionados
                con la industria del turismo. Esto incluye la planificación,
                organización y supervisión de operaciones en diversos sectores
                turísticos, como hoteles, agencias de viajes, líneas aéreas,
                cruceros, y atracciones turísticas. Los estudiantes adquieren
                conocimientos en áreas como gestión de recursos humanos,
                marketing turístico, planificación de eventos, sostenibilidad y
                desarrollo turístico, y administración financiera aplicada al
                turismo.
              </p>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="/assets/calendario-icono.svg"
                      class="icono-img"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>INICIO</h2>
                <P>Agosto</P>
              </div>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/icon_grado.png"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>MODALIDAD:</h2>
                <P>VIRTUAL</P>
              </div>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/icon_credito.png"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>DURACIÓN:</h2>
                <P>3 años</P>
              </div>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="/assets/talleres-icono.svg"
                      class="icono-img"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>TALLERES:</h2>
                <P>Y cursos adicionales gratuitos</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="competencia">
    <img
      src="/assets/alumna-img.png"
      class="absolute-img"
      alt="imagen alumna"
    />
    <div class="container">
      <!-- <div class="row">
        <div class="col-12">
          <h2 class="text-competencias-e">PERFIL DEL EGRESADO</h2>
        </div>
      </div>-->
      <div class="row">
        <!-- <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_1.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Comunicación <br />
              Efectiva
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_2.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Espíritu <br />
              Emprendedor
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_3.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Gestor <br />
              Eficaz
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_4.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Dominio de <br />
              Herramientas <br />
              Informáticas
            </h2>
          </div>
        </div>-->
        <div class="backblu-perfil col-sm-7">
          <h2 class="txt-p-estudios">¿POR QUÉ ESTUDIAR?</h2>
          <div class="row mb-[20px]">
            <p>
              Porque ofrece una combinación única de habilidades de gestión y
              conocimientos especializados en una industria dinámica y en
              crecimiento. Esta carrera prepara a los estudiantes para enfrentar
              los desafíos de la planificación y gestión de servicios
              turísticos, promoviendo experiencias excepcionales para los
              clientes y fomentando el desarrollo sostenible.
            </p>
          </div>
          <h2 class="txt-p-estudios">PERFIL DEL EGRESADO</h2>
          <div class="row">
            <p>
              El Profesional Técnico en ADMINISTRACIÓN DE OPERACIONES TURISTICAS
              tiene competencias profesionales para definir y diseñar el
              producto turístico, contratar a los prestadores del servicio,
              asimismo gestiona y controla el proceso de ventas y la operación
              del servicio prestado de acuerdo con el público objetivo, la
              oferta y la demanda, teniendo en cuenta las políticas de la
              empresa y las normativas vigentes. En cuanto a sus competencias
              para la empleabilidad presenta una comunicación efectiva e
              interactuar con otras personas en contextos sociales y laborales
              diversos. También tiene facilidad para el trabajo colaborativo,
              toma decisiones con responsabilidad y ejerce su actividad
              profesional con sentido ético.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="plan-estudios">
    <div class="container back-blue">
      <div class="row align-items-center ancho-100 relative cont-malla">
        <div class="col-sm-6">
          <h2 class="txt-p-estudios">DESCUBRE NUESTRA MALLA CURRICULAR</h2>
        </div>
        <div class="col-sm-6 text-center text-md-right">
          <a
            download=""
            href="assets/documents/malla-curricular-turistica.pdf"
            target="_blank"
            class="descargar-brochure dise-curr"
          >
            Malla Curricular pdf
          </a>
        </div>
      </div>
      <div class="row ancho-100 hide-xs relative">
        <div class="acordeon">
          <div class="bloque activo">
            <h2 class="h2">
              MÓDULO 1 : CERTIFICADO EN GESTIÓN DE INFORMACIÓN Y SERVICIOS EN ORGANIZACIONES TURISTICAS.
              <img src="/assets/flecha-abajo.svg" alt="icono" />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">PRIMER CICLO:</div>
                <p>Fundamentos en administración de empresas.</p>
                <p>Historia y Geografía aplicada al turismo.</p>
                <p>Introducción al turismo.</p>
                <p>Legislación turística.</p>
                <p>Programación de circuitos y paquetes turísticos.</p>
                <p>Gestión de reservas.</p>
                <p>Patrimonio cultural y natural.</p>
                <p>Gestión de destinos turísticos.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">SEGUNDO CICLO</div>
                <p>Técnicas de expresión oral y escrita.</p>
                <p>Comprensión y producción de textos.</p>
                <p>Informática e internet.</p>
                <p>Ofimática aplicada a la administración.</p>
                <p>Aplicaciones de Redaccion y demás instrumentos para la gestión administrativa</p>
              </div>
            </div>
          </div>
          <div class="bloque">
            <h2 class="h2">
              MÓDULO 2 : CERTIFICADO EN GESTIÓN Y COMERCIALIZACIÓN DE SERVICIOS TURÍSTICOS
              <img src="/assets/flecha-abajo.svg" alt="icono" />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">TERCER CICLO</div>
                <p>Constitución y administración de empresa.</p>
                <p>Gestión de alojamiento.</p>
                <p>Gestión de informacion turística.</p>
                <p>Comercialización de circuitos y paquetes turísticos.</p>
                <p>Gestión de agencias y operadores turísticos.</p>
                <p>Gestión de alimentos y bebida.</p>
                <p>Turismo convencional y no convencional.</p>
                <p>Atención al cliente.</p>
                <p>Marketing turístico I.</p>
                <p>Negocios internacionales y turismo.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">CUARTO CICLO</div>
                <p>Trabajo en equipo y comunicación efectiva.</p>
                <p>Toma de decisiones y resolucion de conflictos.</p>
                <p>Desarrollo Personal.</p>
                <p>Liderazgo y marketing personal.</p>
              </div>
            </div>
          </div>
          <div class="bloque">
            <h2 class="h2">
              MÓDULO 3 : OPERACIONES Y CONTROL DE SERVICIOS TURÍSTICOS.
              <img
                src="/assets/flecha-abajo.svg"
                class="icono-flecha"
                alt="icono"
              />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">QUINTO CICLO</div>
                <p>Turismo y desarrollo sostenible.</p>
                <p>Costos y presupuestos empresariales.</p>
                <p>Asistencia y seguridad al visitante.</p>
                <p>Proyecto Empresarial.</p>
                <p>Control de calidad de servicios turísticos.</p>
                <p>Administración financiera de empresas turísticas.</p>
                <p>Marketing Turístico II.</p>
                <p>Organizacion de eventos y catering.</p>
                <p>Turismo y desarrollo sustentable.</p>
                <p>Investigación Aplicada I.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">SEXTO CICLO</div>
                <p>Investigación Aplicada II.</p>
                <p>Ética profesional.</p>
                <p>Ingles para la comunicación oral y escrita.</p>
                <p>Ingles comercial Básico.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mallacurricular" class="section tabs2">
    <div class="container">
      <b class="ct-subtitle ct-subtitle--blue mb30">DISEÑO CURRICULAR</b>
      <div class="flex-curri">
        <div class="diseño-flex">
          <h2>DISEÑO CURRICULAR</h2>
          <a
            download=""
            href="assets/documents/diseño-curricular-turistica.pdf"
            class="descargar-brochure dise-curr"
            >DESCARGAR PDF
          </a>
        </div>
        <p class="parraf-diseño">
          Nuestro diseño curricular asegura que la educación impartida sea
          coherente, relevante y efectiva para alcanzar las metas educativas
          propuestas, Responsabilidad y ejerce su actividad profesional con
          sentido ético.           
        </p>
      </div>
      <hr />
    </div>
  </section>

  <section id="campolaboral" class="section tabs2">
    <div class="container">
      <b class="ct-subtitle ct-subtitle--blue mb30"
        >PODRÁS DESEMPEÑARTE EN LAS SIGUIENTES ÁREAS</b
      >
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <div class="ct-richText">
            <ul>
              <li>Área de orientación y asistencia al viajero.</li>
              <li>Área de información turística. .</li>
              <li>Área de alimentos y bebidas.</li>
              <li>Área de acondicionamiento en hoteles. </li>
              <li>Área de diseño, programación y operación de circuitos turísticos .</li>
              <li>Área de agencias de viaje.</li>
              <li>Área de atención de personal en restaurantes. </li>
              <li>Área de asistencia de transporte interregional e interprovincial.</li>
              <li>Área de recepción de los visitantes nacionales y extranjeros. </li>
              <li>Área de manejo de presupuesto de gastos de tour.</li>
              <li>Área de elaboración de informes o reportes de tour.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tec-otorga">
    <div class="container relative">
      <img
        src="https://isam.edu.pe/img/rayas_vertical.png"
        class="img-ray-ver"
        alt="imagen decoracion"
      />
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-otorga">OTORGAMOS:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row hide-xs show-lg">
            <div class="col-2-otrg">
              <a target="_blank" href="http://telesup.trabajando.pe/">
                <div class="main-f otorga">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/bolsa_trabajo.png"
                      alt=""
                      class="img-responsive"
                    />
                  </div>
                </div>
                <p>Empleabilidad:<br />Bolsa de Trabajo</p>
              </a>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_1.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>
                Título a nombre de la Nación:
                <strong>Profesional Técnico</strong>
              </p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_2.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>3 certificaciones</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_3.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>Grado de bachiller técnico</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_4.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>Inglés Americano en los 6 ciclos</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_5.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>
                Convalidación directa con universidades con escala preferencial
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="en-que-podrasTrabajar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>
            CUÁL ES EL TRABAJO DE TECNICO EN ADMINISTRACIÓN DE OPERACIONES TURISTICAS
          </h2>
        </div>
      </div>
      <div class="row hide-xs">
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_comercial.png"
                  alt="Icono otorgamos 1"
                />
              </div>
            </div>
            <p>
              Gestiona y supervisa diversas actividades dentro de la industria del turismo.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_administrativa.png"
                  alt="Icono otorgamos 2"
                />
              </div>
            </div>
            <p>
              Coordina y organiza servicios turísticos, asegurando que todas las operaciones se realicen de manera eficiente y satisfactoria para los clientes.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_contabilidad.png"
                  alt="Icono otorgamos 3"
                />
              </div>
            </div>
            <p>Planifica itinerarios, la reserva de alojamiento y transporte, y la coordinación de visitas a atracciones turísticas.</p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_logistica.png"
                  alt="Icono otorgamos 4"
                />
              </div>
            </div>
            <p>
              Proporciona asistencia personalizada a los turistas, respondiendo a sus consultas y resolviendo cualquier problema que puedan enfrentar durante su viaje.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-center hide-xs">
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_contabilidad.png"
                  alt="Icono otorgamos 3"
                />
              </div>
            </div>
            <p>
              Administra el personal y los recursos materiales necesarios para la operación de servicios turísticos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-[40px]">
    <app-formulario-contacto />
  </section>
</div>

<app-footer />
