<app-header />
<section class="container-banner-page">
    <div class="overlay-container"></div>
    <div class="container-center-items">
        <div class="wrapper-items">
            <h1>
                DIRECTORIO INSTITUCIONAL
            </h1>

            <p>
                El personal institucional en el Instituto Tecnocom está compuesto por un equipo de profesionales
                altamente capacitados, responsables de la gestión y operación diaria del instituto. Este grupo trabaja
                en diversas áreas como la docencia, investigación, administración y soporte, asegurando la calidad
                educativa y el cumplimiento de los objetivos estratégicos de la institución. Su labor es clave para
                promover el desarrollo académico y tecnológico, así como para garantizar el bienestar de la comunidad
                estudiantil y el éxito de los programas ofrecidos por el instituto
            </p>
        </div>
    </div>
</section>

<section class="mi-contenedor">
    <div class="docentes-wrapper">
        <div class="card-docente">
            <img src="/assets/docentes/docente-1.jpg" alt="">
            <h3>DAYSI NINA</h3>
            <h4>(DIRECTORA INSTITUCIONAL)</h4>
        </div>
        <div class="card-docente">
            <img src="/assets/docentes/docente-2.jpg" alt="">
            <h3>LUIS ROJAS RIVERO</h3>
            <h4>(ÁREA DE CALIDAD)</h4>
        </div>
        <div class="card-docente">
            <img src="/assets/docentes/docente-3.jpg" alt="">
            <h3>PABLO SAVEDRA</h3>
            <h4>(DIRECTOR DE INVESTIGACIÓN)</h4>
        </div>
        <div class="card-docente">
            <img src="/assets/docentes/docente-4.jpg" alt="">
            <h3>ROSA MENA</h3>
            <h4>(DIRECTORA DE PSICOLOGIA)</h4>
        </div>
        <div class="card-docente">
            <img src="/assets/docentes/docente-5.jpg" alt="">
            <h3>ANTONY CARHUACHIN</h3>
            <h4>(ÁREA DE ADMINISTRACIÓN)</h4>
        </div>
    </div>
</section>
<app-footer />