
<app-header/>

<div class="main-content">
<section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>REQUISITOS Y COSTOS</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container-title">
    <h2>REQUISITOS Y COSTOS</h2>
</div>

<div class="container">
  <div class="tabs">
    <h3 class="active content-title" >
        <div class="numero">1</div>
        <div class="title-lista">Requisitos</div>
    </h3>
    <h3 class="content-title" >
        <div class="numero">2</div>
        <div class="title-lista">Costos</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
        <div class="tab-content-flex mb-4">
            <div class="ml-3">
                <p>Para inscribirse como postulante al Proceso de Admisión debe 
                    presentar los documentos siguientes en mesa de partes:
                </p>
                <ul class="requisitos-list">
                    <li><img  src="/assets/check-2.svg" alt="">Solicitud de inscripción dirigido al director del Instituto</li>
                    <li><img  src="/assets/check-2.svg" alt="">Ficha de inscripción, debidamente rellenado
                    </li>
                    <li><img  src="/assets/check-2.svg" alt="">Partida de Nacimiento copia actualizada
                    </li>
                    <li><img  src="/assets/check-2.svg" alt="">Certificado de estudio de la Educación Básica (nivel secundario) 
                           original, debidamente firmado con post firma y sello sin borrones 
                           ni enmendaduras y visado por la UGEL. Si procede de otra Región, 
                           ésta debe estar visado por la Dirección Regional de Educación de 
                           procedencia.
                    </li>
                    <li><img  src="/assets/check-2.svg" alt="">Boleta de pago (derecho de inscripción y prospecto) Copia 
                        fotostática simple del DNI</li>
                    <li><img  src="/assets/check-2.svg" alt="">Boleta de pago (derecho de inscripción y prospecto) Copia 
                        fotostática simple del DNI</li>
                </ul>
            </div>
        </div>
      </div>
      <!--second-->
      <div class="all-tab-wrapper">
       
      </div>

  </div>
</div>

<app-footer/>