<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>REQUISITOS Y COSTOS</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--<div class="container-title">
    <h2>REQUISITOS Y COSTOS</h2>
</div>-->

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Ordinario</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Exonerado</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">3</div>
      <div class="title-lista">Extraordinario</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">4</div>
      <div class="title-lista">Por Trayectoria</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">5</div>
      <div class="title-lista">Programa de preparacion</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <p class="bold-text">Requisitos:</p>
          <p>
            Para inscribirse como postulante al Proceso de Admisión debe
            presentar los documentos siguientes en mesa de partes:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud de inscripción
              dirigido al director del Instituto
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Ficha de inscripción,
              debidamente rellenado
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Partida de Nacimiento
              copia actualizada
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estudio de
              la Educación Básica (nivel secundario) original, debidamente
              firmado con post firma y sello sin borrones ni enmendaduras y
              visado por la UGEL. Si procede de otra Región, ésta debe estar
              visado por la Dirección Regional de Educación de procedencia.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Boleta de pago (derecho de
              inscripción y prospecto) Copia fotostática simple del DNI
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Boleta de pago (derecho de
              inscripción y prospecto) Copia fotostática simple del DNI
            </li>
          </ul>

          <p class="bold-text">Costos:</p>
          <ul class="requisitos-list">
            <li><img src="/assets/check-2.svg" alt="" />100 nuevos soles</li>
          </ul>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <p class="bold-text">Requisitos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento
              Nacional de Identidad
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Recibo de pago de
              inscripción.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Ficha de Inscripción.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado original de
              estudio de los cinco años de Educación Secundaria.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Presentación de la carta
              compromiso o Sólo en caso de que el postulante no presente los
              documentos requeridos al momento de la inscripción o Si el
              postulante es mayor de edad, firmará la carta como señal de
              compromiso. o Si el postulante es menor de edad, su padre o madre
              o tutor firmará la carta como señal de compromiso.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado o documento
              que acredite ser Deportistas calificados, acreditados por el IPD.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado o documento
              que acredite ser Artistas Calificados que hayan representado al
              país o la región, acreditados por el INC o una Escuela Nacional.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estar
              cumpliendo con el Servicio Militar, el cual deberá ser otorgado
              por la autoridad competente.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Documento que acredite ser
              Estudiante Talentoso, el cual se acredita mediante una Constancia
              de estudio de estar cursando el último año de Educación Secundaria
              y pertenezcan al tercio superior del cuadro de méritos de su
              promoción durante los dos (2) últimos años anteriores a la fecha
              de postulación.
            </li>
          </ul>

          <p class="bold-text">Costos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />100 nuevos soles por
              derecho de exoneración al examen de admisión ingreso directo
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <p class="bold-text">Requisitos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento
              Nacional de Identidad
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Recibo de pago de
              inscripción.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Ficha de Inscripción.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado original de
              estudio de los cinco años de Educación Secundaria.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Presentación de la carta
              compromiso o Sólo en caso de que el postulante no presente los
              documentos requeridos al momento de la inscripción o Si el
              postulante es mayor de edad, firmará la carta como señal de
              compromiso. o Si el postulante es menor de edad, su padre o madre
              o tutor firmará la carta como señal de compromiso.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado o documento
              que acredite ser Deportistas calificados, acreditados por el IPD.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado o documento
              que acredite ser Artistas Calificados que hayan representado al
              país o la región, acreditados por el INC o una Escuela Nacional.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estar
              cumpliendo con el Servicio Militar, el cual deberá ser otorgado
              por la autoridad competente.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Documento que acredite ser
              Estudiante Talentoso, el cual se acredita mediante una Constancia
              de estudio de estar cursando el último año de Educación Secundaria
              y pertenezcan al tercio superior del cuadro de méritos de su
              promoción durante los dos (2) últimos años anteriores a la fecha
              de postulación.
            </li>
          </ul>

          <p class="bold-text">Costos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />100 nuevos soles por
              derecho de exoneración al examen de admisión ingreso directo
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <p class="bold-text">Requisitos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento
              Nacional de Identidad
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado original de
              estudio de los cinco años de Educación Secundaria.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de desempeño
              laboral o constancia de trabajo.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />En caso de que el
              postulante provenga de un colegio del extranjero, la documentación
              debe estar traducida oficialmente al español y visada por el
              Ministerio de Educación.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los estudiantes de
              Educación Básica pueden participar en el proceso de admisión.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Recibo de pago de
              inscripción
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Ficha de Inscripción.
            </li>
          </ul>

          <p class="bold-text">Costos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />• 200 soles por la
              evaluación experiencia laboral y desempeño.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--fifth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <p class="bold-text">Requisitos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud de inscripción
              dirigido al director del Instituto
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Ficha de inscripción,
              debidamente rellenado
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento
              Nacional de Identidad
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Partida de Nacimiento
              copia actualizada
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estudio de
              la Educación Básica (nivel secundario) original, debidamente
              firmado con post firma y sello sin borrones ni enmendaduras y
              visado por la UGEL. Si procede de otra Región, ésta debe estar
              visado por la Dirección Regional de Educación de procedencia
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Boleta de pago (derecho de
              inscripción y prospecto) Copia fotostática simple del DNI
            </li>
            <li><img src="/assets/check-2.svg" alt="" />Foto tamaño carnét.</li>
          </ul>

          <p class="bold-text">Costos:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />100 soles por tu programa de preparación 
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />50 soles por derecho de ingreso directo
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
