<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>BACHILLER</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Concepto</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Obtencion</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">3</div>
      <div class="title-lista">Documentos a presentar</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">4</div>
      <div class="title-lista">Acreditacion del idioma extranjero</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Definición:</p>
          <p>
            El grado es el reconocimiento académico que se otorga al haber
            culminado un programa de estudios de manera satisfactoria y haber
            cumplido con los requisitos establecidos por el Ministerio de
            Educación y por el Instituto de Educación TECNOCOM.
          </p>
          <p>
            El grado académico de bachiller técnico en los IES y EEST son
            emitidos de acuerdo con el modelo único nacional establecido por el
            MINEDU, teniendo en cuenta las siguientes características:
          </p>
          <ul class="requisitos-list">
            <li><img src="/assets/check-2.svg" alt="" />Formato A4.</li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Papel de 180 a 220 gr.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Foto tamaño pasaporte.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Firma, post firma y sello
              del director
            </li>
          </ul>
          <p>
            El Instituto deben emplear un servicio de detección de plagio (Ej.
            Turniting o Scribber) para constatar la originalidad de los trabajos
            presentados por los estudiantes hasta en un 25% de similitud de
            contenidos con las referencias bibliográficas utilizadas. Cuando el
            Instituto realiza el proceso de sustentación para la obtención de
            título/grado deberá utilizar los medios informáticos, plataformas
            virtuales o análogas que permitan su grabación y quede registrado en
            el servidor de la institución educativa. Asimismo, deberá contar con
            un soporte técnico que garantice el proceso.
          </p>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            El grado académico de bachiller técnico es otorgado por los
            Instituto.
          </p>
          <p>
            Constituye el reconocimiento académico a los egresados al haber
            culminado un programa de estudios licenciado en el marco de la Ley
            Nº 30512 de manera satisfactoria, correspondiente al nivel formativo
            profesional técnico. El grado académico de bachiller técnico se
            otorga al cumplimiento de los siguientes requisitos mínimos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Aprobación de un programa
              de estudios con un mínimo de ciento veinte créditos.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El conocimiento de un
              idioma extranjero o de una lengua originaria.
            </li>
          </ul>
          <p>
            Finalizado el programa de estudios de manera satisfactoria,
            corresponde al egresado presentar una solicitud de obtención del
            grado de bachiller técnico al Instituto con un documento adjunto que
            acredite el conocimiento de un idioma extranjero o lengua
            originaria. En caso, que el egresado solicite la obtención del grado
            de bachiller técnico en una institución licenciada, distinta a la
            que realizó el programa de estudio, previamente deberá pasar por un
            proceso de convalidación con un programa de estudios igual o similar
            debidamente licenciado, cumpliendo con los requisitos establecidos
            en los presentes lineamientos y aquellos establecidos por la
            institución educativa. El Instituto solicita al MINEDU el registro
            del grado de bachiller técnico de acuerdo con los procedimientos
            establecidos en la norma técnica específica.
          </p>
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Para el grado de Bachiller Técnico: Los estudiantes presentan una
            solicitud de obtención del grado de bachiller técnico al IES con un
            documento adjunto que acredite el conocimiento de un idioma
            extranjero o lengua originaria, su Certificado de Educación
            Secundaria original, el recibo de derecho de pago, la constancia de
            no adeudar pensiones o bienes a la institución, seis fotografías
            tamaño pasaporte a color y la copia de DNI.
          </p>
          <p>Se debe presentar los siguientes documentos:</p>
          <p></p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud de Grado de
              Bachiller
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Constancia de egresado
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Constancia de no adeudar a
              la institución
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificados de estudio
              Educación Básica si es de CEBA debe estar debidamente bisado por
              la UGEL respectiva.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia simple de los 12
              Seminarios realizados por la institución
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia simple de los 5
              certificados modulares
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia simple del
              Certificado de acreditación del idioma extranjero.
            </li>
            <li><img src="/assets/check-2.svg" alt="" />Récord de Notas</li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Recibo de pago del derecho
              de grado de bachiller técnico.
            </li>
          </ul>
          <p>
            El IES registra el grado de bachiller técnico y lo entrega al
            estudiante.
          </p>
        </div>
      </div>
    </div>
    <!--fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            El estudiante incurre en abandono de estudios en los siguientes
            casos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Cuando deja de asistir
              injustificadamente durante (20) días hábiles consecutivos y no
              solicita licencia de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Cuando estando con
              licencia no se reincorpora al término de la misma (dentro de los 2
              años).
            </li>
          </ul>
          <p>
            En ambos casos pierde su condición de estudiante de la Institución.
            Para ser aceptados nuevamente en La Institución deberán postular y
            aprobar el proceso de admisión.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
