<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>PREGUNTAS FRECUENTES</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--<div class="container-title">
    <h2>TRASLADO</h2>
</div>-->

<!--<div class="container">
  <div class="tabs">
    <h3 class="active content-title" >
        <div class="numero">1</div>
        <div class="title-lista">Modalidad Traslado</div>
    </h3>
  </div>
  <div class="tab-content">
    <div class="active all-tab-wrapper">
        <div class="tab-content-flex mb-4">
            <img height="28" width="28" src="/assets/student.svg" alt="">
            <div class="ml-3">
                <p class="bold-text">Dirigido a:</p>
                <p>Postulantes que se encuentren cursando 5to de secundaria.</p>
            </div>
        </div>
        <div class="tab-content-flex mb-4">
            <img height="28" width="28" src="/assets/requisitos.svg" alt="">
            <div class="ml-3">
                <p class="bold-text">Requisitos:</p>
            </div>
        </div>
        <div class="tab-content-flex">
            <img height="28" width="28" src="/assets/costes.svg" alt="">
            <div class="ml-3">
                <p class="bold-text">Costos:</p>
            </div>
        </div>
      </div>
      <div class="all-tab-wrapper">
        <h4>Second Title</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe magnam
          eveniet quisquam earum esse amet, totam consequuntur eos sapiente nihil
          quos excepturi. Odit!
        </p>
      </div>
      <div class="all-tab-wrapper">
        <h4>Third Title</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe magnam
          eveniet quisquam earum esse amet, totam consequuntur eos sapiente nihil
          quos excepturi. Odit!
        </p>
      </div>
  </div>
</div>-->

<section>
  <div class="container-all">
    <div class="row ancho-100 hide-xs relative">
      <div class="acordeon">
        <div class="bloque activo">
          <h2 class="h2">
            ¿Cómo se realizará el examen de admisión?
            <img src="/assets/flecha-abajo.svg" alt="icono" />
          </h2>
          <div class="contenido pequeño">
            <div class="tab-conten mb-4">
              <div class="ml-3">
                <p>
                  La admisión de la Escuela de Educación Superior Tecnológica
                  Privada Comenius – “TECNOCOM” se realizará por examen
                  presencial, teniendo en cuenta el equilibrio de la oferta y la
                  demanda.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bloque">
          <h2 class="h2">
            ¿Cómo es el proceso de inscripción?
            <img src="/assets/flecha-abajo.svg" alt="icono" />
          </h2>
          <div class="contenido">
            <div class="tab-content mb-4">
              <div class="ml-3">
                <p>
                  Podrán solicitar su inscripción como postulantes al Proceso de
                  Admisión del Instituto de Educación Superior Tecnológico
                  Público de Huallaga, los egresados de:
                </p>

                <ul class="requisitos-list">
                  <li>
                    <img src="/assets/check-2.svg" alt="" /> Educación Básica en
                    cualquiera de sus modalidades, que gocen de buena salud y
                    conducta intachable.
                  </li>
                  <li>
                    <img src="/assets/check-2.svg" alt="" /> Los ex alumnos de
                    universidades e Institutos Superiores del país o del
                    extranjero, a excepción de aquellos que han perdido su
                    condición de tal; por razones de orden legal
                  </li>
                </ul>
                <p>
                  El proceso de inscripción de postulantes es personal sin
                  excepción alguna; y deberá realizarse en el lugar, fecha
                  establecida por la Comisión Institucional de Admisión. Por
                  ningún motivo se devolverá el importe abonado por derecho de
                  inscripción.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bloque">
          <h2 class="h2">
            ¿Cómo es el procedimiento del examen de admisión?
            <img
              src="/assets/flecha-abajo.svg"
              class="icono-flecha"
              alt="icono"
            />
          </h2>
          <div class="contenido grande">
            <div class="tab-conten mb-4">
              <div class="ml-3">
                <ul class="requisitos-list">
                  <li>
                    <img src="/assets/check-2.svg" alt="" />El proceso de
                    admisión se realiza por ingreso ordinario o ingreso por
                    exoneración.
                  </li>
                  <li>
                    <img src="/assets/check-2.svg" alt="" /> El ingreso por
                    exoneración será para los postulantes inscritos hasta el 18
                    de marzo del presente año.
                  </li>
                  <li>
                    <img src="/assets/check-2.svg" alt="" /> Los primeros
                    puestos egresados de Colegios Públicos en los dos últimos
                    años dentro de la provincia. Las vacantes concedidas son de
                    dos por programa de estudio del total de la meta de
                    atención. Además de los documentos exigidos para admisión,
                    estos presentarán una constancia en original que acredite
                    haber obtenido el puesto mencionado. Si dentro de los
                    primeros puestos hubiera un estudiante que haya ocupado el
                    primer puesto y el segundo en el caso de dos estudiantes con
                    igual puesto, tendrá prioridad quien haya egresado
                    recientemente.
                  </li>
                  <li>
                    <img src="/assets/check-2.svg" alt="" /> Deportistas
                    calificados, acreditados por el Instituto Peruano del
                    Deporte que hayan representado a nivel Provincial o Región.
                    Para lo cual deben adjuntar el currículo deportivo.
                  </li>
                  <li>
                    <img src="/assets/check-2.svg" alt="" /> Los beneficiarios
                    del PIR, los que están cumpliendo servicio militar, personas
                    adultas mayores, al personal con discapacidad de las fuerzas
                    armadas y PNP, deben acreditar con documentos sustentatorios
                    ser beneficiarios de dichas leyes.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="bloque">
          <h2 class="h2">
            ¿Quién elabora el examen de admisión?
            <img
              src="/assets/flecha-abajo.svg"
              class="icono-flecha"
              alt="icono"
            />
          </h2>
          <div class="contenido">
            <div class="tab-conten mb-4">
              <div class="ml-3">
                <ul class="requisitos-list">
                  <li>
                    <img src="/assets/check-2.svg" alt="" /> El Diseño y
                    Elaboración de la prueba para el Examen Ordinario, lo
                    realiza la Sub - Comisión designada por la Comisión de
                    Admisión Institucional, quien también elaborará las claves
                    de respuestas para ser entregada a la Comisión
                    Institucional.
                  </li>
                  <li>
                    <img src="/assets/check-2.svg" alt="" /> Los miembros
                    integrantes de la Sub - Comisión de Diseño y Elaboración del
                    Examen de Admisión Ordinario, son responsables solidarios de
                    todo indicio de negligencia en el cumplimiento reservado del
                    trabajo encomendado y concluye su labor al entregar la
                    documentación mediante acta a la Sub - Comisión de
                    Aplicación y Evaluación de la Prueba de Admisión.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="bloque">
          <h2 class="h2">
            ¿Quién califica el examen de admisión?
            <img
              src="/assets/flecha-abajo.svg"
              class="icono-flecha"
              alt="icono"
            />
          </h2>
          <div class="contenido">
            <div class="tab-content mb-4">
              <div class="ml-3">
                <p>
                  La calificación de la prueba será realizada por la comisión de
                  evaluación.
                </p>
                <p>
                  Así como la obtención del cuadro de orden de méritos de los
                  postulantes de cada programa Profesional, se realizará
                  utilizando los equipos informáticos de la Institución.
                </p>
                <p>
                  Los miembros integrantes de las Sub - Comisiones de Aplicación
                  y Evaluación de la Prueba de Admisión, son responsables
                  solidarios de cualquier indicio de negligencia en el
                  cumplimiento del trabajo y concluye su labor al entregar la
                  documentación pertinente mediante Acta a la Comisión de
                  Admisión del Instituto.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bloque">
          <h2 class="h2">
            ¿Donde puedo ver los resultados?
            <img
              src="/assets/flecha-abajo.svg"
              class="icono-flecha"
              alt="icono"
            />
          </h2>
          <div class="contenido">
            <div class="tab-content mb-4">
                <div class="ml-3">
                  <p>
                    Publicar los resultados del examen de admisión en estricto orden de mérito en la página web 
                    institucional, redes sociales, consignando a los postulantes que hayan obtenido el calificativo más alto, 
                    hasta cubrir la meta autorizada.
                  </p>
                  <p>
                    Elaborar y remitir a la DRE el informe correspondiente de la ejecución del proceso de admisión y de la 
                    distribución de los recursos económicos obtenidos, de acuerdo con las normas.
                  </p>
                  <p>
                    El número de vacantes para cada uno de los programas profesionales: Contabilidad y producción 
                    agropecuaria de acuerdo con la última resolución es de 35 por programa profesional, además de tener 
                    en cuenta la última normatividad que permite hacerlo de acuerdo a las condiciones de infraestructura 
                    y disponibilidad de personal docente
                  </p>
                </div>
              </div>
          </div>
        </div>
        <div class="bloque">
          <h2 class="h2">
            ¿Quién es el responsable del examen de admisión?
            <img
              src="/assets/flecha-abajo.svg"
              class="icono-flecha"
              alt="icono"
            />
          </h2>
          <div class="contenido pequeño">
            <div class="tab-content mb-4">
                <div class="ml-3">
                  <p>
                    El responsable del examen son la Comisión del Examen de 
                    admisión
                  </p>
                </div>
              </div>
          </div>
        </div>
        <div class="bloque">
          <h2 class="h2">
            ¿Cuanto demora el procedimiento?
            <img
              src="/assets/flecha-abajo.svg"
              class="icono-flecha"
              alt="icono"
            />
          </h2>
          <div class="contenido pequeño">
            <div class="tab-content mb-4">
                <div class="ml-3">
                  <p>
                    Demora 45 dias calendarios
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer />
