<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <img
                  class="icon-carr-banner"
                  src="https://isam.edu.pe/img/icon_contabilidad.png"
                  alt=""
                />
                <h1>ARQUITECTURA DE PLATAFORMAS Y SERVICIOS DE T.I</h1>
                <div class="tex-modalidad sistemas">
                  <h2>
                    Ejecutar acciones de monitoreo y otras acciones operativas
                    programadas, de acuerdo con las buenas prácticas de
                    aseguramiento de operación del CPD y salvaguarda de la
                    información del negocio.
                  </h2>
                </div>
                <!--<div class="descargar-brochure sistemas">
                  <a
                    download=""
                    href="assets/documents/malla-curricular-contabilidad.pdf"
                    target="_blank"
                    >Ver malla curricular</a
                  >
                </div>-->
              </div>
              <!--<div class="box-conveniosUnivers distancia logo-u-banner">
                <h2>Convalida tu carrera:</h2>
                <div class="cont-unis">
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_u_wiener.png"
                      alt="universidad 1"
                    />
                  </div>
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_sjb.png"
                      alt="universidad 2"
                    />
                  </div>
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_ucv.png"
                      alt="universidad 3"
                    />
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="beneficios-home-internas sistemas">
    <div class="container">
      <div class="row">
        <div class="img-benefi col-sm-4">
          <div class="main-height beneficios-home col-h-1 hide-xs">
            <div>
              <img
                src="https://isam.edu.pe/img/carrera_contabilidad.png"
                alt=""
                class="img-responsive im_semi_personaje"
              />
            </div>
          </div>
        </div>
        <div class="txt-benefi col-sm-8">
          <div class="main-height beneficios-home col-h-2">
            <div>
              <h2>¿QUÉ ES?</h2>
              <p class="texto-largo-content">
                Se enfoca en el diseño, implementación y gestión de la
                infraestructura tecnológica y los servicios que soportan las
                operaciones de una organización. Esta área abarca una amplia
                gama de componentes tecnológicos, desde hardware y software
                hasta redes y almacenamiento, así como los servicios que
                permiten a las aplicaciones funcionar de manera eficiente y
                segura.
              </p>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="/assets/calendario-icono.svg"
                      class="icono-img"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>INICIO</h2>
                <P>Agosto</P>
              </div>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/icon_grado.png"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>MODALIDAD:</h2>
                <P>VIRTUAL</P>
              </div>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/icon_credito.png"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>DURACIÓN:</h2>
                <P>3 años</P>
              </div>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="/assets/talleres-icono.svg"
                      class="icono-img"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>TALLERES:</h2>
                <P>Y cursos adicionales gratuitos</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="competencia">
    <img
      src="/assets/alumna-img.png"
      class="absolute-img"
      alt="imagen alumna"
    />
    <div class="container">
      <!-- <div class="row">
        <div class="col-12">
          <h2 class="text-competencias-e">PERFIL DEL EGRESADO</h2>
        </div>
      </div>-->
      <div class="row">
        <!-- <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_1.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Comunicación <br />
              Efectiva
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_2.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Espíritu <br />
              Emprendedor
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_3.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Gestor <br />
              Eficaz
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_4.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Dominio de <br />
              Herramientas <br />
              Informáticas
            </h2>
          </div>
        </div>-->
        <div class="backblu-perfil col-sm-7">
          <h2 class="txt-p-estudios">¿POR QUÉ ESTUDIAR?</h2>
          <div class="row mb-[20px]">
            <p>
              Porque puedes diseñar infraestructuras escalables y eficientes,
              impulsando la innovación y competitividad empresarial. Además, su
              conocimiento es crucial para implementar medidas de seguridad y
              cumplir con normativas, protegiendo datos sensibles. Una
              arquitectura bien planificada mejora la experiencia del usuario y
              reduce costos operativos mediante el uso de tecnologías como la
              virtualización y servicios en la nube.
            </p>
          </div>
          <h2 class="txt-p-estudios">PERFIL DEL EGRESADO</h2>
          <div class="row">
            <p>
              El Profesional Técnico en Administracion de Centro de Cómputo
              tiene competencias profesionales capaz de definir y analizar la
              estructura de los sistemas de información de una organización para
              explotar las ventajas competitivas, también puede diseñar y
              desarrollar sistemas de información para los diversos niveles de
              la organización creando aplicaciones en diferentes plataformas,
              reduciendo así los tiempos de operación; ademas, puede analizar,
              desarrollar e implementar los sistemas de información ya
              establecidos teniendo capacidad de reestructurarlos de acuerdo con
              los requerimientos de la empresa. En cuanto a sus competencias
              para la empleabilidad presenta una omunicacion efectiva e
              interactuar con otras personas en contextos sociales y laborales
              diversos. Tambien tiene facilidad para el trabajo colaborativo,
              toma decisiones con responsabilidad y ejerce su actividad
              profesional con sentido ético.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="plan-estudios">
    <div class="container back-blue">
      <div class="row align-items-center ancho-100 relative cont-malla">
        <div class="col-sm-6">
          <h2 class="txt-p-estudios">DESCUBRE NUESTRA MALLA CURRICULAR</h2>
        </div>
        <div class="col-sm-6 text-center text-md-right">
          <a
            download=""
            href="assets/documents/malla-curricular-servicios-ti.pdf"
            target="_blank"
            class="descargar-brochure dise-curr"
          >
            Malla Curricular pdf
          </a>
        </div>
      </div>
      <div class="row ancho-100 hide-xs relative">
        <div class="acordeon">
          <div class="bloque activo">
            <h2 class="h2">
              MÓDULO 1 : CERTIFICADO EN GESTIÓN Y OPERATIVIDAD DE SOPORTE TÉCNICO DE EQUIPOS DE CÓMPUTO y MONITOREO DE PLATAFORMAS Y SERVICIOS DE TI 
              <img src="/assets/flecha-abajo.svg" alt="icono" />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">PRIMER CICLO:</div>
                <p>Mantenimiento de Computadoras.</p>
                <p>Reparacion de Computadoras.</p>
                <p>Diseño y Fundamentos de Redes de Datos.</p>
                <p>Instalacion y Configuracion  de Redes de Comunicación.</p>
                <p>Instalacion y Configuracion de Servidores.</p>
                <p>Administracion de Redes.</p>
                <p>Seguridad de Redes de Comunicacion.</p>
                <p>Sistemas Operativos.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">SEGUNDO CICLO</div>
                <p>Técnicas de expresión oral y escrita.</p>
                <p>Comprensión y producción de textos.</p>
                <p>Informática e internet.</p>
                <p>Ofimática aplicada a la administración.</p>
                <p>Aplicaciones funcionales<./p>
              </div>
            </div>
          </div>
          <div class="bloque">
            <h2 class="h2">
              MÓDULO 2 : CERTIFICADO EN IMPLEMENTACIÓN DE LOS SISTEMAS DE INFORMACIÓN DE SERVICIOS TI y MANTENIMIENTO INTEGRAL DE PLATAFORMAS DE SERVICIOS Y SISTEMAS DE TI.
              <img src="/assets/flecha-abajo.svg" alt="icono" />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">TERCER CICLO</div>
                <p>Administracion del Soporte Técnico.</p>
                <p>Administracion de Base de Datos.</p>
                <p>Mantenimiento de Infraestructura de TIC´s.</p>
                <p>Gestión de Redes Sociales.</p>
                <p>Fundamentos de Software.</p>
                <p>Administracion de Sistemas Operativos.</p>
                <p>Lógica Computacional.</p>
                <p>Diseño de soluciones de TI.</p>
                <p>Software de Servidor de Red.</p>
                <p>Derecho Informático.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">CUARTO CICLO</div>
                <p>Trabajo en equipo y comunicación efectiva.</p>
                <p>Toma de decisiones y resolucion de conflictos.</p>
                <p>Desarrollo Personal.</p>
                <p>Liderazgo y marketing personal.</p>
              </div>
            </div>
          </div>
          <div class="bloque">
            <h2 class="h2">
              MÓDULO 3 : CERTIFICADO EN DISEÑO DE ARQUITECTURA DE PLATAFORMAS Y SERVICIOS DE TI.
              <img
                src="/assets/flecha-abajo.svg"
                class="icono-flecha"
                alt="icono"
              />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">QUINTO CICLO</div>
                <p>Plan Estratégico de la TIC´s.</p>
                <p>Diseño Gráfico para Web.</p>
                <p>Investigación.</p>
                <p>Desarrollo de Aplicaciones móviles.</p>
                <p>Marketing Digital y Comercio Electrónico.</p>
                <p>Inteligencia Artificial.</p>
                <p>Lenguaje de Programación</p>
                <p>Auditoria en informática.</p>
                <p>Investigación Aplicada.</p>
                <p>Produccion Audiovisual.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">SEXTO CICLO</div>
                <p>Ética y relaciones interpersonales.</p>
                <p>Ética profesional</p>
                <p>Ingles para la comunicación oral y escrita.</p>
                <p>Ingles comercial Básico.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mallacurricular" class="section tabs2">
    <div class="container">
      <b class="ct-subtitle ct-subtitle--blue mb30">DISEÑO CURRICULAR</b>
      <div class="flex-curri">
        <div class="diseño-flex">
          <h2>DISEÑO CURRICULAR</h2>
          <a
            download=""
            href="assets/documents/diseño-curricular-servicios-ti.pdf"
            class="descargar-brochure dise-curr"
            >DESCARGAR PDF
          </a>
        </div>
        <p class="parraf-diseño">
          Nuestro diseño curricular asegura que la educación impartida sea
          coherente, relevante y efectiva para alcanzar las metas educativas
          propuestas, Responsabilidad y ejerce su actividad profesional con
          sentido ético.           
        </p>
      </div>
      <hr />
    </div>
  </section>

  <section id="campolaboral" class="section tabs2">
    <div class="container">
      <b class="ct-subtitle ct-subtitle--blue mb30"
        >PODRÁS DESEMPEÑARTE EN LAS SIGUIENTES ÁREAS</b
      >
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <div class="ct-richText">
            <ul>
              <li>Área de análisis y diseño de Sistemas de Información.</li>
              <li>Área de desarrollo y administración de soluciones y servicios Web.</li>
              <li>Área de mantenimiento de redes de comunicación y servidores.</li>
              <li>Área de soporte técnico de centros de cómputo.</li>
              <li>Área de mantenimiento de equipos de cómputo.</li>
              <li>Área de administración de Base de Datos y servidores.</li>
              <li>Área de auditoría y control de sistemas de información.</li>
              <li>Área de diseño gráfico publicitario.</li>
            </ul>
          </div>
        </div>
        <div class="column is-6 is-offset-1">
          <div class="ct-richText">
            <ul>
              <li>Área de producción multimedia.</li>
              <li>Área de programación de entornos informáticos.</li>
              <li>Área de data center.</li>
              <li>Área de digitación y base de datos.</li>
              <li>Área de asistencia administrativa.</li>
              <li>
                Área de facturación.
              </li>
              <li>
                Área de planillas y remuneraciones.
              </li>
              <li>
                Área de digitalización de la información.
              </li>
              <li>Área de análisis de negocios</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tec-otorga">
    <div class="container relative">
      <img
        src="https://isam.edu.pe/img/rayas_vertical.png"
        class="img-ray-ver"
        alt="imagen decoracion"
      />
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-otorga">OTORGAMOS:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row hide-xs show-lg">
            <div class="col-2-otrg">
              <a target="_blank" href="http://telesup.trabajando.pe/">
                <div class="main-f otorga">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/bolsa_trabajo.png"
                      alt=""
                      class="img-responsive"
                    />
                  </div>
                </div>
                <p>Empleabilidad:<br />Bolsa de Trabajo</p>
              </a>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_1.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>
                Título a nombre de la Nación:
                <strong>Profesional Técnico</strong>
              </p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_2.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>3 certificaciones</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_3.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>Grado de bachiller técnico</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_4.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>Inglés Americano en los 6 ciclos</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_5.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>
                Convalidación directa con universidades con escala preferencial
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="en-que-podrasTrabajar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>CUÁL ES EL TRABAJO DE TECNICO ARQUITECTURA DE PLATAFORMAS Y SERVICIOS DE T.I</h2>
        </div>
      </div>
      <div class="row hide-xs">
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_comercial.png"
                  alt="Icono otorgamos 1"
                />
              </div>
            </div>
            <p>
              Diseñar, implementar y mantener la infraestructura tecnológica que soporta las operaciones de una organización.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_administrativa.png"
                  alt="Icono otorgamos 2"
                />
              </div>
            </div>
            <p>Implementar medidas de seguridad para proteger los datos y sistemas de la organización contra posibles amenazas cibernéticas.</p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_contabilidad.png"
                  alt="Icono otorgamos 3"
                />
              </div>
            </div>
            <p>
              Administrar bases de datos y sistemas de almacenamiento, asegurando que los datos estén disponibles y seguros.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_logistica.png"
                  alt="Icono otorgamos 4"
                />
              </div>
            </div>
            <p>
              Configurar servidores, redes y sistemas de almacenamiento, asegurando que todos los componentes funcionen de manera cohesiva y eficiente.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-center hide-xs">
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_contabilidad.png"
                  alt="Icono otorgamos 3"
                />
              </div>
            </div>
            <p>
              Gestionar la virtualización y el uso de servicios en la nube, lo que permite una mayor flexibilidad y escalabilidad en el uso de recursos tecnológicos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-[40px]">
    <app-formulario-contacto />
  </section>
</div>

<app-footer />
