<app-header />

<section id="pedagogia">
    <div class="container">
        <div class="banner-wrapper">
            <h2>PSICOPEDAGOGÍA</h2>
            <p>El Servicio de Bienestar Estudiantil de Psicopedagogía en Tecnocom se dedica a apoyar el desarrollo
                académico y emocional de nuestros estudiantes. Ofrecemos asesoramiento psicopedagógico y programas de
                intervención educativa para fomentar el éxito académico en un entorno inclusivo y de apoyo.
            </p>
        </div>
    </div>
</section>

<section id="recomendaciones">
    <div class="container">
        <h2>
            RECOMENDACIONES PARA ESTUDIAR SEGÚN EL MINISTERIO DE EDUCACIÓN (MINEDU)
        </h2>
        <div class="recomendaciones-wrapper">
            <div class="card-img">
                <img  src="/assets/recomendacion-1.webp">
            </div>
            <div class="card-img">
                <img src="/assets/recomendacion-2.webp">
            </div>
        </div>
    </div>
</section>

<section id="protocolo">
    <div class="container">
        <h2>
            PROTOCOLOS
        </h2>
        <div class="protocolo-wrapper">
            <img src="/assets/protocolo-def.webp" alt="">
            <img src="/assets/protocolo-def.webp" alt="">
            <img src="/assets/protocolo-def.webp" alt="">
        </div>
    </div>
</section>


<app-footer />