<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>TITULACIÓN</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Definición</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Consideraciones</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">3</div>
      <div class="title-lista">Titulos que se otorgan</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">4</div>
      <div class="title-lista">Requisitos</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">5</div>
      <div class="title-lista">Modalidad trabajo de aplicación profesional</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">6</div>
      <div class="title-lista">Modalidad examen de suficiencia profesional</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">7</div>
      <div class="title-lista">Jurado</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">8</div>
      <div class="title-lista">
        Obtención de grados , títulos y certificaciones
      </div>
    </h3>
    <h3 class="content-title">
      <div class="numero">9</div>
      <div class="title-lista">
        Emisión de grados, títulos y certificaciones en el IES
      </div>
    </h3>
    <h3 class="content-title">
      <div class="numero">10</div>
      <div class="title-lista">Trámite para el título</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">11</div>
      <div class="title-lista">Registro de títulos</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">12</div>
      <div class="title-lista">Visación de títulos</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">13</div>
      <div class="title-lista">Duplicado de grados y títulos</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Definición:</p>
          <p>
            La titulación es el proceso que permite a la institución educativa
            otorgar y emitir el documento oficial Título Profesional Técnico que
            acredite la culminación satisfactoria del programa de estudios para
            todos los niveles formativos. El IES otorga el título de Profesional
            Técnico y es emitido de acuerdo con el modelo único nacional
            establecido por el MINEDU.
          </p>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Los títulos se obtienen en la misma institución educativa en la cual
            se obtuvo el grado respectivo, salvo en los casos en que el IES haya
            dejado de funcionar o el programa de estudio haya sido cerrado. En
            estos casos, el egresado podrá obtener el título en una institución
            distinta, previo proceso de convalidación y cumpliendo los
            requisitos exigidos por la institución educativa.
          </p>
          <p>
            Para la obtención del título profesional técnico, se debe contemplar
            las siguientes consideraciones:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />El estudiante debe haber
              obtenido previamente el grado de bachiller técnico y haber
              aprobado un trabajo de aplicación profesional o un examen de
              suficiencia profesional.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El título de profesional
              técnico se obtiene en el mismo instituto en el cual el estudiante
              realizó el programa de estudios, salvo en los casos en que La
              Institución haya dejado de funcionar o el programa de estudios
              haya cerrado.
            </li>
            <p>
              En estos casos, el egresado podrá obtener el título en una
              institución distinta, previo proceso de convalidación y cumpliendo
              los requisitos exigidos por la institución educativa.
            </p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para la emisión del título
              se utiliza el modelo único nacional establecido por el MINEDU.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            La Escuela de Educación Superior Tecnológica Privada Comenius
            –“TECNOCOM” otorga los siguientes títulos profesionales Técnicos a
            nombre de la Nación aprobados antes de la ley 30512:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Profesional Técnico en
              Arquitectura de plataformas y servicios de Tecnología de la
              Información.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Profesional Técnico en
              Administración Bancaria y Financiera.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Profesional Técnico en
              Guía oficial de turismo.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Profesional Técnico en
              Contabilidad.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Profesional Técnico en
              Gestión Administrativa.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Profesional Técnico en
              Marketing.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            El Título de Profesional Técnico, se otorga a solicitud del egresado
            y al cumplimiento de los siguientes requisitos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de Estudios de
              nivel superior del I al VI periodo académico que acredita la
              culminación satisfactoria del programa de estudios de nivel
              formativo profesional técnico.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Grado Académico de
              BACHILLER TÉCNICO que acredita haber culminado satisfactoriamente
              el programa de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Acta de haber aprobado el
              trabajo de aplicación profesional.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Acta de haber aprobado el
              examen de suficiencia profesional.
            </li>
          </ul>
          <p>
            El egresado para ser declarado expedito deberá presentar los
            siguientes documentos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida al
              Instituto.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del DNI actualizado.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Seis Fotografías tamaño
              pasaporte a color en fondo blanco en papel mate.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del grado de
              Bachiller Técnico.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Constancia de no tener
              deuda de pago con La Institución.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Derecho de pago de
              sustentación de trabajo aplicativo profesional o en su defecto
              pago por examen de suficiencia profesional.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--fifth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Para la obtención del título de Profesional Técnico, mediante esta
            modalidad se tendrá en cuenta lo siguiente:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Se realiza mediante la
              sustentación de un trabajo de aplicación profesional que busca
              consolidar las capacidades de aplicación práctica en situaciones
              específicas del programa de estudios. Está orientado a dar
              solución técnica a una problemática del quehacer profesional del
              programa de estudios y a proponer alternativas de mejora con la
              justificación correspondiente.
            </li>
            <p class="pl-[40px]">
              Los proyectos vinculados a la formación recibida pueden ser:
              Proyecto productivo, Proyecto de desarrollo tecnológico, Proyecto
              de innovación tecnológica, Proyecto empresarial u otros proyectos
              que el estudiante determine.
            </p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Se puede realizar durante
              el desarrollo de los últimos periodos académicos, con el
              asesoramiento de un docente de la especialidad. En caso de
              proyectos o trabajos de aplicación profesional multidisciplinarios
              pueden ser realizados de manera conjunta hasta un máximo de cuatro
              (4) estudiantes, en caso de los estudiantes sean del mismo
              programa de estudios el trabajo puede ser realizado hasta por un
              máximo de dos (2) estudiantes.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El perfil del proyecto
              debe contar con el visto bueno del asesor y el jefe del área
              académica del programa de estudios, quien remite un ejemplar del
              proyecto a Unidad Académica, para su revisión y visto bueno, el
              mismo que será remitido a la Dirección General para la emisión de
              la resolución de autorización correspondiente.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para la evaluación se
              conforma un jurado calificador integrado como mínimo por dos (2)
              personas y con un máximo de cuatro (4) personas, el cual debe
              contar como mínimo con un profesional del programa de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para la justificación de
              esta modalidad se deberá contar con un Acta de Titulación.
            </li>
          </ul>

          <p class="bold-text">
            ASESORAMIENTO DE TRABAJO DE APLICACIÓN PROFESIONAL
          </p>
          <p>
            A) Para el desarrollo del trabajo de aplicación profesional o
            proyecto o el examen de suficiencia, el Jefe de área académica debe
            asignar un docente asesor de oficio, a fin de orientar y
            facilitarles el proceso de titulación.
          </p>
          <p>
            B) Los estudiantes podrán contar con un asesor, siempre y cuando la
            naturaleza del trabajo de aplicación profesional o proyecto lo
            requiera, pudiendo ser un docente de otra especialidad o un
            profesional externo a la institución.
          </p>
          <p>
            C) El asesor realizará su trabajo durante la jornada laboral y
            tendrá entre otras, las siguientes funciones:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Informar a los estudiantes
              sobre los procedimientos de titulación bajo esta modalidad.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Orientar en la
              identificación de problemas relacionados al quehacer profesional,
              sobre los cuales podrían derivar temas de proyectos de titulación.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Socializar con los
              estudiantes el esquema del trabajo de aplicación profesional o
              proyecto. Guiar a los estudiantes en la elaboración del trabajo de
              aplicación profesional o proyecto.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Realizar las correcciones
              y plantear sugerencias a fin de mejorar la calidad del trabajo de
              aplicación profesional o proyecto.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Orientar a los estudiantes
              en cuanto a los procedimientos para solicitar la sustentación.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--sixth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Para la obtención del título de Profesional Técnico, mediante esta
            modalidad se tendrá en cuenta lo siguiente:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Se realiza mediante la
              sustentación de un trabajo de aplicación profesional que busca
              consolidar las capacidades de aplicación práctica en situaciones
              específicas del programa de estudios. Está orientado a dar
              solución técnica a una problemática del quehacer profesional del
              programa de estudios y a proponer alternativas de mejora con la
              justificación correspondiente.
            </li>
            <p class="pl-[40px]">
              Los proyectos vinculados a la formación recibida pueden ser:
              Proyecto productivo, Proyecto de desarrollo tecnológico, Proyecto
              de innovación tecnológica, Proyecto empresarial u otros proyectos
              que el estudiante determine.
            </p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Se puede realizar durante
              el desarrollo de los últimos periodos académicos, con el
              asesoramiento de un docente de la especialidad. En caso de
              proyectos o trabajos de aplicación profesional multidisciplinarios
              pueden ser realizados de manera conjunta hasta un máximo de cuatro
              (4) estudiantes, en caso de los estudiantes sean del mismo
              programa de estudios el trabajo puede ser realizado hasta por un
              máximo de dos (2) estudiantes.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El perfil del proyecto
              debe contar con el visto bueno del asesor y el jefe del área
              académica del programa de estudios, quien remite un ejemplar del
              proyecto a Unidad Académica, para su revisión y visto bueno, el
              mismo que será remitido a la Dirección General para la emisión de
              la resolución de autorización correspondiente.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para la evaluación se
              conforma un jurado calificador integrado como mínimo por dos (2)
              personas y con un máximo de cuatro (4) personas, el cual debe
              contar como mínimo con un profesional del programa de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para la justificación de
              esta modalidad se deberá contar con un Acta de Titulación.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--seventh-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Para la conformación del jurado se tendrá en cuenta lo siguiente:
          </p>
          <p>
            A)Para la sustentación del trabajo de aplicación profesional o
            proyecto vinculado a la formación recibida, el jurado estará
            conformado por:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Directivo (presidente)
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Jefe de área académica
              (secretario)
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Docente de la especialidad
              (Vocal)
            </li>
          </ul>

          <p>
            B)Para la sustentación del examen de suficiencia profesional, el
            jurado estará conformado por:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Directivo (presidente)
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Jefe de área académica
              (secretario)
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Docente de la especialidad
            </li>
          </ul>

          <p class="bold-text">(Vocal) El jurado tiene como función:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Elaborar y aplicar la
              prueba escrita y otras funciones que especifica el Reglamento de
              Titulación.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Definir los casos
              prácticos para la evaluación de la parte demostrativa-práctica de
              la modalidad de titulación mediante examen de suficiencia.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Evaluar la sustentación
              del trabajo de aplicación profesional o proyecto.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Realizar sugerencias a fin
              de mejorar el trabajo de aplicación profesional o proyecto.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Dar a conocer los
              resultados de la evaluación.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Registrar los resultados
              en el acta correspondiente de titulación y se deberá consignar
              como mínimo, la información de los formatos dispuestos por el
              MINEDU.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--eighth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Las exigencias y los procedimientos académicos para la obtención de
            grados, títulos y certificaciones se regulan en las normas internas
            del IES, de acuerdo con los requisitos mínimos contenidos en el
            presente Reglamento, la Ley y las normas que emite el Minedu, de
            corresponder.
          </p>
        </div>
      </div>
    </div>
    <!--nineth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Los grados, títulos y certificaciones se emiten a solicitud del
            interesado al haber cumplido los requisitos establecidos para su
            obtención. Dicha solicitud debe contener la información sobre el
            número y fecha de los documentos que acreditan la obtención del
            grado, título o certificación correspondiente. Los derechos para
            dicha emisión están establecidos en el Texto Único de Procedimientos
            Administrativos respectivo.
          </p>
        </div>
      </div>
    </div>
    <!--tengh-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            La Institución debe tramitar las solicitudes de titulación, que
            presentan los estudiantes, en un plazo no mayor de treinta (30) días
            útiles de cumplir con todos los requisitos.
          </p>
          <p>
            La Institución elaborará el expediente de titulación de cada
            estudiante de acuerdo a los requisitos establecidos por el MINEDU.
            La Institución emitirá el Título, según formato único nacional, de
            acuerdo a las características y requisitos establecidos por el
            MINEDU.
          </p>
          <p>Los títulos deben cumplir los requisitos siguientes:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Están elaborados en el
              formato único oficial del Ministerio de Educación
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Ser expedidos con los
              nombres y apellidos del titular, debidamente comprobados con su
              D.N.I.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />No presentar enmendaduras
              o borrones.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Estar firmado por el
              director general de la Institución.
            </li>
          </ul>
          <p>
            El MINEDU y la DRELM realizarán la supervisión y control del proceso
            de formación profesional y de titulación en La Institución.
          </p>
        </div>
      </div>
    </div>
    <!--eleventh-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            El registro de títulos es responsabilidad de la Dirección de Gestión
            de Instituciones de Educación Técnico - Productiva y Superior
            Tecnológica y Artística – DIGESUTPA del Minedu.
          </p>
        </div>
      </div>
    </div>
    <!--twelveth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            De acuerdo a la Ley N° 30512, la DRELM no tiene competencia para
            visar los títulos.
          </p>
        </div>
      </div>
    </div>
    <!--threeteenth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            ● Los DUPLICADOS de grados y títulos son otorgados por el director
            general de la Institución y sólo procede su tramitación, en caso de
            pérdida o deterioro del título original, debidamente comprobado, a
            solicitud del interesado y de acuerdo al procedimiento que norma el
            MINEDU. Además, para que tengan validez los duplicados de los
            títulos, deben registrarse en el Registro Especial de Duplicados de
            Grados y Títulos, a cargo de la Institución y emitir una Resolución
            Directoral de Duplicado de Título. El duplicado de los títulos
            otorgados anula automáticamente el original, más no sus efectos.
          </p>
          <p>
            ● El duplicado del Grado de Bachiller Técnico, se otorga a solicitud
            del interesado y al cumplimiento de los siguientes requisitos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida al
              Instituto.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" /> Pago de derechos en caja.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Declaración jurada de
              pérdida, robo, deterioro o mutilación del Grado de Bachiller
              Técnico.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Dos (02) Fotografías a
              color tamaño Pasaporte y fondo Blanco.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia legalizada del
              Documento Nacional de Identidad (actual).
            </li>
          </ul>

          <p>
            ● El duplicado del Título de Profesional Técnico, se otorga a
            solicitud del interesado y al cumplimiento de los siguientes
            requisitos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida al
              Instituto.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" /> Pago de derechos en caja.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Declaración jurada de
              pérdida, robo, deterioro o mutilación del Título Profesional
              Técnico.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Dos (02) Fotografías a
              color tamaño Pasaporte y fondo Blanco.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Copia del Documento
              Nacional de Identidad (actual).
            </li>
          </ul>

          <p>
            ● De acuerdo a lo establecido en numeral 93.4 del artículo 93 del
            Reglamento de la Ley N° 30512, La Institución está obligado a
            informar al MINEDU la emisión de grados y títulos duplicados o
            corregidos, remitiendo para tal fin los documentos que los
            sustenten, dentro de los quince (15) días hábiles siguientes a dicha
            emisión.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
