<app-header />
<section class="container-banner-page">
    <div class="overlay-container"></div>
    <div class="container-center-items">
        <div class="wrapper-items">
            <h1>
                Contáctanos
            </h1>
            <!--
             <p>
                Nuestra Visión es ser la institución líder de educación superior técnica en el Perú con alcance a nivel nacional.
            </p>
           -->
        </div>
    </div>
</section>

<section class="container-little-title">
    <div class="container-center flex items-end gap-1">
        <span>
            <a [routerLink]="['']">
                <img src="assets/house-logo.svg" alt="house logo">
            </a>
            <i>
                <img src="assets/arrow-to-right.png" alt="arrow to right">
            </i>
        </span>
        <span class="flex items-center">
            <span class="little-title"></span>
        </span>
        <span class="flex items-center">
            <span class="little-title">Contáctanos</span>
        </span>
    </div>
</section>


<section>
    <div class="centerContent">
        <div class="contactanos-wrapper">
            <div class="info-wrapper">
                <h2>
                    CONTACTO
                </h2>
                <p>Te puedes contactar con nosotros a traves de estos medios.</p>
                <div class="redes-wrapper">
                    <div class="social-card">
                        <img src="/assets/telefono-icono.svg" alt="">
                        <div class="social-info">
                            <h3>
                                Telefono
                            </h3>
                            <p>987654321</p>
                        </div>
                    </div>
                    <div class="social-card">
                        <img src="/assets/correo-icono.svg" alt="">
                        <div class="social-info">
                            <h3>
                                Correo
                            </h3>
                            <p>direccion.general&#64;tecnocom.edu.pe </p>
                        </div>
                    </div>
                    <div class="social-card">
                        <img src="/assets/direc-icono.svg" alt="">
                        <div class="social-info">
                            <h3>
                                Direccion
                            </h3>
                            <p> Manuel A.Fuentes 420</p>
                        </div>
                    </div>
                    <div class="social-card">
                        <img src="/assets/face-icono.svg" alt="">
                        <div class="social-info">
                            <h3>
                                Facebook
                            </h3>
                            <p>TECNOCOM</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="mapa-wrapper">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.2077075235306!2d-77.03538206160614!3d-12.097928412347578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8688a823357%3A0x7b04e5349cca8db7!2sCa.%20Manuel%20A.Fuentes%20420%2C%20Lima%2015046!5e0!3m2!1ses!2spe!4v1723137918784!5m2!1ses!2spe"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>

<app-footer />