<app-header />
<section class="container-banner-page">
    <div class="overlay-container"></div>
    <div class="container-center-items">
        <div class="wrapper-items">
            <h1>
                Contactenos
            </h1>
           <!--
             <p>
                Nuestra Visión es ser la institución líder de educación superior técnica en el Perú con alcance a nivel nacional.
            </p>
           -->
        </div>
    </div>
</section>

<section class="container-little-title">
    <div class="container-center flex items-end gap-1">
        <span>
            <a [routerLink]="['']">
                <img src="/src/assets/house-logo.svg" alt="house logo">
            </a>
            <i>
                <img src="/src/assets/arrow-to-right.png" alt="arrow to right">
            </i>
        </span>
        <span class="flex items-center">
            <span class="little-title"></span>
        </span>
        <span class="flex items-center">
            <span class="little-title">Contactenos</span>
        </span>
    </div>
</section>

<div class="content">
    <div class="content centerContent">
        <!--
            <section class="section container_contacto">
            <h2 class="subtitle">ADMISIÓN</h2>
            <div class="columns">
                <div class="column">
                    <h2 class="card-title">LIMA</h2>
                    <p>Central Telefónica: (01) 633 5555* 
                        <br>
                        Vía WhatsApp: 914790000*
                    </p>
                    <p></p>
                </div>
            </div>
        </section>
        -->
        <section id="servicioEstudiantes" class="section container_contacto">
            <h2 class="subtitle">SERVICIOS AL ESTUDIANTE</h2>
            <div class="columns is-multiline">
                <div class="column">
                    <h2 class="card-title">Direccion:</h2>
                    <p>Calle Manuel Fuentes 420  <br>
                </div>
                <div class="column">
                    <h2 class="card-title">Telefono:</h2>
                    <p>#######<br>
                </div>
                <div class="column">
                    <h2 class="card-title">Correo:</h2>
                    <p>tecnologicocomenius&#64;gmail.com<br>
                </div>
                <!--
                    <div class="column">
                    <h2 class="card-title">BREÑA</h2>
                    <p>932398634 (Whatsapp)</p>
                    <p>sae_bre&#64;cibertec.pe</p>
                </div>
                <div class="column">
                    <h2 class="card-title">CALLAO</h2>
                    <p>980764326 (Whatsapp)</p>
                    <p>sae.callao&#64;cibertec.pe</p>
                </div>
                <div class="column">
                    <h2 class="card-title">LIMA CENTRO</h2>
                    <p>949142445 (Whatsapp)</p>
                    <p>sae_lc&#64;cibertec.pe</p>
                </div>
                -->
            </div>
        </section>
        <!--
            <section class="section container_contacto">
            <h2 class="subtitle">HORARIO DE ATENCION</h2>
            <div class="columns is-multiline">
                <div class="column">
                    <h2 class="card-title">ADMISIÓN:</h2>
                    <p>Lunes a viernes: 09:00 am - 08:00 pm.</p>
                    <p>Sábados: 09:00 am - 05:00 pm</p>
                    <p>Domingos: 10:00 am - 06:00 pm</p>
                    <p>No hay atención días feriados.</p>
                    <h2 class="card-title">SERVICIO AL ESTUDIANTE::</h2>
                    <p>Lunes a viernes: 08:00 am - 08:00 pm</p>
                    <p>Sábados: 09:00 am - 01:00 pm</p>
                </div>
            </div>
        </section>
        -->
    </div>
</div>

<app-footer/>
