<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>CRONOGRAMA</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--<div class="container-title">
  <h2>INFORMACIÓN BÁSICA</h2>
</div>-->

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Cronograma</div>
    </h3>
  </div>
  <div class="tab-content">
    <div class="active all-tab-wrapper">
        <img src="/assets/matricula-cronograma.png" alt="Matricula cronograma flujo imagrn">
    </div>

  </div>
</div>

<app-footer />
