<app-header />

<section class="container-banner-page">
    <div class="overlay-container"></div>
    <div class="container-center-items">
        <div class="wrapper-items">
            <h1>Organigrama</h1>
            
        </div>
    </div>
</section>

<section class="container-little-title">
    <div class="container-center flex items-end gap-1">
        <span>
            <a [routerLink]="['']">
                <img src="assets/house-logo.svg" alt="house logo">
            </a>
            <i>
                <img src="assets/arrow-to-right.png" alt="arrow to right">
            </i>
        </span>
        <span>
            <span class="little-title">ORGANIGRAMA</span>
        </span>
    </div>
</section>

<div class=" max-w-[100%] main-home-container ">
    <div class="my-container mr-auto ml-auto py-[3rem] ">
        <section class="flex flex-col">
            <div class="flex justify-center">
                <div>
                    <h1 class="title-career">ORGANIGRAMA</h1>
                    <h2 class="title-career-little mt-[75px] mb-[65px]"></h2>
                </div>
            </div>
            <div class="">
                    <img src="assets/organigrama_insti.png" class="w-full" alt="">
            </div>

        </section>
    </div>
</div>

<app-footer />