<app-header />
<section class="container-banner-page">
    <div class="overlay-container"></div>
    <div class="container-center-items">
        <div class="wrapper-items">
            <h1>
                INSCRÍBETE
            </h1>

            <p>
                Aquí podrán inscribirse para el examen de admisión, completando el formulario con sus datos personales y
                siguiendo las instrucciones indicadas. Asegúrese de revisar los requisitos y fechas clave para asegurar
                su participación en el proceso. ¡No pierdas la oportunidad de formar parte de nuestro instituto!
            </p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="seccion-wrapper">
            <div class="formulario-wrapper">
                <form class="formulario" action="">
                    <label for="nombre">Nombres</label>
                    <input type="text" placeholder="Escriba su nombre">

                    <label for="nombre">Apellidos</label>
                    <input type="text" placeholder="Escriba sus apellidos">

                    <div class="inputs-wrapper">
                        <div class="input-cont">
                            <label for="">Tipo de documento</label>
                            <select>
                                <option value="dni">DNI</option>
                                <option value="carnet">Carnet de extranjeria</option>
                            </select>
                        </div>

                        <div class="input-cont">
                            <label for="">N° de Documento</label>
                            <input type="number" placeholder="N° de documento">
                        </div>

                        <div class="input-cont">
                            <label for="">Teléfono</label>
                            <input type="tel" placeholder="987654321">
                        </div>

                        <div class="input-cont">
                            <label for="">Correo Electronico</label>
                            <input type="email" placeholder="Ingrese su correo">
                        </div>

                        <div class="input-cont">
                            <label for="">Direccion</label>
                            <input type="text" placeholder="Ingrese su direccion">

                        </div>

                        <div class="input-cont">
                            <label for="">Fecha</label>
                            <input type="date">
                        </div>
                    </div>

                    <label for="">Mensaje</label>
                    <textarea></textarea>
                    <button>Enviar</button>
                </form>
            </div>
            <div class="imagen-wrapper">
                <h2>Próximas indicaciones</h2>
                
            </div>
        </div>
    </div>
</section>


<app-footer />