<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>EVALUACIÓN</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Definición</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Flujograma</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">3</div>
      <div class="title-lista">Tipos de Evaluación</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">4</div>
      <div class="title-lista">Características de Evaluación</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">5</div>
      <div class="title-lista">Criterios Básicos</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Definición:</p>
          <p>
            La evaluación debe entenderse como parte del proceso de aprendizaje,
            debe ser continua y basada en criterios e indicadores que valoren el
            dominio de los saberes prácticos como de conocimientos teóricos.
            Orienta la labor del docente y del estudiante; permite tomar
            decisiones sobre los reajustes a realizar en el proceso de
            aprendizaje y enseñanza.
          </p>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <img src="/assets/evaluacion-mapa.png" alt="" />
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Ordinario :</p>
          <p>
            Se aplica a los estudiantes durante el desarrollo de las unidades
            didácticas. Durante este proceso, de ser necesario, los estudiantes
            pueden rendir evaluaciones de recuperación para alcanzar la
            calificación aprobatoria de la unidad didáctica, de acuerdo a lo
            establecido en el Reglamento Institucional del IES.
          </p>
          <p class="bold-text">
            Criterios y disposiciones para las evoluciones de recuperación:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Si al finalizar el ciclo
              lectivo, un estudiante desaprueba una o más U.D. del ciclo, podrá
              rendir evaluaciones de recuperación a fin de lograr la aprobación
              final de las unidades didácticas.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Ingresan a recuperación
              los estudiantes que al finalizar el ciclo tengan promedios finales
              de entre 10 y 12 en las unidades didácticas.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los exámenes de
              recuperación son programados dos días hábiles después de la
              publicación de la boleta de notas finales.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La evaluación de
              recuperación será registrada en un Acta de Evaluación de
              Recuperación cuyo formato es elaborado por La Institución.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para la evaluación de
              recuperación se utilizará el sistema vigesimal, la nota obtenida
              en la recuperación reemplaza a la nota final desaprobatoria de la
              U.D.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Si luego de rendir la
              evaluación de recuperación, el estudiante volviera a desaprobar,
              este repetirá la unidad didáctica.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Las evaluaciones de
              recuperación se llevarán a cabo en las fechas y horarios
              programados por la Dirección o secretaría Académica.
            </li>
          </ul>
          <br />
          <p class="bold-text">Sustitutorio :</p>
          <p>
            La evaluación sustitutoria es una oportunidad opcional de evaluación
            a la que se somete el estudiante, en caso de no haber rendido uno de
            los exámenes, o desaprobado en el examen parcial o final de la
            unidad didáctica.
          </p>
          <p>
            Procede para aquellos estudiantes que hayan desaprobado una o dos
            unidades didácticas con nota menor que 10.
          </p>
          <p>
            Al final del periodo académico, el estudiante podrá rendir por cada
            unidad didáctica una evaluación adicional de carácter sustitutorio,
            salvo que el docente en su sílabo por la naturaleza del curso,
            señale lo contrario
          </p>
          <p class="bold-text">
            Características de la evaluación sustitutoria:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />De acuerdo con las
              características de cada unidad didáctica, en cada sílabo se indica
              la pertinencia de una evaluación sustitutoria. La nota obtenida es
              inimpugnable y reemplaza, necesariamente a la nota de una
              Evaluación (Parcial o Final).
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para poder rendir la
              evaluación sustitutoria se requiere estar habilitado en la unidad
              didáctica, realizar el pago por el derecho correspondiente y
              realizar la solicitud por el medio establecido y cumplir con
              alguna otra disposición que establezca el IES.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El registro de la nota se
              realiza solamente si se cumplió con lo dispuesto en el inciso
              anterior, en las fechas establecidas. En caso un estudiante haya
              tomado la prueba sin haber realizado el pago que correspondía, la
              nota obtenida no podrá ser considerada, eximiendo al IES de
              cualquier reclamo posterior.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />En caso el estudiante no
              asista a rendir la evaluación sustitutoria de una unidad
              didáctica, se mantendrá sus notas iniciales u originales.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El estudiante al momento
              de realizar su pago en tesorería deberá acercarse al Área de
              Coordinación para recabar el balotario para el examen de
              subsanación. Al momento de la evaluación sustitutoria el
              estudiante deberá de aprobar con nota trece (13). Aprobado la
              evaluación ya puede matricular al siguiente periodo académico o
              tramitar los documentos necesarios si es que el estudiante es
              egresado.
            </li>
          </ul>

          <br />
          <p class="bold-text">Extraordinaria :</p>
          <p>
            La evaluación extraordinaria se aplica cuando el estudiante tiene
            pendiente entre una (01) o dos (02) unidades didácticas para
            culminar el plan de estudios con el que cursó sus estudios, siempre
            que no hayan transcurrido más de tres (03) años.
          </p>
        </div>
      </div>
    </div>
    <!--fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Características de la evaluación:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" /><span class="bold-text"
                >Continua:</span
              >
              Se realiza de manera permanente durante todo el proceso educativo,
              lo cual permite tomar decisiones de manera oportuna y precisa.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" /><span class="bold-text"
                >Flexible</span
              >Permite a los docentes administrar la evaluación y seleccionar
              los instrumentos a utilizar, considerando las características de
              las unidades didácticas, las necesidades y características de los
              estudiantes, de su modelo educativo y el medio educativo.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" /><span class="bold-text"
                >Integral</span
              >Valora de manera cuantitativa y cualitativa el logro de
              capacidades de los estudiantes a partir de sus desempeños,
              habilidades, conocimientos, destrezas motrices y el comportamiento
              actitudinal del estudiante en función de las competencias que debe
              lograr.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" /><span class="bold-text"
                >Sistemática </span
              >Es planificada y por etapas, proporciona información sobre los
              distintos procesos y productos de aprendizaje de los estudiantes,
              la cual es registrada por el docente para el seguimiento del
              estudiante.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" /><span class="bold-text"
                >Criterial</span
              >Toma como referencia los requerimientos del sector productivo, el
              cual brinda la base de comparación para determinar el grado de
              adquisición o desarrollo de capacidades, conocimientos,
              habilidades, destrezas y actitudes.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--fifth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />A partir de las unidades
              de competencia, definir capacidades e indicadores de logro o de
              desempeño que integren la competencia, los cuales constituyen los
              indicadores de evaluación.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Seleccionar y elaborar las
              estrategias de evaluación, es decir, definir el tipo de
              evaluación, las técnicas e instrumentos a utilizar para obtener
              información objetiva sobre el desarrollo y adquisición de la
              competencia por el estudiante.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Aplicar los instrumentos
              de evaluación (observación directa, simulación, estudios del caso,
              resolución de problemas, entre otros), para recoger evidencias en
              relación con la competencia de que se trate.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Analizar la información de
              los instrumentos de evaluación y establecer el nivel de logro
              alcanzado por el estudiante.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Comunicar a los
              estudiantes antes del inicio de las clases y de manera progresiva
              el nivel de logro alcanzado por el estudiante, el cual puede ser
              vigesimal u otro (diferencial semántico o alfabético).
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Comunicar a los
              estudiantes antes del inicio de las clases el proceso de
              evaluación, incluido los criterios para su realización.
            </li>

            <li>
              <img src="/assets/check-2.svg" alt="" />Si el IES aplica un
              sistema de calificación vigesimal, la nota mínima aprobatoria es
              trece:
            </li>
            <p class="pl-11">
              (13) para las unidades didácticas y experiencias formativas. La
              fracción mayor o igual a 0,5 se considera a favor del estudiante.
            </p>

            <li>
              <img src="/assets/check-2.svg" alt="" />Si el IES aplica un
              sistema de calificación diferencial semántico o alfabético, debe
              establecer una equivalencia a la escala vigesimal.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los IES implementan
              mecanismos académicos que apoyen a los estudiantes a lograr los
              aprendizajes esperados en las unidades didácticas. Las unidades
              didácticas correspondientes a un módulo que no hayan sido
              aprobadas al final del período académico deberán volverse a
              llevar.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los IES contemplan en su
              Reglamento Institucional la condición académica para la
              permanencia de sus estudiantes:
            </li>

            <p class="pl-12">
              • La condición académica es el resultado del rendimiento global
              obtenido por un estudiante y reflejado en los índices semestrales
              acumulados de cada periodo y en el número de veces que reprueba
              una misma asignatura.
            </p>
            <p class="pl-12">
              • A través de la condición académica que resulte de los índices de
              un estudiante, se determinará la permanencia de éste en un
              programa de estudios técnicos y/o en La Institución La condición
              académica conlleva a la baja estudiantil para aquellos
              estudiantes, que, por un escaso aprovechamiento de sus estudios,
              no justifiquen el esfuerzo que hace La Institución para dotarlos
              de conocimiento en educación superior, con el nivel académico que
              demanden las necesidades del desarrollo de la sociedad, el momento
              actual y las perspectivas futuras.
            </p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los IES establecen en su
              Reglamento institucional que el máximo de inasistencias no debe de
              superar el treinta por ciento (30%) del total de horas programadas
              para el desarrollo de las unidades didácticas. En el caso de La
              Escuela de Educación Superior Tecnológica Privada Comenius
              –“TECNOCOM”, esta disposición debe ser comunicado al inicio del
              desarrollo de la unidad didáctica.
            </li>
          </ul>
          <p>
            En caso de que, el alumno mantuviera su desacuerdo con la
            calificación otorgada, tiene derecho a solicitar por escrito, en el
            plazo de dos días hábiles a partir de aquél en que se produjo su
            comunicación, que sean revisadas.
          </p>
          <p>
            La solicitud de revisión se presentará ante la Dirección y debe
            exponer las razones o alegaciones que justifiquen la disconformidad
            con la calificación otorgada.
          </p>
          <p>
            Las solicitudes de revisión de una calificación final se trasladarán
            de inmediato al profesor responsable de la unidad didáctica con cuya
            calificación se manifiesta el desacuerdo y se comunicará tal
            circunstancia al Coordinador del Área Académica respectiva.
          </p>
          <p>
            El profesor responsable procederá a estudiar la solicitud de
            revisión recibida, deben constatar las actuaciones seguidas en el
            proceso de evaluación del alumnado y los criterios que se le han
            aplicado con lo establecido en el Proyecto Curricular y en la
            Programación de la Unidad Didácticas correspondientes, con especial
            referencia a:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Adecuación de los
              objetivos, contenidos y criterios de evaluación sobre los que se
              ha llevado a cabo la evaluación del proceso de aprendizaje del
              alumno con los establecidos en la Programación Curricular.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Adecuación de los
              procedimientos e instrumentos de evaluación aplicados con lo
              señalado en la programación.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Correcta aplicación de los
              criterios de calificación y evaluación establecidos en la
              Programación Curricular para la superación de la Unidad Didáctica.
            </li>
          </ul>
          <p>
            En conclusión, del proceso, debe elaborarse un informe, haciendo
            mención de los antecedentes, hechos y actuaciones previas que hayan
            tenido lugar y las conclusiones obtenidas del análisis realizado del
            proceso de evaluación.
          </p>
          <p>
            La decisión que se adopte de modificar o ratificar la calificación
            final objeto de revisión debe estar sólidamente fundamentada por las
            consideraciones expuestas en el informe.
          </p>
          <p>
            La Dirección tiene la obligación de garantizar que los procesos de
            revisión se realizan adecuadamente y que los contenidos de los
            informes justifican las decisiones adoptadas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
