<app-header />
<section class="container-banner-page">
    <div class="overlay-container"></div>
    <div class="container-center-items">
        <div class="wrapper-items">
            <h1>
                NUESTRO DIRECTOR
            </h1>
            <!--
             <p>
                Nuestra Visión es ser la institución líder de educación superior técnica en el Perú con alcance a nivel nacional.
            </p>
           -->
        </div>
    </div>
</section>

<section class="container-little-title">
    <div class="container-center flex items-end gap-1">
        <span>
            <a [routerLink]="['']">
                <img src="/src/assets/house-logo.svg" alt="house logo">
            </a>
            <i>
                <img src="/src/assets/arrow-to-right.png" alt="arrow to right">
            </i>
        </span>
        <span class="flex items-center">
            <span class="little-title">DIRECTOR</span>
        </span>
    </div>
</section>

<div class="content">
    <div class="container ">
        <section class="section blockHistoria">
            <div class="columns">
                <div class="column">
                    <h2>DIRECTOR</h2>
                    <p> En este devenir que hoy aperturamos, nos encontraremos con una infinida de oportunidades y
                        desafíos que juntos enfrentaremos con entusiasmo y compromiso; por eso nuestro mensaje de
                        fortaleza y entusiasmo para todos los estudiantes, profesores, personal administrativo y a
                        todos aquellos que forman parte de esta gran familia educativa. En especial, quiero
                        dirigirme a nuestros estudiantes comprometidos con su formación técnica profesional,
                        aquellos que día a día se esforzaran por adquirir los conocimientos y habilidades necesarias
                        para dar respuestas a las urgentes necesidades sociales y del mercado laboral. Ustedes son
                        el motor de nuestro Instituto, la razón por la que trabajaremos incansablemente para
                        brindarles la mejor educación y las herramientas que les permitirán alcanzar sus metas y
                        contribuir al desarrollo de nuestra sociedad. </p><br>

                    <p>
                        Este nuevo año académico nos brinda la oportunidad de seguir creciendo juntos, de aprender,
                        de innovar y de superar los desafíos que se nos presenten. Estoy seguro de que, con su
                        dedicación, esfuerzo y pasión por su formación técnica profesional, lograremos grandes cosas
                        y juntos construiremos un futuro mejor. Les animo a aprovechar al máximo todas las
                        oportunidades que les ofrece nuestro Instituto, a ser proactivos en su aprendizaje, a
                        colaborar y apoyarse mutuamente, y a nunca perder de vista sus objetivos y sueños. Recuerden
                        que el conocimiento es la llave que abre todas las puertas, y ustedes tienen en sus manos el
                        poder de forjar un futuro brillante y exitoso.
                    </p><br>

                    <p>
                        Este nuevo año académico nos brinda la oportunidad de seguir creciendo juntos, de aprender,
                        de innovar y de superar los desafíos que se nos presenten. Estoy seguro de que, con su
                        dedicación, esfuerzo y pasión por su formación técnica profesional, lograremos grandes cosas
                        y juntos construiremos un futuro mejor. Les animo a aprovechar al máximo todas las
                        oportunidades que les ofrece nuestro Instituto, a ser proactivos en su aprendizaje, a
                        colaborar y apoyarse mutuamente, y a nunca perder de vista sus objetivos y sueños. Recuerden
                        que el conocimiento es la llave que abre todas las puertas, y ustedes tienen en sus manos el
                        poder de forjar un futuro brillante y exitoso.
                    </p><br>

                    <p>
                        ¡Les deseo a todos un exitoso y enriquecedor año académico! Juntos, ¡vamos por más! 
                    </p>
                </div>
               <!--
                 <div class="column">
                    <img src="../../../assets/CARD-GESTION-Y-NEGOCIOS-310x310.jpeg" alt="">
                </div>
               -->
            </div>
        </section>
    </div>
</div>

<!--
    <div class="content">
    <div class="container ">
        <section class="section block">
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <h2>MISION</h2>
                        <p>Somos una escuela líder que brinda una formación inicial y continua en EIB, promoviendo el
                            pensamiento crítico – reflexivo e inclusivo, fortaleciendo la práctica de valores, la
                            investigación e innovación y el desarrollo sostenible, mejorando el proceso de enseñanza
                            aprendizaje, con docentes idóneos, con una capacidad instalada para un servicio de calidad.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h2>VISION</h2>
                        <p>Al 2025 Ser una escuela líder a nivel regional de formación docente inicial y continua en
                            EIB,
                            brindando servicios de calidad, promoviendo la mejora del desarrollo personal y la
                            investigación, considerando el cambio social, respetando el contexto natural y cultural.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
-->


<app-footer />