<app-header />
<section class="container-banner-page">
    <div class="overlay-container"></div>
    <div class="container-center-items">
        <div class="wrapper-items">
            <h1>
                HISTORIA, <br>
                MISION Y VISION
            </h1>
            <!--
             <p>
                Nuestra Visión es ser la institución líder de educación superior técnica en el Perú con alcance a nivel nacional.
            </p>
           -->
        </div>
    </div>
</section>

<section class="container-little-title">
    <div class="container-center flex items-end gap-1">
        <span>
            <a [routerLink]="['']">
                <img src="../../../assets/house-logo.svg" alt="house logo">
            </a>
            <i>
                <img src="../../../assets/arrow-to-right.png" alt="arrow to right">
            </i>
        </span>
        <span class="flex items-center">
            <span class="little-title">HISTORIA</span>
        </span>
    </div>
</section>

<div class="content">
    <div class="container ">
        <section class="section blockHistoria">
            <div class="columns">
                <div class="column">
                    <h2>HISTORIA</h2>
                    <p>Cibertec inicia sus actividades en el año 1983 con la finalidad de presentar un proyecto
                        alternativo de formación superior en el campo de la Computación e Informática. Hoy Cibertec es
                        el Primer Centro Autorizado de Enseñanza en el Perú. Tiene licencia para funcionar como Centro
                        Autorizado de Exámenes Sylvan Prometric desde 1983; por el que puede ofrecer a sus estudiantes
                        Exámenes de Certificación con validez internacional.</p>
                </div>
                <div class="column">
                    <img src="../../../assets/CARD-GESTION-Y-NEGOCIOS-310x310.jpeg" alt="">
                </div>
            </div>
        </section>
    </div>
</div>

<div class="content">
    <div class="container ">
        <section class="section block">
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <h2>MISION</h2>
                        <p>Somos una escuela líder que brinda una formación inicial y continua en EIB, promoviendo el
                            pensamiento crítico – reflexivo e inclusivo, fortaleciendo la práctica de valores, la
                            investigación e innovación y el desarrollo sostenible, mejorando el proceso de enseñanza
                            aprendizaje, con docentes idóneos, con una capacidad instalada para un servicio de calidad.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h2>VISION</h2>
                        <p>Al 2025 Ser una escuela líder a nivel regional de formación docente inicial y continua en
                            EIB,
                            brindando servicios de calidad, promoviendo la mejora del desarrollo personal y la
                            investigación, considerando el cambio social, respetando el contexto natural y cultural.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<app-footer />