<app-header />
<section class="container-banner-page">
    <div class="overlay-container"></div>
    <div class="container-center-items">
        <div class="wrapper-items">
            <h1>
                NUESTRO DIRECTOR
            </h1>
            <!--
             <p>
                Nuestra Visión es ser la institución líder de educación superior técnica en el Perú con alcance a nivel nacional.
            </p>
           -->
        </div>
    </div>
</section>

<section class="container-little-title">
    <div class="container-center flex items-end gap-1">
        <span>
            <a [routerLink]="['']">
                <img src="assets/house-logo.svg" alt="house logo">
            </a>
            <i>
                <img src="assets/arrow-to-right.png" alt="arrow to right">
            </i>
        </span>
        <span class="flex items-center">
            <span class="little-title">HISTORIA TECNOCOM</span>
        </span>
    </div>
</section>

<div class="content">
    <div class="container ">
        <section class="section blockHistoria">
            <div class="columns">
                <div class="column">
                    <h2>HISTORIA</h2>
                    <h3>TECNOCOM</h3>
                    <p> La escuela de educación superior tecnológica COMENIUS - TECNOCOM fue creada un 06 de octubre de
                        2023 mediante partida registral N.º 15422478, apostando por las carreras técnicas, teniendo como
                        objetivo ofrecer una formación profesional de calidad que responda a las demandas educativas, de
                        las empresas y otros referentes productivos. Surge del ideal de un grupo humano, cuya labor ha
                        sido la de realizar capacitaciones a jóvenes y a docentes. Ellos vieron la necesidad de brindar
                        una herramienta de trabajo para que la juventud pueda sostenerse a lo largo de su vida. Esta
                        iniciativa se traduce en la idea de fundar un centro de estudios de educación superior, con
                        carreras de alta demanda laboral, siempre alineado a las necesidades de nuestra sociedad. </p>
                    <br>

                    <p>
                        El nombre COMENIUS, fue designado en honor a uno de los más grandes pedagogos que con espíritu
                        innovador y visionario de su época, se proyectó cómo debería ser la didáctica y la enseñanza a
                        los jóvenes, demostrando siempre un carácter comprometido con el aprendizaje de los estudiantes
                        y el desarrollo de su entorno con base en la educación.
                    </p><br>

                    <p>
                        TECNOCOM es una institución de educación superior tecnológica que se caracteriza por su enfoque
                        práctico, orientado a la aplicación de conocimientos en situaciones reales de trabajo, que
                        mantiene una relación estrecha con las empresas e industrias relevantes. Lo que permite adaptar
                        su oferta académica a las necesidades del mercado y asegurar a sus egresados el empeoramiento de
                        las habilidades y competencias requeridas por los empleadores.
                    </p><br>


                    <p>TECNOCOM tiene como ideal fortalecer a la juventud, con la formación de competencias técnico
                        profesional que les brinden medios de inserción económica al mundo Laboral.
                    </p><br>
                    <p>
                        Tenemos espacios de apoyo y asistencia social para la juventud, además como institución, nos
                        preocupamos de cerrar las brechas económicas de distancia territorial y tecnológicas, brindando
                        una propuesta educativa de alta calidad al alcance de la mayoría de los peruanos.
                    </p><br>

                    <p>La creación de nuestra institución educativa se fundamenta en el emprendimiento, innovación y los
                        valores humanos, para así formar profesionales técnicos altamente capacitados, actualizados e
                        íntegros que puedan responder de manera exitosa a las exigencias y desafíos de nuestro mundo
                        laboral.</p>
                </div>
                <!--
                 <div class="column">
                    <img src="../../../assets/CARD-GESTION-Y-NEGOCIOS-310x310.jpeg" alt="">
                </div>
               -->
            </div>
        </section>
    </div>
</div>

<!--
    <div class="content">
    <div class="container ">
        <section class="section block">
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <h2>MISION</h2>
                        <p>Somos una escuela líder que brinda una formación inicial y continua en EIB, promoviendo el
                            pensamiento crítico – reflexivo e inclusivo, fortaleciendo la práctica de valores, la
                            investigación e innovación y el desarrollo sostenible, mejorando el proceso de enseñanza
                            aprendizaje, con docentes idóneos, con una capacidad instalada para un servicio de calidad.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h2>VISION</h2>
                        <p>Al 2025 Ser una escuela líder a nivel regional de formación docente inicial y continua en
                            EIB,
                            brindando servicios de calidad, promoviendo la mejora del desarrollo personal y la
                            investigación, considerando el cambio social, respetando el contexto natural y cultural.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
-->


<app-footer />