<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>RETIFICACIÓN DE NOMBRE Y APELLIDO</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Definición</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Requisitos</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Definición:</p>
          <p>
            Es la acción administrativa de personal mediante la cual, a
            solicitud del estudiante o egresado, o de oficio se rectifica su
            nombre y/o apellido en certificados de estudios,grados y títulos.
          </p>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>Los requisitos son los siguientes:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida a la
              Institución.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" /> Dos (2) fotos a color,
              tamaño pasaporte, fondo blanco, (de preferencia caballeros con
              terno y damas con sastre).
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Documento que acredite el
              nombre o apellido a ser rectificado.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" /> Derecho de pago por
              rectificación de datos
            </li>
          </ul>
          <p>
            El pago por los derechos de tramitación no aplica para los casos en
            los que la Institución incurra en error al momento de emitir los
            certificados de estudios, grados y títulos.
          </p>
          <p>
            Si fuese lo contrario los derechos por dicho proceso se harán a
            través de los canales establecidos por la institución (bancos o caja
            de la Institución), a través de cualquier
          </p>
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <p>
            La reserva de matrícula formaliza que el estudiante deja de estudiar
            un periodo académico, A solicitud del ingresante o estudiante, según
            corresponda, pueden reservar la matrícula de estudios 30 días antes
            de iniciar el período académico, fuera de este plazo sólo procederá
            si el problema es de salud debidamente comprobado.
          </p>
          <p>
            El ingresante o estudiante, según corresponda, pueden reservar la
            matrícula antes de iniciar el período académico.
          </p>
          <p>
            La reserva de matrícula procede solo para los estudiantes que hayan
            ingresado y no pueden continuar sus estudios en el primer periodo La
            Institución otorga reserva de matrícula a solicitud del estudiante,
            hasta por un periodo máximo de dos años (cuatro periodos
            académicos), siempre que se haya matriculado en el periodo
            respectivo en que solicita la reserva de matrícula; solicitada
            previamente por el estudiante. Después de los cuales podrán
            reingresar.
          </p>

          <p>
            En caso de existir una variación de los planes de estudio, se
            aplicarán los procesos de convalidación que corresponda y
            matricularse en las unidades didácticas faltantes de cada periodo
            académico.
          </p>

          <p>
            La Dirección General de la Institución, mediante Resolución
            Directoral, otorga reserva de matrícula, hasta por cuatro periodos
            académicos a los estudiantes y por causa debidamente justificada,
            debiendo ser consecutivo. Concluida la reserva de matrícula,
            aquellos que no reingresen, incurren en abandono de estudios.
          </p>
          <p>
            Requisitos para solicitar la Reserva de Matrícula, el interesado
            deberá cumplir con los siguientes requisitos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida al
              director, exponiendo sus motivos que ameritan tal petición.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <div class="ml-3">
          <p>
            El estudiante incurre en abandono de estudios en los siguientes
            casos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Cuando deja de asistir
              injustificadamente durante (20) días hábiles consecutivos y no
              solicita licencia de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Cuando estando con
              licencia no se reincorpora al término de la misma (dentro de los 2
              años).
            </li>
          </ul>
          <p>
            En ambos casos pierde su condición de estudiante de la Institución.
            Para ser aceptados nuevamente en La Institución deberán postular y
            aprobar el proceso de admisión.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
