@if (menu == "administrativa") {
<div class="header-phone scrolled active-phone ">
    <div class="container-header-phone ">
        <a [routerLink]="['']" class="logo-header-phone">
            <img src="/src/assets/logo-cibertec.svg" width="120" height="30" alt="logo intituto">
        </a>
        <div class="iconos-header-phone">

            <div class="nav-header-phone close-nav-phone " (click)="toggleMenuPhone()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

</div>
<div class="container-main-transparency">
    <main class="main-container-items">
        <div class="transparency-documents">
            <ul class="wrapper-card-documents pl-0">

                <li id='doc-reglamento' class="card-document">
                    <a [routerLink]="['/director']">
                        <h3>DIRECTOR</h3>
                    </a>
                </li>


                <li id='doc-reglamento' class="card-document">
                    <a [routerLink]="['/transparencia']">
                        <h3>TRANSPARENCIA</h3>
                    </a>
                </li>


                <li id='doc-reglamento' class="card-document">
                    <a [routerLink]="['/organigrama']">
                        <h3>ORGANIGRAMA</h3>
                    </a>
                </li>

                <li id='doc-reglamento' class="card-document">
                    <a [routerLink]="['/gestion']">
                        <h3>DOCUMENTOS DE GESTION</h3>
                    </a>
                </li>

            </ul>
        </div>
    </main>
</div>
}
@else {
<div class="header-phone scrolled active-phone ">
    <div class="container-header-phone ">
        <a [routerLink]="['']" class="logo-header-phone">
            <img src="/src/assets/logo-cibertec.svg" width="120" height="30" alt="logo intituto">
        </a>
        <div class="iconos-header-phone" >

            <div class="nav-header-phone close-nav-phone " (click)="toggleMenuPhone()" >
                <span ></span>
                <span></span>
                <span ></span>
            </div>
            <div class="btn-search">
                <img src="/src/assets/search.svg" height="24" width="24" alt="">
            </div>
        </div>
    </div>

</div>
<div class="container-main-transparency">
    <main class="main-container-items">
        <div class="transparency-documents">
            <ul class="wrapper-card-documents pl-0">

                <li id='doc-reglamento' class="card-document">
                    <a [routerLink]="['/carreras']">
                        <h3>CARRERAS</h3>
                    </a>
                </li>

                <li id='doc-reglamento' class="card-document">
                    <a [routerLink]="['/admision']">
                        <h3>ADMISION</h3>
                    </a>
                </li>

                <li id='doc-reglamento' class="card-document">
                    <a [routerLink]="['']">
                        <h3>REPOSITORIO</h3>
                    </a>
                </li>

            </ul>
        </div>
    </main>
</div>
}