<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>CONVALIDACIONES</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Definición</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Flujo de Procedimiento</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">3</div>
      <div class="title-lista">Caracteristicas</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">4</div>
      <div class="title-lista">Modalidades de Convalidacion</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">5</div>
      <div class="title-lista">Convalidacion entre planes de Estudio</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">6</div>
      <div class="title-lista">Convalidacion por unidades de competencia</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Definición:</p>
          <p>
            A) La convalidación es un proceso de reconocimiento de las
            capacidades adquiridas por una persona respecto a una competencia,
            tanto en las instituciones educativas o en el ámbito laboral,
            debidamente certificada por una institución autorizada. La sola
            convalidación no conduce a un título o certificación; permite la
            incorporación o continuación en el proceso formativo.
          </p>
          <p>
            B) La convalidación es aprobada mediante una resolución directoral
            emitida y registrada por el IES, de conformidad con los lineamientos
            académicos generales.
          </p>
          <p>
            C) El proceso de convalidación reconoce, un módulo, una o más
            unidades didácticas del programa de estudios, así como unidades de
            competencia para el caso del ámbito laboral y permite la continuidad
            de los estudios respecto a un determinado plan de estudios de la
            Institución.
          </p>
          <p>
            D) Los requisitos para solicitar convalidaciones de estudio son los
            siguientes:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida a la
              Institución antes de iniciado el proceso de matrícula.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estudios
              que acredite la aprobación de los cursos, unidades didácticas o
              asignaturas a convalidar, según corresponda.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Sílabos de los cursos,
              unidades didácticas o asignaturas a convalidar, según corresponda.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Los estudiantes solicitan
              la convalidación de sus estudios luego de ser admitidos por La
              Institución, mediante una solicitud dirigida al director,
              adjuntando una copia del DNI.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La Institución plantea una
              ruta formativa de las capacidades faltantes con sus
              correspondientes unidades didácticas.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Secretaria académica es la
              encargada de implementar el proceso de convalidación en
              coordinación con la unidad académica.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />En todos los casos las
              convalidaciones deben ser registrado por La Institución, para lo
              cual se emitirá una Resolución Directoral, consignando los datos
              del estudiante, las unidades didácticas o unidades de competencia
              convalidada, el motivo de la convalidación y la ruta formativa
              pendiente.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los estudiantes luego de
              haber desarrollado unidades didácticas de uno o más módulos, y
              dejaron de estudiar en un lapso de tiempo (más dos años), podrán
              reingresar de acuerdo a los procesos de convalidación establecidos
              en el reglamento correspondiente.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La Institución deberá
              convalidar los estudios de aquellos estudiantes que retoman sus
              estudios después de un lapso de tiempo (más de dos años) y cuando
              hayan cambiado el plan de estudio inicial.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />En el caso de traslado
              externo o segundo título, las convalidaciones de Unidades
              Didácticas se realizan, previa presentación de la solicitud de
              convalidación a la Dirección General de la Institución, durante el
              plazo establecido en el reglamento respectivo y calendarización
              académica.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El jefe de la Unidad
              Académica y los coordinadores de las áreas académicas de la
              Institución, conforman la Comisión de Convalidación con los
              docentes relacionados a las Unidades Didácticas, materia de
              convalidación. Esta Comisión evalúa y emite un informe.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La Dirección General de la
              Institución emitirá la Resolución Directoral Institucional de
              convalidación en un plazo no mayor de 15 días calendario, a partir
              de la recepción de la solicitud de convalidación.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La Tabla de equivalencia
              para la convalidación de asignaturas con Unidades Didácticas será
              considerada en la Resolución Directoral Institucional de
              convalidación.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Los estudiantes que se
              retiraron y hayan aprobado Unidades didácticas de los módulos
              formativos, pueden reingresar y seguir estudiando en el sistema
              modular, CONVALIDANDO las Unidades Didácticas aprobadas, con el
              contenido de las UD de los módulos formativos del DCBN, de acuerdo
              a la tabla de equivalencia señalada en el artículo anterior de la
              presente.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Se debe tener en
              consideración para la convalidación de estudios en La Institución:
              o Identificación de un mínimo de 80% de contenidos similares y
              nivel de complejidad de la asignatura o Unidad Didáctica, según
              corresponda y según calificación de la Institución. o Comprobación
              de equivalencia de créditos, teniendo en cuenta que el valor del
              crédito de la asignatura o Unidad Didáctica, según corresponda, de
              la institución de origen, debe tener un valor de créditos igual o
              superior a la institución de destino.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <img src="/assets/convalidacion-mapa.png" alt="" />
        </div>
      </div>
    </div>
    <!--fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            En La Institución, el proceso de convalidación entre planes de
            estudios, pueden ser de dos tipos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Convalidación entre planes
              de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Convalidación por unidades
              de competencia.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--fifth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Para realizar las convalidaciones en esta modalidad, se debe tener
            en cuenta que las unidades didácticas (UD) constituyen las unidades
            académicas mínimas para la convalidación y deben estar aprobadas. Se
            realiza cuando se presentan las siguientes condiciones:
          </p>
          <ul class="requisitos-list">
            <p class="bold-text">A) Cambio de plan de estudios.</p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Estudiantes que iniciaron
              sus estudios con unplan de estudios que ha perdido vigencia y
              deben continuar con un nuevo plan, en la misma u otra institución
              educativa autorizada o licenciada.
            </li>
            <p class="bold-text">B) Cambio de programa de estudios.</p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Estudiantes que se
              trasladan a otro programa de estudios en la misma institución
              educativa u otra formalmente autorizada o licenciada.
            </li>
            <p class="bold-text">
              C) Con la Educación Secundaria bajo convenio con un IES.
            </p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Estudiantes que en el
              marco de un convenio entre una institución de educación secundaria
              y un IES licenciado desarrollen cursos o módulos vinculados a un
              programa de estudios determinado.
            </li>
          </ul>
          <P
            >Los cursos o módulos desarrollados por instituciones de Educación
            Secundaria mediante convenios con IES, pueden ser convalidados o
            reconocidos por estos últimos, de acuerdo con los lineamientos
            académicos generales establecidos por el Minedu.</P
          >

          <p class="bold-text">
            Consideraciones para la Convalidación entre planes de estudios
          </p>
          <p>
            El proceso de convalidación se realiza de acuerdo con las siguientes
            consideraciones mínimas:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Para realizar las
              convalidaciones en esta modalidad, se deberá tener en cuenta que
              las unidades didácticas (UD) constituyen las unidades académicas
              mínimas para la convalidación y deben estar aprobadas.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La institución deberá
              realizar un análisis comparativo de las unidades didácticas (UD)
              de ambos planes de estudio, apoyándose en los sílabos del programa
              de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La unidad didáctica (UD)
              contrastada para la convalidación, deben tener como mínimo el 80%
              de contenidos similares y ser del mismo nivel de complejidad.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />A la unidad didáctica (UD)
              convalidada se le asignará el creditaje de acuerdo al plan de
              estudios de la institución donde continuará los estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Las convalidaciones deben
              ser registradas por la institución la cual emitirá una Resolución
              Directoral consignando como mínimo los datos del estudiante, las
              unidades didácticas o unidades de competencia convalidadas y la
              justificación correspondiente. Asimismo, se debe consignar la ruta
              formativa complementaria.
            </li>
          </ul>

          <p class="bold-text">
            Requisitos para la convalidación entre planes estudio
          </p>
          <p>Los requisitos para convalidar estudios son los siguientes:</p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida a la
              Institución o al EES antes de iniciado el proceso de matrícula.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de estudios
              que acredite la aprobación de los cursos, unidades didácticas o
              asignaturas a convalidar, según corresponda.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Sílabos de los cursos,
              unidades didácticas o asignaturas a convalidar, según corresponda.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--sixth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>Se realiza cuando se presentan las siguientes condiciones:</p>
          <ul class="requisitos-list">
            <p class="bold-text">A) Certificación de Competencias laborales</p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Se convalida la unidad de
              competencia laboral descrita en el certificado de competencia
              laboral, con la unidad de competencia asociada a un programa de
              estudios. Al momento de la convalidación el certificado de
              competencia laboral debe estar vigente y debe ser emitido por un
              centro de certificación autorizado.
            </li>
            <p class="bold-text">B) Certificación Modular</p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Se convalida la unidad de
              competencia o unidades de competencia, de ser el caso, descritas
              en el certificado modular, con la unidad de competencia asociada a
              un programa de estudios. Al momento de la convalidación el
              programa de estudios asociado al certificado modular como a la
              unidad de competencia a convalidar, debe estar autorizado o
              licenciado.
            </li>
          </ul>

          <p class="bold-text">
            Considreaciones de convalidacion por unidades de competencia
          </p>
          <p>
            El proceso de convalidación se realiza de acuerdo con las siguientes
            consideraciones mínimas:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Para el caso de
              certificación de competencias laborales, la institución deberá
              contrastar la unidad de competencia descrita en el certificado de
              competencia laboral y el perfil asociado, con la unidad de
              competencia e indicadores de logro asociado a un programa de
              estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Para el caso de la
              certificación modular, la institución deberá contrastar la unidad
              de competencia e indicadores de logro descritos en el certificado
              modular con la unidad de competencia e indicadores de logro
              asociados a un programa de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Las unidades de
              competencia contrastadas para la convalidación deben tener
              contenidos similares y ser del mismo nivel de complejidad. De ser
              el caso, si la unidad de o La competencia convalidada corresponde
              a un módulo formativo de debe reconocer el módulo en su totalidad.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Si la convalidación es por
              todo el módulo, se le asignará el total de créditos de acuerdo al
              plan de estudios de la Institución donde continuará los estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Las convalidaciones deben
              ser registradas por la institución la cual emitirá una Resolución
              Directoral consignando como mínimo los datos del estudiante, las
              unidades didácticas o unidades de competencia convalidadas y la
              justificación correspondiente. Asimismo, se debe consignar la ruta
              formativa complementaria.
            </li>
          </ul>
          <p class="bold-text">
            Requisitos para la convalidación por unidades de competencia
          </p>
          <p>Los requisitos para convalidar estudios son los siguientes:</p>
          <ul class="requisitos-list">
            <p class="bold-text">
              A)Por Certificación de competencias laborales:
            </p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida al
              director.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Certificado de competencia
              Laboral vigente otorgado por Institución autorizada, el mismo que
              deberá ser afín al plan de estudios correspondiente.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Recibo de pago por derecho
              de convalidación.
            </li>
            <li><img src="/assets/check-2.svg" alt="" />Certificado modular</li>
            <li>
              <img src="/assets/check-2.svg" alt="" /> Copia simple del perfil
              ocupacional
            </li>
          </ul>
          <ul class="requisitos-list">
            <p class="bold-text">A)Por Certificación modular:</p>
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida al
              director.
            </li>
            <li><img src="/assets/check-2.svg" alt="" />Certificado Modular</li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Recibo de pago por derecho
              de convalidación.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
