<app-header />

<section id="asistencia">
    <div class="container">
        <div class="banner-wrapper">
            <h2>ASISTENCIA SOCIAL</h2>
            <p>El Servicio de Bienestar Estudiantil de Asistencia Social en Tecnocom está comprometido con el apoyo
                integral a nuestros estudiantes. Ofrecemos recursos y programas de asistencia social para garantizar su
                bienestar, creando un entorno inclusivo y de apoyo.</p>
        </div>
    </div>
</section>

<section id="recomendaciones">
    <div class="container">
        <h2>
            RECOMENDACIONES PARA LA SALUD SEGÚN EL MINISTERIO DE SALUD(MINSA)
        </h2>
        <div class="recomendaciones-wrapper">
            <div class="card-img">
                <img src="/assets/social-1.webp">
            </div>
            <div class="card-img">
                <img src="/assets/social-2.webp">
            </div>
        </div>
    </div>
</section>

<section id="protocolo">
    <div class="container">
        <h2>
            PROTOCOLOS
        </h2>
        <div class="protocolo-wrapper">
            <img src="/assets/protocolo-def.webp" alt="">
            <img src="/assets/protocolo-def.webp" alt="">
            <img src="/assets/protocolo-def.webp" alt="">
        </div>
    </div>
</section>


<app-footer />