<section id="hero">
    <div class="unete-wrapper">
        <div class="unete-cont">
            <img src="/assets/logo-comenius-blanco.svg" alt="">
            <p>Beienvenidos a Tecnocom.Para Continuar, porfavor ingresa tu código de alumno.</p>
            <form class="formulario">
                <input type="text" placeholder="código de alumno">
                <button class="btn-comunidad">Ingresar</button>
            </form>
           
        </div>
    </div>
    <img src="/assets/comunidad-fondo.webp" />
    <div class="capa">
    </div>
</section>