<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <img
                  class="icon-carr-banner"
                  src="https://isam.edu.pe/img/icon_marketing.png"
                  alt=""
                />
                <h1>MARKETING</h1>
                <div class="tex-modalidad sistemas">
                  <h2>
                    Analizan el mercado, de acuerdo con las variables del
                    entorno del negocio, público objetivo y recursos
                    disponibles.
                  </h2>
                </div>
                <!--<div class="descargar-brochure sistemas">
                  <a
                    download=""
                    href="assets/documents/malla-curricular-contabilidad.pdf"
                    target="_blank"
                    >Ver malla curricular</a
                  >
                </div>-->
              </div>
              <!--<div class="box-conveniosUnivers distancia logo-u-banner">
                <h2>Convalida tu carrera:</h2>
                <div class="cont-unis">
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_u_wiener.png"
                      alt="universidad 1"
                    />
                  </div>
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_sjb.png"
                      alt="universidad 2"
                    />
                  </div>
                  <div class="middle universidadesCon">
                    <img
                      src="https://isam.edu.pe/img/logo_ucv.png"
                      alt="universidad 3"
                    />
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="beneficios-home-internas sistemas">
    <div class="container">
      <div class="row">
        <div class="img-benefi col-sm-4">
          <div class="main-height beneficios-home col-h-1 hide-xs">
            <div>
              <img
                src="https://isam.edu.pe/img/carrera_contabilidad.png"
                alt=""
                class="img-responsive im_semi_personaje"
              />
            </div>
          </div>
        </div>
        <div class="txt-benefi col-sm-8">
          <div class="main-height beneficios-home col-h-2">
            <div>
              <h2>¿QUÉ ES?</h2>
              <p class="texto-largo-content">
                La carrera técnica de marketing se destaca por su enfoque en la
                formación práctica y orientada al mercado laboral, donde
                adquieres habilidades directamente aplicables en entornos
                profesionales. Se explora los principios fundamentales del
                marketing, desde la segmentación de mercados y el análisis del
                comportamiento del consumidor, hasta el desarrollo de
                estrategias de marketing y la gestión de campañas publicitarias
              </p>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="/assets/calendario-icono.svg"
                      class="icono-img"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>INICIO</h2>
                <P>Agosto</P>
              </div>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/icon_grado.png"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>MODALIDAD:</h2>
                <P>VIRTUAL</P>
              </div>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/icon_credito.png"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>DURACIÓN:</h2>
                <P>3 años</P>
              </div>
              <div class="caja-moda hide-xs">
                <div class="main-f modalidad">
                  <div>
                    <img
                      src="/assets/talleres-icono.svg"
                      class="icono-img"
                      alt="Icon Modalidad"
                    />
                  </div>
                </div>
                <h2>TALLERES:</h2>
                <P>Y cursos adicionales gratuitos</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="competencia">
    <img
      src="/assets/alumna-img.png"
      class="absolute-img"
      alt="imagen alumna"
    />
    <div class="container">
      <!-- <div class="row">
        <div class="col-12">
          <h2 class="text-competencias-e">PERFIL DEL EGRESADO</h2>
        </div>
      </div>-->
      <div class="row">
        <!-- <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_1.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Comunicación <br />
              Efectiva
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_2.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Espíritu <br />
              Emprendedor
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_3.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Gestor <br />
              Eficaz
            </h2>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="caja-competencias">
            <div class="main-f competencias">
              <div>
                <img
                  src="https://isam.edu.pe/img/competencia_icon_4.png"
                  alt=""
                />
              </div>
            </div>
            <h2>
              Dominio de <br />
              Herramientas <br />
              Informáticas
            </h2>
          </div>
        </div>-->
        <div class="backblu-perfil col-sm-7">
          <h2 class="txt-p-estudios">¿POR QUÉ ESTUDIAR?</h2>
          <div class="row mb-[20px]">
            <p>
              Este tipo de formación se centra en habilidades directamente
              aplicables, como la gestión de campañas, el análisis de datos de
              mercado y el uso de herramientas digitales, preparándolos para
              enfrentar situaciones reales desde el primer día de trabajo. La
              alta demanda de profesionales en marketing asegura buenas
              perspectivas de empleo en una variedad de roles, desde asistentes
              de marketing hasta gestores de redes sociales. La versatilidad de
              las habilidades adquiridas, como la creatividad, la capacidad de
              innovación y la competencia en comunicación, permite a los
              graduados explorar diferentes áreas dentro del campo.
            </p>
          </div>
          <h2 class="txt-p-estudios">PERFIL DEL EGRESADO</h2>
          <div class="row">
            <p>
              El Profesional Técnico en MARKETING tiene competencias
              profesionales para gestionar estrategias de marketing online y
              offline de manera innovadora, basados en el análisis de mercado,
              utilizando medios de comunicación diversos para la mejora de la
              comercialización de servicios y productos, utilizando, de manera
              responsable, herramientas digitales y metodologías ágiles; En
              cuanto a sus competencias para la empleabilidad presenta una
              comunicación efectiva e interactuar con otras personas en
              contextos sociales y laborales diversos. También tiene facilidad
              para el trabajo colaborativo, toma decisiones con responsabilidad
              y ejerce su actividad profesional con sentido ético.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="plan-estudios">
    <div class="container back-blue">
      <div class="row align-items-center ancho-100 relative cont-malla">
        <div class="col-sm-6">
          <h2 class="txt-p-estudios">DESCUBRE NUESTRA MALLA CURRICULAR</h2>
        </div>
        <div class="col-sm-6 text-center text-md-right">
          <a
            download=""
            href="assets/documents/malla-curricular-marketing.pdf"
            target="_blank"
            class="descargar-brochure dise-curr"
          >
            Malla Curricular pdf
          </a>
        </div>
      </div>
      <div class="row ancho-100 hide-xs relative">
        <div class="acordeon">
          <div class="bloque activo">
            <h2 class="h2">
              MÓDULO 1 : ANÁLISIS DEL MERCADO
              <img src="/assets/flecha-abajo.svg" alt="icono" />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">PRIMER CICLO:</div>
                <p>Administracion de Negocios.</p>
                <p>Marketing.</p>
                <p>Nuevas Tendencias en Marketing.</p>
                <p>Pensamiento Lógico para los Negocios.</p>
                <p>Experiencia del Cliente.</p>
                <p>Investigacion del Mercado.</p>
                <p>Comportamiento del Consumidor.</p>
                <p>Herramientas Digitales para los Negocios.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">SEGUNDO CICLO</div>
                <p>Técnicas de expresión oral y escrita.</p>
                <p>Comprensión y producción de textos.</p>
                <p>Informatica e internet.</p>
                <p>Ofimática.</p>
                <p>
                  Aplicaciones de Redacción y demás instrumentos <br />
                  para la gestión administrativa.
                </p>
              </div>
            </div>
          </div>
          <div class="bloque">
            <h2 class="h2">
              MÓDULO 2 : ESTRATEGIAS DE PRODUCTOS Y SERVICIOS.
              <img src="/assets/flecha-abajo.svg" alt="icono" />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">TERCER CICLO</div>
                <p>Gestión de Marca.</p>
                <p>Diseño y Gestión de Productos.</p>
                <p>Big Data Aplicada a los Negocios.</p>
                <p>Creatividad e Innovación.</p>
                <p>Planeamiento Comercial.</p>
                <p>Pricing: Estrategias de Precio.</p>
                <p>Comunicación Estratégica en Marketing.</p>
                <p>Liderazgo Estratégico.</p>
                <p>Metodologías Ágiles para la innovacion.</p>
                <p>investigación Aplicada I.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">CUARTO CICLO</div>
                <p>Trabajo en equipo y comunicación efectiva.</p>
                <p>Toma de decisiones y resolución de conflictos.</p>
                <p>Desarrollo Personal.</p>
                <p>Liderazgo y marketing personal.</p>
              </div>
            </div>
          </div>
          <div class="bloque">
            <h2 class="h2">
              MÓDULO 3 : GESTIÓN Y DIRECCIÓN ESTRATÉGICA DE MARKETING.
              <img
                src="/assets/flecha-abajo.svg"
                class="icono-flecha"
                alt="icono"
              />
            </h2>
            <div class="contenido">
              <div class="col-sm-4">
                <div class="text-modulo">QUINTO CICLO</div>
                <p>
                  Estrategias de Fidelizacion y <br />
                  Retencion de Clientes.
                </p>
                <p>Trade Marketing.</p>
                <p>Plataformas Digitales para Marketing.</p>
                <p>Modelo de Negocios Digitales.</p>
                <p>Personal Branding.</p>
                <p>Gestión de Equipos de Marketing.</p>
                <p>Marketing intelligence.</p>
                <p>Marketing Internacional.</p>
                <p>Growth Hacking Marketing.</p>
                <p>Investigación Aplicada II.</p>
              </div>
              <div class="col-sm-4">
                <div class="text-modulo">SEXTO CICLO</div>
                <p>Investigación Aplicada.</p>
                <p>Ética Profesional.</p>
                <p>Ingles para la comunicación oral y escrita.</p>
                <p>Ingles Comercial Básico.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mallacurricular" class="section tabs2">
    <div class="container">
      <b class="ct-subtitle ct-subtitle--blue mb30">DISEÑO CURRICULAR</b>
      <div class="flex-curri">
        <div class="diseño-flex">
          <h2>DISEÑO CURRICULAR</h2>
          <a
            download=""
            href="assets/documents/diseño-curricular-marketing.pdf"
            class="descargar-brochure dise-curr"
            >DESCARGAR PDF
          </a>
        </div>
        <p class="parraf-diseño">
          Nuestro diseño curricular asegura que la educación impartida sea
          coherente, relevante y efectiva para alcanzar las metas educativas
          propuestas, Responsabilidad y ejerce su actividad profesional con
          sentido ético.           
        </p>
      </div>
      <hr />
    </div>
  </section>

  <section id="campolaboral" class="section tabs2">
    <div class="container">
      <b class="ct-subtitle ct-subtitle--blue mb30"
        >PODRÁS DESEMPEÑARTE EN LAS SIGUIENTES ÁREAS</b
      >
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <div class="ct-richText">
            <ul>
              <li>Investigación de Mercados.</li>
              <li>Marketing Digital.</li>
              <li>Gestión de Redes Sociales.</li>
              <li>Publicidad y Promoción.</li>
              <li>Ventas y Gestión de Clientes.</li>
            </ul>
          </div>
        </div>
        <div class="column is-6 is-offset-1">
          <div class="ct-richText">
            <ul>
              <li>Branding y Desarrollo de Marcas.</li>
              <li>Comunicación Corporativa</li>
              <li>Comercio Electrónico (E-commerce).</li>
              <li>Eventos y Experiencia de Cliente.</li>
              <li>Análisis y Reportes de Marketing.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tec-otorga">
    <div class="container relative">
      <img
        src="https://isam.edu.pe/img/rayas_vertical.png"
        class="img-ray-ver"
        alt="imagen decoracion"
      />
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-otorga">OTORGAMOS:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row hide-xs show-lg">
            <div class="col-2-otrg">
              <a target="_blank" href="http://telesup.trabajando.pe/">
                <div class="main-f otorga">
                  <div>
                    <img
                      src="https://isam.edu.pe/img/bolsa_trabajo.png"
                      alt=""
                      class="img-responsive"
                    />
                  </div>
                </div>
                <p>Empleabilidad:<br />Bolsa de Trabajo</p>
              </a>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_1.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>
                Título a nombre de la Nación:
                <strong>Profesional Técnico</strong>
              </p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_2.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>3 certificaciones</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_3.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>Grado de bachiller técnico</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_4.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>Inglés Americano en los 6 ciclos</p>
            </div>
            <div class="col-2-otrg">
              <div class="main-f otorga">
                <div>
                  <img
                    src="https://isam.edu.pe/img/otorga_icon_5.png"
                    alt=""
                    class="img-responsive"
                  />
                </div>
              </div>
              <p>
                Convalidación directa con universidades con escala preferencial
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="en-que-podrasTrabajar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>CUÁL ES LA LABOR DEL TÉCNICO</h2>
        </div>
      </div>
      <div class="row hide-xs">
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_comercial.png"
                  alt="Icono otorgamos 1"
                />
              </div>
            </div>
            <p>
              Gestiona y optimiza campañas online y publicidad en redes
              sociales.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_administrativa.png"
                  alt="Icono otorgamos 2"
                />
              </div>
            </div>
            <p>
              Desarrolla estrategias de email marketing, crear contenido
              atractivo para blogs y redes sociales.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_contabilidad.png"
                  alt="Icono otorgamos 3"
                />
              </div>
            </div>
            <p>
              Aumentar la visibilidad de la marca y mejorar el engagement con el
              público.
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_logistica.png"
                  alt="Icono otorgamos 4"
                />
              </div>
            </div>
            <p>
              Gestióna redes sociales es otra área clave, donde el técnico en
              marketing crea y programa publicaciones, interactúa con seguidores
              y analiza métricas para optimizar las estrategias de contenido.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-center hide-xs">
        <div class="col-sm-3 col-6">
          <div class="icon-podras-trabajar">
            <div class="icon-trabajar">
              <div>
                <img
                  src="https://isam.edu.pe/img/area_de_contabilidad.png"
                  alt="Icono otorgamos 3"
                />
              </div>
            </div>
            <p>
              Planifica y ejecuta campañas publicitarias en medios tradicionales
              y digitales, colabora en la producción de materiales publicitarios
              y monitorea el desempeño de las campañas para hacer ajustes
              necesarios.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-[40px]">
    <app-formulario-contacto />
  </section>
</div>

<app-footer />
