<app-header />

<div class="main-content">
  <section class="seccion-banner interna sistemas">
    <div class="container-banner">
      <div class="row">
        <div class="column columna-content">
          <div class="mian-f banner-internas">
            <div>
              <div class="titulo-banner interna sistemas">
                <h1>LICENCIA DE ABANDONO</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="tabs title-wrapper">
    <h3 class="active content-title">
      <div class="numero">1</div>
      <div class="title-lista">Definición</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">2</div>
      <div class="title-lista">Requisitos</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">3</div>
      <div class="title-lista">Sobre la reserva</div>
    </h3>
    <h3 class="content-title">
      <div class="numero">4</div>
      <div class="title-lista">Abandono de Estudios</div>
    </h3>
  </div>
  <div class="tab-content">
    <!--first-->
    <div class="active all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p class="bold-text">Definición:</p>
          <p>
            El estudiante puede solicitar licencia de estudios una vez
            matriculado y por causas justificadas La Institución otorga licencia
            a los estudiantes a su solicitud, por un periodo máximo de 02 años
            (cuatro periodos académicos), una vez concluido el plazo concedido y
            ante la imposibilidad de continuar su plan de estudios, deberá
            solicitar reserva de matrícula. Si al reingresar a la institución
            hay variación de los planes de estudio, se aplicaran los procesos de
            convalidación que corresponde y matricularse en las unidades
            didácticas faltantes de cada periodo académico. El estudiante
            solicitará licencia de estudios en los siguientes casos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" /> El estudiante puede
              solicitar licencia de estudios una vez matriculado y por causas
              justificadas.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />De haber transcurrido el
              30% del período para el periodo académico, por casos debidamente
              justificados (económico, salud, duelo familiar hasta el segundo
              grado de consanguinidad, trabajo, servicio militar) podrá el
              estudiante, solicitar Licencia de estudios en forma documentada,
              la que deberá contar con aprobación de la dirección.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La licencia de estudios,
              no excederá de 02 años consecutivos o alternos.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Si el estudiante no
              solicitó licencia de estudios, se le acumulará el tiempo de
              ausencia como permanencia en La Institución, la cual no excederá
              02 años consecutivos o alternos.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />La permanencia del
              estudiante en La Institución será acumulativa, desde su ingreso,
              en caso de lograr un nuevo ingreso a otro programa de estudios,
              conservará su situación, condición académica y código de
              matrícula.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />El ingresante podrá
              solicitar licencia de estudios, siempre y cuando haya estudiado
              como mínimo el primer periodo académico inmediato a su ingreso,
              caso contrario perderá su vacante. En casos especiales podrá
              solicitar la licencia de estudios con documentos debidamente
              sustentados y aprobados por la Dirección.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            Para solicitar licencia de estudios, el interesado deberá cumplir
            con los siguientes requisitos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" /> Solicitud dirigida al
              director, exponiendo sus motivos que ameritan tal petición.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--third-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            La reserva de matrícula formaliza que el estudiante deja de estudiar
            un periodo académico, A solicitud del ingresante o estudiante, según
            corresponda, pueden reservar la matrícula de estudios 30 días antes
            de iniciar el período académico, fuera de este plazo sólo procederá
            si el problema es de salud debidamente comprobado.
          </p>
          <p>
            El ingresante o estudiante, según corresponda, pueden reservar la
            matrícula antes de iniciar el período académico.
          </p>
          <p>
            La reserva de matrícula procede solo para los estudiantes que hayan
            ingresado y no pueden continuar sus estudios en el primer periodo La
            Institución otorga reserva de matrícula a solicitud del estudiante,
            hasta por un periodo máximo de dos años (cuatro periodos
            académicos), siempre que se haya matriculado en el periodo
            respectivo en que solicita la reserva de matrícula; solicitada
            previamente por el estudiante. Después de los cuales podrán
            reingresar.
          </p>

          <p>
            En caso de existir una variación de los planes de estudio, se
            aplicarán los procesos de convalidación que corresponda y
            matricularse en las unidades didácticas faltantes de cada periodo
            académico.
          </p>

          <p>
            La Dirección General de la Institución, mediante Resolución
            Directoral, otorga reserva de matrícula, hasta por cuatro periodos
            académicos a los estudiantes y por causa debidamente justificada,
            debiendo ser consecutivo. Concluida la reserva de matrícula,
            aquellos que no reingresen, incurren en abandono de estudios.
          </p>
          <p>
            Requisitos para solicitar la Reserva de Matrícula, el interesado
            deberá cumplir con los siguientes requisitos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Solicitud dirigida al
              director, exponiendo sus motivos que ameritan tal petición.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--fourth-->
    <div class="all-tab-wrapper">
      <div class="tab-content-flex mb-4">
        <img height="28" width="28" src="/assets/student.svg" alt="" />
        <div class="ml-3">
          <p>
            El estudiante incurre en abandono de estudios en los siguientes
            casos:
          </p>
          <ul class="requisitos-list">
            <li>
              <img src="/assets/check-2.svg" alt="" />Cuando deja de asistir
              injustificadamente durante (20) días hábiles consecutivos y no
              solicita licencia de estudios.
            </li>
            <li>
              <img src="/assets/check-2.svg" alt="" />Cuando estando con
              licencia no se reincorpora al término de la misma (dentro de los 2
              años).
            </li>
          </ul>
          <p>
            En ambos casos pierde su condición de estudiante de la Institución.
            Para ser aceptados nuevamente en La Institución deberán postular y
            aprobar el proceso de admisión.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
