<app-header />

<section id="info-egresados">
    <div class="container">
        <div class="titulo-wrapper">
            <h2>INFORMACIÓN PARA LOS EGRESADOS </h2>
            <p>Esta sección está diseñada para proporcionarles toda la información, recursos y apoyo que necesitan para
                continuar su camino con éxito. Encontrarán detalles sobre nuestras oportunidades de desarrollo
                profesional, eventos exclusivos y servicios diseñados para facilitar su transición del instituto al
                mundo laboral.</p>
        </div>
    </div>
</section>

<section id="opciones-egresados">
    <div class="container">
        <div class="opciones-wrapper">
            <div class="card-opcion">
                <div class="opcion-img">
                    <img src="/assets/opciones-egresados-1.webp">
                </div>
                <a href="#" class="opcion-info">
                    <h2>PROCESO PARA LA TITULACIÓN</h2>
                    <img src="/assets/flecha-derecha.svg" alt="arrow-2">
                </a>
            </div>
            <div class="card-opcion">
                <div class="opcion-img">
                    <img src="/assets/opciones-egresados-3.webp">
                </div>
                <a href="#" class="opcion-info">
                    <h2>MODALIDADES DE TITULACIÓN</h2>
                    <img src="/assets/flecha-derecha.svg" alt="arrow-2">
                </a>
            </div>
            <div class="card-opcion">
                <div class="opcion-img">
                    <img src="/assets/opciones-egresados-2.webp">
                </div>
                <a href="#" class="opcion-info">
                    <h2>TRAMITE PARA BACHILLER</h2>
                    <img src="/assets/flecha-derecha.svg" alt="arrow-2">
                </a>
            </div>
        </div>
    </div>
</section>
<app-footer />